
<!DOCTYPE>
<html>
	<head>
		<meta charset = "utf8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OTCMODE</title>
		<link rel = "stylesheet" href = "../dist/css/bootstrap.css">
		<link rel = "stylesheet" href = "../dist/css/toastr.min.css">
		<link rel = "stylesheet" href = "../dist/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel = "stylesheet" href = "https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">

		<link href="../dist/css/custom.css" rel="stylesheet">
		<link href="../dist/css/custom-1200.css" rel="stylesheet" media="screen and (max-width:1199px) and (min-width: 992px)">
		<link href="../dist/css/custom-992.css" rel="stylesheet" media="screen and (max-width:991px) and (min-width: 768px)">
		<link href="../dist/css/custom-768.css" rel="stylesheet" media="screen and (max-width:767px) and (min-width: 576px)">
		<link href="../dist/css/custom-576.css" rel="stylesheet" media="screen and (max-width:575px)">

		<!-- <link rel = "stylesheet" href = "../dist/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "../dist/css/uniform.default.css">
		<link rel = "stylesheet" href = "../dist/css/components.css">
		<link rel = "stylesheet" href = "../dist/css/layout.css"> -->
		<link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
		<link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
		<link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
	</head>
	{{##def.format:param:{{=(param.n).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class = "container">
			 <a class="navbar-brand" href="/?clang={{=it.translation['langfor']}}"><img src = "./images/mark.png" id='id_imgLogo'></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:10px;">
					<div style="float:left; width:50%;">
						<li class="nav-item class_mobileShow" style="display: none;">
							<a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 115px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
						</li>
					</div>
					<div style="float:left; width:50%;">
						<ul class="navbar-nav ml-auto class_mobileFloatNone" style="float:right;">
							<li class="nav-item class_mobileHidden">
								<a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 115px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
								</a>
								<div class="dropdown-menu" aria-labelledby="langdropdown">
									<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
									<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<!-- Chat Modal  -->
		<div class="modal fade" id="chatModal" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content modal-height">
					<div class="modal-header bg-success" style="display: block">
						<h4  class="modal-title text-white float-left">{{?it.translation['langfor']=='zh'}}聊天窗口{{??}}Chat Window{{?}}</h4>
						<button type="button" class="close text-white float-right" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body bg-light chat-back">
						<ui id="chatbox">

						</ui>
					</div>
					<div class="modal-footer m-1">

					</div>
				</div>
			</div>
		</div>
		<!-- Message Send Modal-->
		<!-- Modal -->
		<div id="msgModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">{{=it.translation.message}}</h4>
					</div>
					<div class="modal-body">
						<div class="input-group mb-3">
							<input type="text" class="form-control" name="messages" value="">
							<div class="input-group-append">
								<button class="btn btn-outline-success" type="button" id="sendMsg" data-dismiss="modal">{{=it.translation.send}}</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<input type="text" value="{{=it.translation['langfor']}}" hidden="true" id = "lang">
		<!--- Modal -->
		<ul class="nav nav-pills justify-content-center bg-white" id="pills-tab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="pills-statics-tab" data-toggle="pill" href="#pills-statics" role="tab" aria-controls="pills-statics" aria-selected="true">{{=it.translation['statistics']}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-order-tab" data-toggle="pill" href="#pills-order" role="tab" aria-controls="pills-order" aria-selected="false">{{=it.translation['advertisement']}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-trading-tab" data-toggle="pill" href="#pills-trading" role="tab" aria-controls="pills-trading" aria-selected="false">{{=it.translation['trade']}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-user-tab" data-toggle="pill" href="#pills-user" role="tab" aria-controls="pills-user" aria-selected="false">{{=it.translation['users']}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-withdraw-tab" data-toggle="pill" href="#pills-withdraw" role="tab" aria-controls="pills-withdraw" aria-selected="false">{{=it.translation['with/dep']}}</a>
			</li>
		</ul>
		<main class = "admin-back">
			<div class = "container">
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-statics" role="tabpanel" aria-labelledby="pills-statics-tab">
						<h3 class = "text-center mt-5">{{=it.translation['companywallet']}}&nbsp;{{=it.translation['information']}}</h3>
						<h5>{{=it.translation['companywallet']}}:</h5>
						<div class = "row">
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class = "input-group">
									<div class = "input-group-prepend">
										<span class = "input-group-text">
											{{=it.translation['btc']}}:
										</span>
									</div>
									<input name = "BTC_WALLET" type = "text" value = "{{=it.user['balance_btc']}}" disabled class = "form-control">
								</div>
							</div>
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class = "input-group">
									<div class = "input-group-prepend">
										<span class = "input-group-text">
											{{=it.translation["eth"]}}:
										</span>
									</div>
									<input name = "ETH_WALLET"  type = "text" value = "{{=it.user['balance_eth']}}" disabled class = "form-control">
								</div>
							</div>
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class = "input-group">
									<div class = "input-group-prepend">
										<span class = "input-group-text">
											{{=it.translation["gp"]}}:
										</span>
									</div>
									<input name = "MDC_WALLET"  type = "text" value = "{{=it.user['balance_mdc']}}" disabled class = "form-control">
								</div>
							</div>
						</div>
						<h5>{{=it.translation['currentfee']}}:</h5>
						<div class = "row">
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class = "input-group">
									<div class = "input-group-prepend">
										<span class = "input-group-text">
											{{=it.translation['btc']}}(%):
										</span>
									</div>
									<input name = "BTC_FEE" type = "number" step = "0.000001" value = "{{=it.common.btc_fee*100}}"  class = "form-control">
									<div class = "input-group-append">
										<button class = "btn btn-secondary" type = "button" onclick = "setFee('BTC')">{{=it.translation['set']}}</button>
									</div>
								</div>

							</div>
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class = "input-group">
									<div class = "input-group-prepend">
										<span class = "input-group-text">
											{{=it.translation["eth"]}}(%):
										</span>
									</div>
									<input name = "ETH_FEE" type = "number" step = "0.000001"  value = "{{=it.common.eth_fee*100}}"  class = "form-control">
									<div class = "input-group-append">
										<button class = "btn btn-secondary" type = "button" onclick = "setFee('ETH')">{{=it.translation['set']}}</button>
									</div>
								</div>

							</div>
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class = "input-group">
									<div class = "input-group-prepend">
										<span class = "input-group-text">
											{{=it.translation["gp"]}}(%):
										</span>
									</div>
									<input name = "MDC_FEE" type = "number" step = "0.000001" value = "{{=it.common.mdc_fee*100}}"  class = "form-control">
									<div class = "input-group-append">
										<button class = "btn btn-secondary" type = "button" onclick = "setFee('MDC')">{{=it.translation['set']}}</button>
									</div>
								</div>

							</div>
						</div>
						<h5>{{=it.translation['rate']}}</h5>
						<div class = "row">
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class = "input-group">
									<div class = "input-group-prepend">
										<span class = "input-group-text">
											{{=it.translation['btc']}}/CNY
										</span>
									</div>
									<input name = "BTC_SET" type = "number" step = "0.000001" value = "{{=it.common.ex_btc_cost}}"  class = "form-control">
									<div class = "input-group-append">
										<button class = "btn btn-secondary" type = "button" onclick = "setExCost('BTC')">{{=it.translation['set']}}</button>
									</div>
								</div>

							</div>
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class = "input-group">
									<div class = "input-group-prepend">
										<span class = "input-group-text">
											{{=it.translation["eth"]}}/CNY
										</span>
									</div>
									<input name = "ETH_SET" type = "number" step = "0.000001"  value = "{{=it.common.ex_eth_cost}}"  class = "form-control">
									<div class = "input-group-append">
										<button class = "btn btn-secondary" type = "button" onclick = "setExCost('ETH')">{{=it.translation['set']}}</button>
									</div>
								</div>

							</div>
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class = "input-group">
									<div class = "input-group-prepend">
										<span class = "input-group-text">
											{{=it.translation["gp"]}}/CNY
										</span>
									</div>
									<input name = "MDC_SET" type = "number" step = "0.000001" value = "{{=it.common.ex_mdc_cost}}"  class = "form-control">
									<div class = "input-group-append">
										<button class = "btn btn-secondary" type = "button" onclick = "setExCost('MDC')">{{=it.translation['set']}}</button>
									</div>
								</div>

							</div>
						</div>
						<h5>{{=it.translation['totalamount']}}:</h5>
						<div class = "row">
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class = "input-group">
									<div class = "input-group-prepend">
										<span class = "input-group-text">
											{{=it.translation['btc']}}:
										</span>
									</div>
									<input name = "btc_total" type = "text" value = "" disabled class = "form-control">
								</div>
							</div>
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class = "input-group">
									<div class = "input-group-prepend">
										<span class = "input-group-text">
											{{=it.translation["eth"]}}:
										</span>
									</div>
									<input name = "eth_total" type = "text" value = "" disabled class = "form-control">
								</div>
							</div>
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class = "input-group">
									<div class = "input-group-prepend">
										<span class = "input-group-text">
											{{=it.translation["gp"]}}:
										</span>
									</div>
									<input name = "mdc_total" type = "text" value = "" disabled class = "form-control">
								</div>
							</div>
						</div>
						<h5>{{=it.translation['statistics']}}:</h5>
						<div class = "row">
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-3">
								<div class = "input-group">
									<div class = "input-group-prepend">
										<span class = "input-group-text">
											{{=it.translation['from']}}:
										</span>
									</div>
									<input name = "from_stati" type = "date" value = "2018-03-01" class = "form-control">
								</div>
							</div>
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-3">
								<div class = "input-group">
									<div class = "input-group-prepend">
										<span class = "input-group-text">
											{{=it.translation['to']}}:
										</span>
									</div>
									<input name = "to_stati" type = "date" value = "{{=it.now}}" class = "form-control">
								</div>
							</div>
							<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-3">

							</div>
						</div>
						<div class = "table-responsive mt-3">
							<table class = "table table-hover">
								<thead>
									<tr>
										<th>{{=it.translation['deposite']}}
										</th>
										<th>{{=it.translation['withdrawals']}}
										</th>
										<th>{{=it.translation['profit']}}
										</th>
										<th>{{=it.translation['cointype']}}
										</th>
									</tr>
								</thead>
								<tbody id = "statistic_table">
									<tr>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td><span class = "ic ic-btc">{{=it.translation['btc']}}</span>
										</td>
									</tr>
									<tr>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td><span class = "ic ic-eth">{{=it.translation['eth']}}</span>
										</td>
									</tr>
									<tr>
										<td>
										</td>
										<td>
										</td>
										<td>
										</td>
										<td><span class = "ic ic-gp">{{=it.translation['gp']}}</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<h5>{{=it.translation['withdrawals']}}:</h5>
						<div class = "row">
							<div class = "col-xs-12 col-sm-6 col-md-3 mt-3">
								<div class = "form-group">
									<select class = "form-control" name = "type_company">
										<option value = "1">{{=it.translation['btc']}}</option>
										<option value = "2">{{=it.translation["eth"]}}</option>
										<option value = "3">{{=it.translation["gp"]}}</option>
									</select>
								</div>
							</div>
							<div class = "col-xs-12 col-sm-6 col-md-3 mt-3">
								<div class = "input-group">
									<!-- <div class = "input-group-prepend">
										<span class = "input-group-text">Amount</span>
									</div> -->
								</div>
								<input type = "number" step = "0.0000000001" class = "form-control" name = "amount_company" placeholder = "{{=it.translation['amounttowithdraw']}}">
							</div>
							<div class = "col-xs-12 col-sm-6 col-md-3 mt-3">
								<div class = "input-group">
									<!-- <div class = "input-group-prepend">
										<span class = "input-group-text">Address</span>
									</div> -->
								</div>
								<input type = "text" class = "form-control" name = "addr_company" placeholder = "{{=it.translation['addresstowithdraw']}}">
							</div>
							<div class = "col-xs-12 col-sm-6 col-md-3 mt-3">
								<button class = "btn btn-success" onclick = "companyWithdraw()">{{=it.translation['withdraw']}}</button>
							</div>
						</div>
					</div>
					<div class="tab-pane fade mt-5" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
						<table id = "orderTable" class = "table bg-white  text-center">
							<thead style="background-color: #f7f7f7">
							<th>
								Id
							</th>
							<th>
								{{=it.translation['username']}}
							</th>
							<th>
								{{=it.translation['cost']}}
							</th>
							<th>
								{{=it.translation['amount']}}
							</th>
							<th>
								{{=it.translation['availableamount']}}
							</th>
							<th>
								{{=it.translation['status']}}
							</th>
							<th>
								{{=it.translation['operation']}}
							</th>
							</thead>
							<tbody>
							{{~it.orders : dataone : i}}
							<tr class="{{=dataone['id']}}">
								<td>
									{{=dataone['id']}}
								</td>
								<td>
									{{=dataone['user_name']}}
								</td>
								<td>
									{{=dataone['cost']}}
								</td>
								<td>
									{{=dataone['volumn']}}{{=dataone['market']}}
								</td>
								<td>
									{{=dataone['remaining_volumn']}}{{=dataone['market']}}
								</td>
								<td class="status">
									{{?dataone['status']==0}}{{=it.translation['posted']}}
									{{??}}{{=it.translation['cancelled']}}
									{{?}}
								</td>
								<td class="text-center">
									{{?dataone['status']==0}}
									<button type="button" class="btn btn-danger" name="{{=dataone['id']}}" onclick="deleteOrder(this)">{{=it.translation['cancel']}}</button>
									{{??}}
									{{?}}
								</td>
							</tr>
							{{~}}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade mt-5" id="pills-trading" role="tabpanel" aria-labelledby="pills-trading-tab">
						<table id = "tradingTable" class = "table bg-white  text-center	">
							<thead style="background-color: #f7f7f7">
							<tr class = 'text-grey'>
								<th>
									{{=it.translation['submitno']}}
								</th>
								<th>
									{{=it.translation['seller']}}
								</th>
								<th>
									{{=it.translation['buyer']}}
								</th>
								<th>{{=it.translation['cost']}}
								</th>
								<th>{{=it.translation['amount']}}
								</th>
								<th>{{=it.translation['totalprice']}}
								</th>
								<th>{{=it.translation['currentfee']}}
								</th>
								<th>{{=it.translation['status']}}
								</th>
								<th class="text-center">{{=it.translation['message']}}
								</th>

								<th class="text-center">{{=it.translation['operation']}}
								</th>
							</tr>
							</thead>
							<tbody>
								{{~it.tradings : dataone : i}}
								<tr class="{{=dataone['txid']}}">
									<td>
										{{=dataone['txid']}}
									</td>
									<td>
										<div>
											{{=dataone['seller_name']}}
										</div>
									</td>

									<td>
										<div>
											{{=dataone['buyer_name']}}
										</div>
									</td>

									<td>
										<div>
											{{=dataone['cost']}} CNY
										</div>
									</td>
									<td>
										<div>
											{{=dataone.volumn}}
											<!-- {{#def.format: {n: dataone.volumn, decimals: 8 } }} -->
											{{=dataone['market']}}
										</div>
									</td>
									<td>
										<div>
											{{#def.format: {n: dataone.volumn * dataone.cost, decimals: 2 } }} CNY
										</div>
									</td>
									<td>
										<div>
											{{#def.format: {n: dataone.volumn * 0.005*dataone.cost, decimals: 2 } }} CNY
										</div>
									</td>
									<td class="status">
										<div>
											{{?dataone.status == 0 || dataone.status == 1}}
											{{=it.translation['inprogress']}}
											{{??dataone.status == 2}}
											<span class="text-success">{{=it.translation['completed']}}
											</span>
											{{??}}
											{{=it.translation['cancelled']}}
											{{?}}
										</div>
									</td>
									<td class="text-center">
										<div class="btn success " onclick="openChat(this)" data-toggle="modal" data-target="#chatModal" id="{{=dataone['txid']}}"><i class="fa fa-wechat"></i></div>
									</td>
									<td class="text-center">
										{{?dataone.status!==2}}
										<button type="button" class="btn btn-danger" name="{{=dataone['txid']}}" onclick="release(this)" ondblclick="Prevent(event)">{{=it.translation['release']}}</button>
										{{?}}
									</td>
								</tr>
								{{~}}
							</tbody>
						</table>
					</div>

					<div class="tab-pane fade mt-5" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab">
						<table id = "userTable" class = "table bg-white text-center	">
							<thead style="background-color: #f7f7f7; font-size : 12px;">
							<tr class = 'text-grey'>
								<th>{{=it.translation['username']}}
								</th>
								<th>{{=it.translation['realName']}}
								</th>
								<th>{{=it.translation['country']}}
								</th>
								<th>{{=it.translation['selectidtype']}}
								</th>
								<th>{{=it.translation['cardnumber']}}
								</th>
								<th>{{=it.translation['photo']}}1
								</th>
								<th>{{=it.translation['photo']}}2
								</th>
								<th>{{=it.translation['photo']}}3
								</th>
								<th>{{=it.translation['nameverification']}}
								</th>
								<th>{{=it.translation['count']}}
								</th>
								<th>{{=it.translation['sendMsg']}}
								</th>
							</tr>
							</thead>
							<tbody>
							{{~it.users : dataone : i}}
							<tr id="{{=dataone['id']}}">
								<td>
									{{=dataone['user_name']}}
								</td>
								<td>
									{{=dataone['actual_name']}}
								</td>
								<td>
									{{=dataone['country']}}
								</td>
								<td>
									{{=dataone['idcardtype']}}
								</td>
								<td>
									{{=dataone['idcardnumber']}}
								</td>
								<td>
									{{?!dataone['idcardimageurl1']==""}}
									<a download="name_verification_photo1.jpg" href="{{=dataone['idcardimageurl1']}}"><i class="fa fa-file-photo-o" style="font-size:24px"></i></a>
									{{?}}
								</td>
								<td>
									{{?!dataone['idcardimageurl2']==""}}
									<a download="name_verification_photo1.jpg" href="{{=dataone['idcardimageurl2']}}"><i class="fa fa-file-photo-o" style="font-size:24px"></i></a>
									{{?}}
								</td>
								<td>
									{{?!dataone['idcardimageurl3']==""}}
									<a download="name_verification_photo1.jpg" href="{{=dataone['idcardimageurl3']}}"><i class="fa fa-file-photo-o" style="font-size:24px"></i></a>
									{{?}}
								</td>
								<td>
									<!--<input type="checkbox" {{?dataone.name_verified == true}} checked {{?}} onclick="confirmName(this)">-->
									<div class="btn-group" data-toggle="buttons">

										<label {{?dataone.name_verified == true}} class="btn btn-success active"  {{??}} class="btn btn-success" {{?}} onclick="confirmName(this)">
											<input type="radio" name="{{=dataone['id']}}"  autocomplete="off"  id="option2" {{?dataone.name_verified == true}} checked {{?}}>
											<i class="fa fa-check-square-o" ></i>
										</label>

										<label class="btn btn-danger" onclick="failedName(this)">
											<input type="radio" name="{{=dataone['id']}}"  autocomplete="off" id="option1" >
											<i class="fa fa-check-square-o" ></i>
										</label>

									</div>
								</td>
								<td>
									{{=dataone['name_verify_count']}}
								</td>
								<td>
									<div class="btn success " onclick="setUserId(this)" data-toggle="modal" data-target="#msgModal" >
										<img style="width: 20px" src="/images/sendmsg.png">
									</div>
								</td>
							</tr>
							{{~}}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade mt-5" id="pills-withdraw" role="tabpanel" aria-labelledby="pills-withdraw-tab">
						<h3>{{=it.translation['deposite']}}</h3>
						<table id = "withdrawTable" class = "table bg-white text-center " style="min-height: 300px;">
							<thead>
							<tr>
								<th>{{=it.translation['username']}}
								</th>
								<th>{{=it.translation['amount']}}
								</th>
								<th>{{=it.translation['cointype']}}
								</th>
								<th>{{=it.translation['datetime']}}
								</th>
								<th>{{=it.translation['transaction']}}ID
								</th>
							</tr>
							</thead>
							<tbody>
							{{~it.withdraws : dataone : i}}
							{{?dataone['side'] == "Deposit"}}
							<tr>
								<td>{{=dataone['user_name']}}
								</td>
								<td>{{=dataone['amount']}}
								</td>
								<td>{{=dataone['market']}}
								</td>
								<td>{{=dataone['created_at']}}
								</td>
								<td>{{=dataone['txid']}}
								</td>
							</tr>
							{{?}}
							{{~}}
							</tbody>
						</table>
						<br>
						<h3>{{=it.translation['withdrawals']}}</h3>
						<table  id = "depositTable" class = "table bg-white text-center	" style="min-height: 300px;">
							<thead>
							<tr>
								<th>{{=it.translation['username']}}
								</th>
								<th>{{=it.translation['amount']}}
								</th>
								<th>{{=it.translation['cointype']}}
								</th>
								<th>{{=it.translation['datetime']}}
								</th>
								<th>{{=it.translation['transaction']}}ID
								</th>
								<th>{{=it.translation['profit']}}
								</th>
							</tr>
							</thead>
							<tbody>
							{{~it.withdraws : dataone : i}}
							{{?dataone['side'] == 'Withdraw'}}
							<tr>
								<td>{{=dataone['user_name']}}
								</td>
								<td>{{=dataone['amount']}}
								</td>
								<td>{{=dataone['market']}}
								</td>
								<td>{{=dataone['created_at']}}
								</td>
								<td>{{=dataone['txid']}}
								</td>
								<td>{{=dataone['fee']}}
								</td>
							</tr>
							{{?}}
							{{~}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>
	</body>
	<script type = "text/javascript" src = "https://code.jquery.com/jquery-3.3.1.js">
	</script>
	<script type = "text/javascript" src = "../dist/js/bootstrap.js">
	</script>

	<script src = "../dist/js/socket.io.js">
	</script>
	<script src = "../dist/js/client.js">
	</script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script type = "text/javascript" src = "../dist/js/toastr.min.js">
	</script>
	<script type = "text/javascript" src = "../dist/js/ui-toastr.js">
	</script>
	<script>
		var client = new Client();
		var userId;
	
		getTrading();

        $(document).ready(function()
        {
            let lang = $('#lang').val();
            if (lang === 'zh'){
                let langOption = {
                    "language": {
                        "sProcessing":   "处理中...",
                        "sLengthMenu":   "显示 _MENU_ 项结果",
                        "sZeroRecords":  "没有匹配结果",
                        "sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix":  "",
                        "sSearch":       "搜索:",
                        "sUrl":          "",
                        "sEmptyTable":     "表中数据为空",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands":  ",",
                        "oPaginate": {
                            "sFirst":    "首页",
                            "sPrevious": "上页",
                            "sNext":     "下页",
                            "sLast":     "末页"
                        },
                        "oAria": {
                            "sSortAscending":  ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },
                    "pagingType": "full_numbers"
				};
                $('#orderTable').DataTable(langOption);
                $('#userTable').DataTable(langOption);
                $('#withdrawTable').DataTable(langOption);
                $('#depositTable').DataTable(langOption);
			} else {
                $('#orderTable').DataTable();
                $('#userTable').DataTable();
                $('#withdrawTable').DataTable();
                $('#depositTable').DataTable();
			}


        });
		/* var getTradeInterval = setInterval(getTrading , 1);*/
		
		function getTrading()
		{
			$.ajax({
				url : '/verifies',
				type : 'POST',
				success : function(response)
				{
					if(response.status == 'success')
					{
						var data = response.msg;
						for(var i = 0 ; i < data.length ; i ++)
						{
							var tradeInfo = data[i];
							var strcontent = "";
						    strcontent += "<tr id = 'trade-" + tradeInfo.id + "'>";
						    strcontent += 	"<td class='hidden-xs'>";
						    strcontent +=  		tradeInfo.buyername;
						    strcontent += 	"</td><td class='hidden-xs'>";
						    strcontent += 		tradeInfo.sellername;
						    strcontent += 	"</td><td class='highlight'>";
						    if(tradeInfo.kind == 1)
						    {
						    	strcontent +='<span class = "ic ic-btc">{{=it.translation["btc"]}}</span>';
						    }
						    if(tradeInfo.kind == 2)
						    {
						    	strcontent +='<span class = "ic ic-eth">{{=it.translation["eth"]}}</span>';
						    }
						    if(tradeInfo.kind == 3)
						    {
						    	strcontent +='<span class = "ic ic-gp">{{=it.translation["gp"]}}</span>';
						    }
						    strcontent += 	"</td>";
						    strcontent += 	"<td>";
						    strcontent +=    tradeInfo.amount;
						    strcontent += "</td><td>";
						    strcontent += "<a class='btn default btn-xs purple'  onclick = 'confirmOther(" + tradeInfo.seller + "," + tradeInfo.id +" , " + tradeInfo.amount +" , " + tradeInfo.kind +")'>";
						    strcontent += "<i class='fa fa-edit' >";
						    strcontent += "</i>{{=it.translation['confirm']}}</a>";
						    strcontent += "<a class='btn default btn-xs purple'  onclick = 'check(" + tradeInfo.seller + "," + tradeInfo.id +" , " + tradeInfo.amount +" , " + tradeInfo.kind +")'>";
						    strcontent += "<i class='fa fa-edit' >";
						    strcontent += "</i>{{=it.translation['check']}}</a>";
							strcontent += "<a href = '' class = 'download' id = 'verifyData" + tradeInfo.id + "'></a>";
						    strcontent += "</td></tr>";
						    $("#tbody_tradingslist").prepend(strcontent);
						}
					}
				}
			});
		}

		function check(seller , tradeId , amount , kind)
		{
			$.ajax({
				type : 'POST',
				url : '/getVerifyData',
				data : {
					tradeId : tradeId
				},
				success : function(response)
				{
					if(response.status == 'success')
					{
						/*$('main').prepend('<img src = "' + response + '">');*/
						var suffix = response.msg.url.slice(0, response.msg.url.length);
						var downloadUrl = "/filedownload?filepath=" + suffix + "";
						$('#verifyData' + tradeId).attr({href : downloadUrl});
						$('#verifyData' + tradeId).text("{{=it.translation['download']}}");
					}
					else
					{
						alert("Verify data has not been arrived yet.");
					}
				}
			});
		}

		/*
		*Type should be string like this 'BTC'
		*/
		function setFee(market)
		{
			let fee = $('input[name="' + market + '_FEE"]').val();
			$.ajax({
				url : '/setFee',
				type : 'POST',
				data : {
                    market : market,
					fee : fee / 100
				},
				success : function(response)
				{
					console.log(response);
				}
			});
		}
		/*
		* To set the exchange rate of coin vs CNY
		*/
        function setExCost(market)
        {
            let cost = $('input[name="' + market + '_SET"]').val();
            $.ajax({
                url : '/setExCost',
                type : 'POST',
                data : {
                    market : market,
                    cost : cost
                },
                success : function(response)
                {
                    console.log(response);
                }
            });
        }
		/*

		app.post('/getDepositeInfo' , user.getDepositeInfo);
	    app.post('/getWithdrawalInfo' , user.getWithdrawalInfo);
	    app.post('/getCompanyWalletInfo' , user.getCompanyWalletInfo);
	    app.post('/getTotalAmountInfo' , user.getTotalAmountInfo);
		*/

		getAdminInfo();
		
		/*var getAdminInfoInterval = setInterval(getAdminInfo , 5000);*/

		function getAdminInfo()
		{
			getCompanyWalletInfo();

			getTotalAmountInfo();
			
		}

		function getCompanyWalletInfo()
		{
			$.ajax({
				url : '/getCompanyWalletInfo',
				type : 'POST',
				success : function(response)
				{
					if(response.status == 'success')
					{
						var walletInfo = response.msg;
						$('input[name="BTC_WALLET"]').val(walletInfo.btc);
						$('input[name="ETH_WALLET"]').val(walletInfo.eth);
						$('input[name="MDC_WALLET"]').val(walletInfo.mdc);
					}
					else
					{
						console.log(response.msg);
					}
				}
			});
		}
		function getTotalAmountInfo()
		{
			$.ajax({
				url : '/getTotalAmountInfo',
				type : 'POST',
				success : function(response)
				{
					if(response.status === 'success')
					{
						var totalInfo = response.msg;

						$('input[name="btc_total"]').val(totalInfo.btc);
						$('input[name="eth_total"]').val(totalInfo.eth);
                        $('input[name="mdc_total"]').val(totalInfo.mdc);
					}
					else
					{
						console.log(response.msg);
					}
				}
			});
		}

		$('input[type="date"]').change(function(){
			getStatistic();
		});
		$('#sendMsg').click(function(){
            let msg = $('input[name="messages"]').val();
            client.sendNotification(userId, msg);
            $('input[name="messages"]').val("");
		});
        $('#msgModal').on('shown.bs.modal', function () {
            $('input[name="messages"]').focus();
        });
        $('input[name="messages"]').keyup(function(event){
            if(event.keyCode === 13 || event.which === 13){
                $('#sendMsg').click();
            }
        });
		function createDateAsUTC(date) {
		    return new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate(), date.getHours(), date.getMinutes(), date.getSeconds()));
		}

		function convertDateToUTC(date) { 
		    return new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds()); 
		}
		function getStatistic()
		{
			var from_stati = $('input[name="from_stati"]').val();
			var to_stati = $('input[name="to_stati"]').val();
			
			var timeZoneOffset = new Date();
			timeZoneOffset = timeZoneOffset.getTimezoneOffset();
			var hourOffset = (- timeZoneOffset) / 60;

			var minuteOffset = hourOffset - parseInt(hourOffset);
			if(minuteOffset < 10)
				minuteOffset = '0' + minuteOffset;

			hourOffset = parseInt(hourOffset);
			if(hourOffset > 0)
				hourOffset = "+" + hourOffset;

			var offset = hourOffset + ':' + minuteOffset;

			var from_date = new Date(from_stati);
			from_date = from_date.toISOString();
			from_date = from_date.substring(0 , from_date.length - 1);
			console.log(from_date + offset);
			from_date += offset;

			var to_date = new Date(to_stati);
			to_date.setDate(to_date.getDate() + 1);
			to_date = to_date.toISOString();
			to_date = to_date.substring(0 , to_date.length - 1);
			console.log(to_date + offset);
			to_date += offset;

			/*
			to_date = convertDateToUTC(to_date);
			to_date1 = createDateAsUTC(to_date);
			*/
			$.ajax({
				url : '/getStatistic',
				data : {
					from : from_date,
					to : to_date
				},
				type : 'POST',
				success : function(response)
				{
					if(response.status == 'success')
					{
						let info = response.msg;
						console.log(info);
						for(let i = 0 ; i < 3 ; i ++)
						{
							$('#statistic_table > tr:nth-child(' + (i + 1) +') > td:nth-child(1)').html(info[i].deps);
							$('#statistic_table > tr:nth-child(' + (i + 1) +') > td:nth-child(2)').html(info[i].withs);
							$('#statistic_table > tr:nth-child(' + (i + 1) +') > td:nth-child(3)').html(info[i].fee);
						}
					}
					else
					{
						console.log(response.msg);
					}
				}
			});
		}
		getStatistic();
		function companyWithdraw()
		{
			var amount = $('input[name="amount_company"]').val();
			var address = $('input[name="addr_company"]').val();
			var kind = $('select[name="type_company"]').val();
			$.ajax({
				url : '/companyWithdraw',
				data : {
					amount : amount,
					address : address,
					kind : kind
				},
				type : 'POST',
				success : function(response)
				{
					if(response.status === 'success')
					{
						alert('Successfully withdrawed!');
					}
					else
					{
						alert('Error occured. error : ' + response.msg);
					}
				}
			});
		}


		function showAlert(str,status)
        {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "10000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "2000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr[status](str);
        }

        function openChat(arg){
            $('#chatbox').empty();
            let txid = arg.id;
            $.ajax({
                url : '/getAllMessage',
                data : {
                    txid : txid
                },
                type : 'POST',
                success : function(response){
                    if(response.status === 'success'){
                        let chats = response.msg;
                        let seller_id = 0;
                        if (chats.length>0)
                        seller_id = chats[0].sender_id;
                        chats.forEach(chat =>{
                            insertMessage2(chat,seller_id);
                        })
                    } else {
                        showAlert(response.msg, 'error');
                    }
                }

            });

        }
        function insertMessage2(msg, user_id){
            let created_at = msg.created_at;
            let message = msg.content;
            let img_url = msg.img_url;
            if(user_id === msg.sender_id){
                if(img_url){
                    $('<li class="sent"><img src="'+ msg.sender_img +'" alt="" /><span> &nbsp;' + msg.sender_name + '</span><a href="' + img_url +'" target="_blank"><img src="' + img_url + '" style="width: 200px;height: 200px; border-radius : 0; m-1"></img></a></li>').appendTo($('#chatbox'));
                }
                if (message) $('<li class="sent"><img src="'+ msg.sender_img +'" alt="" /><span> &nbsp;' + msg.sender_name + '</span><p>' + message + '</p></li>').appendTo($('#chatbox'));
            } else {
                if(img_url){
                    $('<li class="replies"><img src="'+ msg.sender_img +'" alt="" /><span>' + msg.sender_name + '&nbsp;</span><a href="' + img_url +'" target="_blank"><img src="' + img_url + '" style="width: 200px;height: 200px; border-radius : 0; m-1"></img></a></li>').appendTo($('#chatbox'));
                }
                if(message)  $('<li class="replies"><img src="' + msg.sender_img + '" alt="" /><span>' + msg.sender_name + '&nbsp;</span><p>' + message + '</p></li>').appendTo($('#chatbox'));
            }
            $(".chat-back").animate({ scrollTop: $(document).height() }, "fast");
        }
        function confirmName(self){
            userId =  $(self).parent().parent().parent().attr('id');
            $.ajax({
				url : '/nameVerify',
				data : {
				    user_id : userId,
					verified : true
				},
				type : 'POST',
				success : function(response){
				    if(response.status === 'failed'){
					} else {
                        client.sendVerified(userId);
					}
				}
			})
		}
		function failedName(self){
            userId =  $(self).parent().parent().parent().attr('id');
            $.ajax({
                url : '/nameVerify',
                data : {
                    user_id : userId,
                    verified : false
                },
                type : 'POST',
                success : function(response){
                    if(response.status === 'failed'){
                    } else {
                        client.sendFailed(userId);
                    }
                }
            })
		}
        function deleteOrder(self){
            let order_id = self.name;

            $.ajax({
                url : '/cancelOrder',
                data : {
                    order_id : order_id
                },
                type : 'POST',
                success : function(response){
                    if(response.status === 'failed') showAlert(response.msg, 'error');
                    else {
                        $('.'+order_id + ' ' + '.text-center').html(null);
                        if(lang==='en')
                        $('.'+order_id + ' ' + '.status').text('Cancelled');
                        else
                        $('.'+order_id + ' ' + '.status').text('已取消');
                    }
                }
            })
        }
        function release(self){
            let trading_txid = self.name;
            client.forceRelease(trading_txid);
		}
		function Prevent(event){
            event.preventDefault();
		}
		function setUserId(arg){
		    
		    userId = $(arg).parent().parent().attr('id');
		}
		
	</script>
</html>
