
<!DOCTYPE>
<html>
<head>
    <meta charset = "utf8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>OTCMODE</title>
    <link rel = "stylesheet" href = "./dist/css/bootstrap.css">
    <link rel = "stylesheet" href = "./dist/css/font-awesome.min.css">

    <link href="../dist/css/custom.css" rel="stylesheet">
    <link href="../dist/css/custom-1200.css" rel="stylesheet" media="screen and (max-width:1199px) and (min-width: 992px)">
    <link href="../dist/css/custom-992.css" rel="stylesheet" media="screen and (max-width:991px) and (min-width: 768px)">
    <link href="../dist/css/custom-768.css" rel="stylesheet" media="screen and (max-width:767px) and (min-width: 576px)">
    <link href="../dist/css/custom-576.css" rel="stylesheet" media="screen and (max-width:575px)">

    <link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
    <link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
    <link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
    <style>
        /**{
          font-family : simhei;
        }*/
    </style>
</head>
{{##def.format:param:{{=(param.n).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}

<body class = "content modal fade">
<!-- This is for msgs coming -->
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="p-2 text-white">
            <h4>{{?it.translation['langfor']=='zh'}}聊天窗口{{??}}Chat Window{{?}}</h4>
            <i></i>
        </div>
    </nav>
    <section class = "chat-back bg-light border-bottom-green">

    </section>
    <footer class="bg-white p-4">
        <input type="button" class="btn btn-outline-light text-dark" value="+{{?it.translation['langfor']=='zh'}}发送附件/图片{{??}}Send attachments/images{{?}}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="{{?it.translation['langfor']=='zh'}}输入消息..{{??}}Input Message..{{?}}">
            <span class="input-group-btn">
                <button  class="btn btn-outline-light text-dark" type="submit">
                    {{?it.translation['langfor']=='zh'}}发送{{??}}Send{{?}}
                </button>
              </span>
        </div>
    </footer>
</body>
<script type = "text/javascript" src = "./dist/js/jquery-3.3.1.js">
</script>
<script type = "text/javascript" src = "./dist/js/bootstrap.js">
</script>
<script type="text/javascript" src="./dist/js/index1.js"></script>
<script src = "../dist/js/socket.io.js">
</script>
<script src = "../dist/js/client.js">
</script>

<script>
    var client = new Client();
</script>

</html>