
<!DOCTYPE>
<html>
  <head>
    <meta charset = "utf8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>OTCMODE</title>

    <link rel = "stylesheet" href = "../dist/css/bootstrap.css">
    <link rel = "stylesheet" href = "../dist/css/font-awesome.min.css">
    <link rel = "stylesheet" href = "../dist/css/toastr.min.css">

    <link href="../dist/css/custom.css" rel="stylesheet">
    <link href="../dist/css/custom-1200.css" rel="stylesheet" media="screen and (max-width:1199px) and (min-width: 992px)">
    <link href="../dist/css/custom-992.css" rel="stylesheet" media="screen and (max-width:991px) and (min-width: 768px)">
    <link href="../dist/css/custom-768.css" rel="stylesheet" media="screen and (max-width:767px) and (min-width: 576px)">
    <link href="../dist/css/custom-576.css" rel="stylesheet" media="screen and (max-width:575px)">

    <link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
    <link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
    <link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
    <style>
      /**{
        font-family : simhei;
      }*/
    </style>
  </head>
  {{##def.format:param:{{=(param.n).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}
  <body class = "content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class = "container">
        <a class="navbar-brand" href="/?clang={{=it.translation['langfor']}}"><img src = "/images/mark.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:10px;">
          <div class = 'class_forMobileViewAccount class_forNonMobileViewMarginLeftAuto'>
            <ul class="navbar-nav ml-auto">
              {{?it.isLogged == true}}
              <li class="nav-item" id="notify" style="display:none;">
                <a class="nav-link" href="/dashboard"><img src="/images/notification.png" style="width: 30px"><span class="badge1" data-badge=""></span></a>
              </li>
              {{?}}
              <li class="nav-item">
                <a class="nav-link" href="/requestTradeSell">{{=it.translation['buysell'] }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/wallet">{{=it.translation['wallet']}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">{{=it.translation['dashboard']}}</a>
              </li>
              {{?it.isLogged == false}}
              <li class="nav-item class_mobileHidden">
                <a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 115px;">{{=it.translation['register']}}</button></a>
              </li>
              {{?}}
              <li class="nav-item class_mobileHidden">
                <a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 115px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
              </li>
              <li class="nav-item dropdown class_mobileHidden">
                <a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
                </a>
                <div class="dropdown-menu" aria-labelledby="langdropdown">
                  <a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
                  <a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
                </div>
              </li>
            </ul>
          </div>
          <div style="float:left; width:50%; display: none;" class= 'class_mobileShow'>
            <ul class="navbar-nav ml-auto">
              {{?it.isLogged == false}}
              <li class="nav-item">
                <a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 150px;">{{=it.translation['register']}}</button></a>
              </li>
              {{?}}
              <li class="nav-item">
                <a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 150px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
                </a>
                <div class="dropdown-menu" aria-labelledby="langdropdown">
                  <a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
                  <a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
                </div>
              </li>

              <!--{{?it.isLogged == true}}-->
              <!--<li class="nav-item dropdown">-->
              <!--<a class="nav-link dropdown-toggle" href="#balancedropdown" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
              <!--{{=it.user['user_name']}}-->
              <!--</a>-->

              <!--<div class="dropdown-menu p-1" aria-labelledby="langdropdown" id = "balancedropdown">-->
              <!--<a class = "ic ic-btc">BTC:{{=it.user['balance_btc']}}</a><br>-->
              <!--<a class = "ic ic-eth">ETH:{{=it.user['balance_eth']}}</a><br>-->
              <!--<a class = "ic ic-gp">MDC:{{=it.user['balance_mdc']}}</a><br>-->
              <!--</div>-->
              <!--</li>-->
              <!--{{?}}-->
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class = "mid-panel">
      <div class = "container text-center">
        <a href = "/requestTradeSell" {{?it.flag == 1}}class = "text-green px-5"{{??it.flag == 2}}class = "text-grey px-5"{{?}}>{{=it.translation['iamseller']}}</a>
        <a href = "/requestTradeBuy" {{?it.flag == 2}}class = "text-green px-5"{{??it.flag == 1}}class = "text-grey px-5"{{?}}>{{=it.translation['iambuyer']}}</a>
      </div>
    </div>
    <!-- This is for msgs coming -->
    <main>
      <input type="text" value="{{=it.translation['langfor']}}" hidden="true" id = "lang">
    </main>
    <!-- This is for msgs coming -->

    <section class = "main-back border-bottom-green">

      <div class = "container mt-4">
        <div class = "text-center mt-2">
          <img src = "/images/flow-line-{{=it.translation['langfor']}}-5.png" id='id_imgFlowLine'>
        </div>
        <div class="bg-white padding-40 mt-5 text-center">
          <span class="checkimage">
            {{?it.translation['langfor']=='en'}}
            This transaction is already completed.
            {{??}}
            交易已完成
            {{?}}

          </span>
        </div>
      </div>
    </section>

    <footer>
      <div class = "container footer-intro">
        <div class = "row">
          <div class = "col-12 col-sm-12 col-md-8 col-lg-8">
            <h5 class = "text-light">
              OTCMODE
            </h5>
            <span class = "text-light">
              {{=it.translation['companyintro']}}
            </span>
          </div>
          <div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
            <h5 class = "text-light">
              {{=it.translation['customerservice']}}
            </h5>
            <ul class = "text-light">
              <li><a href = "/faq">{{=it.translation['faq']}}</a></li>
              <!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
              <li><a href = "/exchangeratio">{{=it.translation['exchangerate']}}</a></li>
            </ul>
          </div>
          <div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
            <h5 class = "text-light">
              {{=it.translation['customerservice']}}
            </h5>
            <ul class = "text-light">
              <li><a href = "/aboutus">{{=it.translation['aboutus']}}</a></li>
              <li><a href = "/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class = "container footer-info border-top-grey">
        <div class = "row">
          <div class = "col-12 col-sm-12 col-md-6 col-lg-6">
            <span class = "text-light"><a href = "/termsofservice">{{=it.translation['termsofservice']}}</a> {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
          </div>
          <div class = "col-12 col-sm-12 col-md-6 col-lg-6">
            <span class = "text-light float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script>
    (function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","//assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
    ud({
        "code": "2b916c16",
        "link": "https://madabit.udesk.cn/im_client/?web_plugin_id=48770"
    });
  </script>
  <script type = "text/javascript" src = "../dist/js/jquery-3.3.1.js">
  </script>
  <script type = "text/javascript" src = "../dist/js/bootstrap.js">
  </script>
  <script type="text/javascript" src="../dist/js/index1.js"></script>
  <script src = "../dist/js/socket.io.js">
  </script>
  <script src = "../dist/js/client.js">
  </script>
  <script type = "text/javascript" src = "../dist/js/toastr.min.js">
  </script>
  <script type = "text/javascript" src = "../dist/js/ui-toastr.js">
  </script>
  {{?it.isLogged == true}}
  <script>
    var client = new Client();
    setInterval(client.getMsgInfo , 5000);
    let lang = $('#lang').val();
    function showAlert(str,status)
    {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "10000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "2000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr[status](str);
    }
  </script>
{{?}}
</html>