<!DOCTYPE>
<html>
	<head>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OTCMODE</title>

		<link rel = "stylesheet" href = "./dist/css/bootstrap.css">
		<link rel = "stylesheet" href = "../dist/css/toastr.min.css">

		<link href="../dist/css/custom.css" rel="stylesheet">
		<link href="../dist/css/custom-1200.css" rel="stylesheet" media="screen and (max-width:1199px) and (min-width: 992px)">
		<link href="../dist/css/custom-992.css" rel="stylesheet" media="screen and (max-width:991px) and (min-width: 768px)">
		<link href="../dist/css/custom-768.css" rel="stylesheet" media="screen and (max-width:767px) and (min-width: 576px)">
		<link href="../dist/css/custom-576.css" rel="stylesheet" media="screen and (max-width:575px)">

		<link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
		<link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
		<link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">

	</head>
	{{##def.format:param:{{=(param.n).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class = "container">
			  <a class="navbar-brand" href="/?clang={{=it.translation['langfor']}}"><img src = "./images/mark.png" id='id_imgLogo'></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:10px;">
					<div class = 'class_forMobileViewAccount class_forNonMobileViewMarginLeftAuto'>
						<ul class="navbar-nav ml-auto">
							{{?it.isLogged == true}}
							<li class="nav-item" id="notify" style="display:none;">
								<a class="nav-link" href="/dashboard"><img src="/images/notification.png" style="width: 30px"><span class="badge1" data-badge=""></span></a>
							</li>
							{{?}}
							<li class="nav-item">
								<a class="nav-link" href="/requestTradeSell">{{=it.translation['buysell'] }}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/wallet">{{=it.translation['wallet']}}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/dashboard">{{=it.translation['dashboard']}}</a>
							</li>
							{{?it.isLogged == false}}
							<li class="nav-item class_mobileHidden">
								<a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 115px;">{{=it.translation['register']}}</button></a>
							</li>
							{{?}}
							<li class="nav-item class_mobileHidden">
								<a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 115px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
							</li>
							<li class="nav-item dropdown class_mobileHidden">
								<a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
								</a>
								<div class="dropdown-menu" aria-labelledby="langdropdown">
									<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
									<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
								</div>
							</li>
						</ul>
					</div>
					<div style="float:left; width:50%; display: none;" class= 'class_mobileShow'>
						<ul class="navbar-nav ml-auto">
							{{?it.isLogged == false}}
							<li class="nav-item">
								<a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 150px;">{{=it.translation['register']}}</button></a>
							</li>
							{{?}}
							<li class="nav-item">
								<a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 150px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
								</a>
								<div class="dropdown-menu" aria-labelledby="langdropdown">
									<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
									<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
								</div>
							</li>

							<!--{{?it.isLogged == true}}-->
							<!--<li class="nav-item dropdown">-->
							<!--<a class="nav-link dropdown-toggle" href="#balancedropdown" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
							<!--{{=it.user['user_name']}}-->
							<!--</a>-->

							<!--<div class="dropdown-menu p-1" aria-labelledby="langdropdown" id = "balancedropdown">-->
							<!--<a class = "ic ic-btc">BTC:{{=it.user['balance_btc']}}</a><br>-->
							<!--<a class = "ic ic-eth">ETH:{{=it.user['balance_eth']}}</a><br>-->
							<!--<a class = "ic ic-gp">MDC:{{=it.user['balance_mdc']}}</a><br>-->
							<!--</div>-->
							<!--</li>-->
							<!--{{?}}-->
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<input value="{{=it.common.ex_btc_cost}}" id = "btc_cost" hidden>
		<input value="{{=it.common.ex_eth_cost}}" id = "eth_cost" hidden>
		<input value="{{=it.common.ex_mdc_cost}}" id = "mdc_cost" hidden>
		<input value="{{=it.user.email_verified}}" id = "email_verified" hidden>
		<input value="{{=it.user.name_verified}}" id = "name_verified" hidden>
		<input id="lang" value="{{=it.translation['langfor']}}" hidden="true">
		<main class = "main-back">

			<div class = "container create-new-wrapper">
				<div class = "row">
					<div class = "col-12 col-sm-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
						<h5 class = "text-center mb-4">{{=it.translation['createnewads']}}</h5>
						<div class = "row mb-4">
							<div class = "col-6">
								<div class = "text-center form-check">
									<label><input type = "radio" name = "sellorbuy" value = "sell" class = "form-check-input" checked>{{=it.translation['sell']}}</label>
								</div>
							</div>
							<div class = "col-6">
								<div class = "text-center form-check">
									<label><input type = "radio" name = "sellorbuy" value = "buy" class = "form-check-input">{{=it.translation['buy']}}</label>
								</div>
							</div>
						</div>
						<div class = "input-group mt-3">
							<div class = "input-group-prepend login_label">
								<span class = "space-span1">{{=it.translation['type']}}:</span>
							</div>
								<!--<label>{{=it.translation['type']}}:</label>-->
							<select class = "form-control" name = "type" onchange = "getAvailableAmount()">
								<option value = "BTC" selected>BTC</option>
								<option value = "ETH">ETH</option>
								<option value = "MDC">Madecoin</option>
							</select>
							</div>
							<!-- When GP selected  following codes should be enabled -->
							<small id = "gpcost" style = "display : none">USD:CNY = 1:{{=it.usdvscny}}</small>
							<div class = "input-group mt-3">
								<div class = "input-group-prepend login_label">
									<span class = "space-span1">{{=it.translation['cost']}}:</span>
								</div>
								<!--<label>{{=it.translation['cost']}}:</label>-->
								<input class = "form-control" type = "number" step = "0.01" name = "cost"  value = "{{=it.common.ex_btc_cost}}" required>
							</div>
							<div style="padding-left : 145px">
								<small class = "text-grey">{{=it.translation['postmessage']}}</small>
							</div>
								
							<!--<small>{{=it.translation['totalcost']}}:</small><small id = "totalcost" style="margin-left:5px;" class = "text-info">0.00</small>-->
							<!-- ************************************************************ -->

							<div class = "input-group mt-3">
								<div class = "input-group-prepend login_label">
									<span class = "space-span1">{{=it.translation['amount']}}:</span>
								</div>
								<input class = "form-control" type = "number" value = "0" onkeyup="changeAmount()" step = "0.00000001" name = "amount" required >
							</div>
							<div class = "input-group mt-3">
								<div class = "input-group-prepend login_label">

								</div>
								<small >{{=it.translation['availableamount']}}:</small>
								<small style="margin-left:10px;" id = "available_amount" class = "text-info">{{=it.user.balance_btc}}</small>

							</div>
							<div class = "input-group mt-3">
								<div class = "input-group-prepend login_label">
								</div>
								<small >{{=it.translation['totalfee']}}:</small>
								<small style="margin-left:10px;" id = "totalfee" class = "text-info">0</small>
							</div>

							<!-- for seller begin -->
							<div class = "input-group mt-3">
								<div class = "input-group-prepend login_label">
									<span class = "space-span1">{{=it.translation['paymethod']}}:</span>
								</div>
								<!--<label>{{=it.translation['paymethod']}}:</label>-->
								<select class = "form-control" name = "bank">
									<option value = "1" selected>{{=it.translation['alipay']}}</option>
									<option value = "2" >{{=it.translation['bank']}}</option>
									<!-- <option value = "3" >{{=it.translation['wechat']}}</option> -->
								</select>
							</div>
							<div class = "input-group mt-3" data-for = "sell">

								<div class = "input-group-prepend login_label">
									<span class = "space-span1">{{=it.translation['alipayaccount']}}:</span>
								</div>
								<!--<label>{{=it.translation['bankaccountname']}}:</label>-->
								<input class = "form-control" type = "text" name = "alipay_account" {{?it.user.alipay_show_order}} value="{{=it.user['alipay_account']}}" {{?}}>
							</div>
							<div class = "input-group mt-3" data-bank = "accountnumber" style = "display : none">
								<div class = "input-group-prepend login_label">
									<span class = "space-span2">{{=it.translation['bankaccount']}}:</span>
								</div>
								<input class = "form-control" type = "text" name = "bank_account_num" {{?it.user.bank_show_order}} value="{{=it.user['bank_name']}}" {{?}}>
							</div>

						<div class = "input-group mt-3" data-bank = "accountname" style = "display : none">
							<div class = "input-group-prepend login_label">
								<span class = "space-span1">{{=it.translation['bankaccountname']}}:</span>
							</div>
							<input class = "form-control" type = "text" name = "accountname" {{?it.user.bank_show_order}} value="{{=it.user['bank_branch']}}" {{?}}>
						</div>
							<!-- for seller end -->
							<!-- Following is unneccessary -->
							<div class = "input-group mt-3"  data-bank = "routingnumber"  style = "display : none" >
								<div class = "input-group-prepend login_label">
									<span class = "space-span1">{{=it.translation['bankroutingnum']}}:</span>
								</div>
								<input class = "form-control" type = "text" name = "bank_routing_number" {{?it.user.bank_show_order}} value="{{=it.user['bank_account']}}" {{?}}>
							</div>
							
							<!-- for buyer begin -->
							<div class = "input-group mt-3" data-for = "buy" style = "display : none">
								<!--<label>{{=it.translation['addresses']}}:</label>-->
								<div class = "input-group-prepend login_label">
									<span class = "space-span1">{{=it.translation['addresses']}}:</span>
								</div>
								<input class = "form-control" type = "text" name = "address">
							</div>
							<!-- for buyer end -->

							<!-- for all begin -->
							<!--<div class = "form-group mt-3">-->
								<!--<textarea class = "form-control" name = "detail" placeholder = "{{=it.translation['detailinfo']}}"></textarea>-->
							<!--</div>-->
							<!-- for all end -->
							<div class = "text-center alert alert-danger mt-3" role = "alert" style = "display : none"></div>
							<input id = "createOrder" type = "button" class = "mt-3 btn btn-success btn-block" value = "{{=it.translation['submit']}}">
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class = "container footer-intro">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-8 col-lg-8">
						<h5 class = "text-light">
							OTCMODE
						</h5>
						<span class = "text-light">
							{{=it.translation['companyintro']}}
						</span>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h5 class = "text-light">
							{{=it.translation['customerservice']}}
						</h5>
						<ul class = "text-light">
							<li><a href = "/faq">{{=it.translation['faq']}}</a></li>
							<!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
							<li><a href = "/exchangeratio">{{=it.translation['exchangerate']}}</a></li> 
						</ul>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h5 class = "text-light">
							{{=it.translation['customerservice']}}
						</h5>
						<ul class = "text-light">
							<li><a href = "/aboutus">{{=it.translation['aboutus']}}</a></li>
							<li><a href = "/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class = "container footer-info border-top-grey">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light"><a href = "/termsofservice">{{=it.translation['termsofservice']}}</a> {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
					</div>
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
					</div>
				</div>
			</div>
		</footer>
		<script type = "text/javascript" src = "./dist/js/jquery-3.3.1.js">
		</script>
		<script type = "text/javascript" src = "./dist/js/bootstrap.js">
		</script>
		<script src = "./dist/js/socket.io.js">
		</script>
		<script type = "text/javascript" src = "./dist/js/client.js"></script>
		<script type = "text/javascript" src = "../dist/js/toastr.min.js">
		</script>
		<script type = "text/javascript" src = "../dist/js/ui-toastr.js">
		</script>
		{{?it.isLogged == true}}
			<script>

                let lang;

                let client = new Client();
                $(document).ready(function () {
                    lang = $('#lang').val();
                    getAvailableAmount();
                    client.getMsgInfo();
                    setInterval(client.getMsgInfo , 5000);
                });
                function getAvailableAmount(){
                    let type 	= $('select[name="type"]').val();
                    var kind    = 0;
                    if (type === 'BTC'){
                        kind = 1;
                        $('input[name="cost"]').val($('#btc_cost').val());
					} else if (type === 'ETH'){
                        kind = 2;
                        $('input[name="cost"]').val($('#eth_cost').val());
					} else {
					    kind = 3;
                        $('input[name="cost"]').val($('#mdc_cost').val());
					}
					var urlGetAvailableAmount = '/urlGetAvailableAmount';
					$.post(urlGetAvailableAmount,
						{
							kind:kind
						},
						function(result)
						{
							if(result.status == 'success')
							{
							    var kind = $('select[name="type"]').val();
							    if(kind == 'MDC')
							    {
							        if(isNaN(result.msg.available))
                                        $('#available_amount').text(0);
							        else
                                        $('#available_amount').text(result.msg.available);
							        if(isNaN(result.msg.fee))
                                        $('#totalfee').text(0);
							        else
                                        $('#totalfee').text(result.msg.fee);
								}
								else
								{
                                    if(isNaN(result.msg.available))
                                        $('#available_amount').text(0);
                                    else
                                        $('#available_amount').text(parseFloat(result.msg.available).toFixed(8));
                                    if(isNaN(result.msg.fee))
                                        $('#totalfee').text(0);
                                    else
                                        $('#totalfee').text(parseFloat(result.msg.fee).toFixed(8));
								}
                            }
							else
							{
                                $('#available_amount').text(result.msg);
                            }
						})
				};
				$('input[name="sellorbuy"]').change(function(){
					if($('input[name="sellorbuy"]')[0].checked)
					{
						$('div[data-for="sell"]').css({display : 'flex'});
						$('div[data-for="buy"]').css({display : 'none'});
						if($('select[name="bank"]').val() == 3)
						{
                            $('div[data-for="sell"]').css({display : 'none'});
							$('div[data-bank="accountnumber"]').css({display : 'flex'});
                            $('div[data-bank="accountname"]').css({display : 'flex'});
                            $('div[data-bank="routingnumber"]').css({display : 'flex'});
						}
						else
						{
                            $('div[data-for="sell"]').css({display : 'flex'});
							$('div[data-bank="accountnumber"]').css({display : 'none'});
                            $('div[data-bank="accountname"]').css({display : 'none'});
                            $('div[data-bank="routingnumber"]').css({display : 'none'});
						}
					}
					else
					{
						$('div[data-for="sell"]').css({display : 'none'});

                        $('div[data-bank="accountname"]').css({display : 'none'});
						$('div[data-bank="accountnumber"]').css({display : 'none'});
                        $('div[data-bank="routingnumber"]').css({display : 'none'});

						$('div[data-for="buy"]').css({display : 'flex'});
					}
				});
				$('#createOrder').click(function()
				{
				    let email_verified = $('#email_verified').val();
                    let name_verified = $('#name_verified').val();
                    if(email_verified === 'false' && name_verified === 'false'){
                        showAlert((lang==='en'?"Please verify your email or name":"请验证您的电子邮件或名称。"),'warning');return;
					}

                    let side = 'sell';
                    if($('input[name="sellorbuy"]')[0].checked)
                    {
                        side = 'sell';
                    }
                    else
                    {
                        side = 'buy';
                    }
                    if(side === 'sell' && name_verified === 'false'){
                        showAlert((lang==='en'?"You can't sell any digital coin. Please verify ID":"你不能出售任何数字硬币。 请验证ID。"),'warning');return;
                    }
                    let type 	= $('select[name="type"]').val();
                    let cost 	= $('input[name="cost"]').val();
                    let amount 	= $('input[name="amount"]').val();
                    let bank 	= $('select[name="bank"]').val();

                    let alipay_account  = $('input[name="alipay_account"]').val();
                    let account_number 	= $('input[name="bank_account_num"]').val();
                    let account_name 	= $('input[name="accountname"]').val();
                    let routing_number 	= $('input[name="bank_routing_number"]').val();
                    let dest_addr 		= $('input[name="address"]').val();
                    if( amount * cost > 1000 &&  name_verified === 'false'){
                        showAlert((lang==='en'?"Your transaction limit is below 1000CNY":"您的交易限额低于1000CNY"),'warning');return;
					}
                    if (amount <= 0){
                        showAlert((lang==='en'?"Please insert your amount":"请插入您的金额"),'warning');return;
					} else {
                        $('#createOrder').attr({disabled : 'false'});
                        $.ajax({
                            url : 'createOrder',
                            type : 'POST',
                            data : {
                                side 		: side,
                                cost 		: cost,
                                market 		: type,
                                volumn 		: amount,
                                fee			: parseFloat($('#totalfee').text()),
                                payment_method 		: bank,
                                alipay_account  : alipay_account,
                                account_number 	: account_number,
                                account_name 	: account_name,
                                routing_number 	: routing_number,
                                dest_addr 		: dest_addr
                            },
                            success : function(response)
                            {
                                $('#createOrder').attr({disabled : 'false'});
                                if(response.status === 'failed')
                                {
                                    showAlert(response.msg,"error");
                                }
                                else
                                {
                                    window.location.href = "/?clang"+lang;
                                }
                            },
                            error : function(err){
                                $('#createOrder').attr({disabled : 'false'});
                                showAlert("Server Issue",'error');
                            }
                        });
					}




				});
				$('select[name="bank"]').change(function(){
					if($('input[name="sellorbuy"]')[0].checked)
					{
						if($('select[name="bank"]').val() == 2)
						{
                            $('div[data-for="sell"]').css({display : 'none'});
                            $('div[data-bank="accountname"]').css({display : 'flex'});
							$('div[data-bank="accountnumber"]').css({display : 'flex'});
                            $('div[data-bank="routingnumber"]').css({display : 'flex'});
						}
						else
						{
                            $('div[data-for="sell"]').css({display : 'flex'});
                            $('div[data-bank="accountname"]').css({display : 'none'});
							$('div[data-bank="accountnumber"]').css({display : 'none'});
                            $('div[data-bank="routingnumber	"]').css({display : 'none'});
						}
					}

				});
                function showAlert(str,status)
                {
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "positionClass": "toast-top-right",
                        "onclick": null,
                        "showDuration": "10000",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "2000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };
                    toastr[status](str);
                }
                function changeAmount()
				{
                    var type 	= $('select[name="type"]').val();
                    var amount = $('input[name = "amount"]').val();
                    if(type == 'MDC')
                    {
                        var aryAmount = amount.split(".");
                        var nCount = aryAmount.length;
                        if(nCount != 1)
                        {
                            $('input[name="amount"]').val(aryAmount[0]);
						}
						if(amount == 0)
						{
                            $('input[name="amount"]').val(0);
						}
					}
                    if(amount < 0)
                    {
                        $('input[name="amount"]').val(0);
                    }
                    var getFeeUrl = '/getCurrenctFee';
                    $.post(getFeeUrl,
					{

					},
					function(result)
					{
					    if(result.status == 'success')
					    {
					        var aryFee = result.msg;
                            var kind = $('select[name="type"]').val();
                            var currentFee = 0;
                            if(kind == 'BTC')
							{
							    currentFee = parseFloat(parseFloat(parseFloat(aryFee.btc_fee) * parseFloat(amount)).toFixed(8)) + parseFloat(0.00001);
							}
                            if(kind == 'ETH')
                            {
                                currentFee = parseFloat(parseFloat(parseFloat(aryFee.eth_fee) * parseFloat(amount)).toFixed(8)) + parseFloat(0.00001);
                            }
                            if(kind == 'MDC')
                            {
                                currentFee = Math.ceil(parseFloat(parseFloat(parseFloat(aryFee.mdc_fee) * parseFloat(amount)).toFixed(8)));
                            }
							if(isNaN(currentFee))
							    currentFee = 0;
					        $("#totalfee").text(currentFee);
						}
						else
						{
							showAlert(result.msg , 'error');
						}
					})
				}
			</script>
		{{?}}
	</body>
	<script>
		(function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","//assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
		ud({
		    "code": "2b916c16",
		    "link": "https://madabit.udesk.cn/im_client/?web_plugin_id=48770"
		});
	</script>
</html>