<!DOCTYPE>
<html>
	<head>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OTCMODE</title>

		<link rel = "stylesheet" href = "./dist/css/bootstrap.css">
		<link rel = "stylesheet" href = "../dist/css/toastr.min.css">
		<link rel = "stylesheet" href = "https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link href="../dist/css/custom.css" rel="stylesheet">
		<link href="../dist/css/custom-1200.css" rel="stylesheet" media="screen and (max-width:1199px) and (min-width: 992px)">
		<link href="../dist/css/custom-992.css" rel="stylesheet" media="screen and (max-width:991px) and (min-width: 768px)">
		<link href="../dist/css/custom-768.css" rel="stylesheet" media="screen and (max-width:767px) and (min-width: 576px)">
		<link href="../dist/css/custom-576.css" rel="stylesheet" media="screen and (max-width:575px)">

		<link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
		<link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
		<link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
		<!-- <style>
			*{
				font-family : Consolas, simhei;
			}
		</style> -->
	</head>
	{{##def.format:param:{{=(param.n).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}
	<body class = "">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class = "container">
			  <a class="navbar-brand" href="/?clang={{=it.translation['langfor']}}"><img src = "./images/mark.png" id='id_imgLogo'></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
				<input type="text" value="{{=it.translation['langfor']}}" hidden="true" id = "lang">
				<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:10px;">
					<div class = 'class_forMobileViewAccount class_forNonMobileViewMarginLeftAuto'>
						<ul class="navbar-nav ml-auto">
							{{?it.isLogged == true}}
							<li class="nav-item" id="notify" style="display:none;">
								<a class="nav-link" href="/dashboard"><img src="/images/notification.png" style="width: 30px"><span class="badge1" data-badge=""></span></a>
							</li>
							{{?}}
							<li class="nav-item">
								<a class="nav-link" href="/requestTradeSell">{{=it.translation['buysell'] }}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/wallet">{{=it.translation['wallet']}}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/dashboard">{{=it.translation['dashboard']}}</a>
							</li>
							{{?it.isLogged == false}}
							<li class="nav-item class_mobileHidden">
								<a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 115px;">{{=it.translation['register']}}</button></a>
							</li>
							{{?}}
							<li class="nav-item class_mobileHidden">
								<a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 115px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
							</li>
							<li class="nav-item dropdown class_mobileHidden">
								<a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
								</a>
								<div class="dropdown-menu" aria-labelledby="langdropdown">
									<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
									<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
								</div>
							</li>
						</ul>
					</div>
					<div style="float:left; width:50%; display: none;" class= 'class_mobileShow'>
						<ul class="navbar-nav ml-auto">
							{{?it.isLogged == false}}
							<li class="nav-item">
								<a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 150px;">{{=it.translation['register']}}</button></a>
							</li>
							{{?}}
							<li class="nav-item">
								<a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 150px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
								</a>
								<div class="dropdown-menu" aria-labelledby="langdropdown">
									<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
									<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
								</div>
							</li>

							<!--{{?it.isLogged == true}}-->
							<!--<li class="nav-item dropdown">-->
							<!--<a class="nav-link dropdown-toggle" href="#balancedropdown" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
							<!--{{=it.user['user_name']}}-->
							<!--</a>-->

							<!--<div class="dropdown-menu p-1" aria-labelledby="langdropdown" id = "balancedropdown">-->
							<!--<a class = "ic ic-btc">BTC:{{=it.user['balance_btc']}}</a><br>-->
							<!--<a class = "ic ic-eth">ETH:{{=it.user['balance_eth']}}</a><br>-->
							<!--<a class = "ic ic-gp">MDC:{{=it.user['balance_mdc']}}</a><br>-->
							<!--</div>-->
							<!--</li>-->
							<!--{{?}}-->
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
		<li class="nav-item">
			<a class="nav-link " id="pills-post-tab" data-toggle="pill" href="#pills-post" role="tab" aria-controls="pills-home" aria-selected="false">{{=it.translation['posted']}}</a>
		</li>
		  <li class="nav-item">
		    <a class="nav-link active" id="pills-trading-tab" data-toggle="pill" href="#pills-trading" role="tab" aria-controls="pills-profile" aria-selected="true">{{=it.translation['publisedTrade']}}</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="pills-open-tab" data-toggle="pill" href="#pills-open" role="tab" aria-controls="pills-profile" aria-selected="false">{{=it.translation['inprogress']}}</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="pills-complete-tab" data-toggle="pill" href="#pills-complete" role="tab" aria-controls="pills-contact" aria-selected="false">{{=it.translation['completed']}}</a>
		  </li>
		</ul>
		<!-- Chat Modal  -->
		<div class="modal fade" id="chatModal" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content modal-height" >
					<div class="modal-header bg-success" style="display: block">
						<h4  class="modal-title text-white float-left">{{?it.translation['langfor']=='zh'}}聊天窗口{{??}}Chat Window{{?}}</h4>
						<button type="button" class="close text-white float-right" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body bg-light chat-back">
						<ui id="chatbox">

						</ui>
					</div>
					<div class="modal-footer m-1">

					</div>
				</div>
			</div>
		</div>

		<input hidden="true" id="user_id" value="{{=it.user.id}}">
		<!--- Modal -->
		<main class = "main-back">
			<div class = "container">
				<div class="tab-content" id="pills-tabContent">
				  <div class="tab-pane fade" id="pills-post" role="tabpanel" aria-labelledby="pills-home-tab">
						<div class = "table-responsive">
							<table id = "ordersTable" class = "table bg-white">
								<thead style="background-color: #f7f7f7">
								<tr class = 'text-grey'>
									<th>{{=it.translation['cost']}}
									</th>
									<th>{{=it.translation['amount']}}
									</th>
									<th>{{=it.translation['totalprice']}}
									</th>
									<th>{{=it.translation['currentfee']}}
									</th>
									<th>{{=it.translation['status']}}
									</th>
									<th class="text-center">{{=it.translation['operation']}}
									</th>
								</tr>
								</thead>
								<tbody>
								{{~it.orderdata : dataone : i}}
								{{?dataone['status'] == 0}}
								<tr class="{{=dataone.id}}">
									<td>
										{{=dataone['cost']}}CNY
									</td>
									<td>
										{{=dataone['remaining_volumn']}} 
										{{=dataone['market']}}
									</td>
									<td>
										<span class = "text-success">
										{{?dataone['side'] == 'sell'}}
										{{=it.translation['sell']}}
										{{??}}
										{{=it.translation['buy']}}
										{{?}}
										</span>
										{{#def.format: {n: dataone.volumn * dataone.cost, decimals: 2 } }} CNY
									</td>
									<td>
										{{#def.format: {n: dataone.volumn * 0.005*dataone.cost, decimals: 2 } }} CNY
									</td>
									<td>

										{{=it.translation['posted']}}

									</td>
									<td class="text-center">
										<button type="button" class="btn btn-danger" name="{{=dataone['id']}}" onclick="deleteOrder(this)">{{=it.translation['cancel']}}</button>

									</td>
								</tr>
								{{?}}
								{{~}}
								</tbody>
							</table>
						</div>
				  </div>
				  <div class="tab-pane fade active show" id="pills-trading" role="tabpanel" aria-labelledby="pills-profile-tab">
				  	<div class = "table-responsive show active">
				  		<table id = "tradingsTable" class = "table bg-white">
				  			<thead style="background-color: #f7f7f7">
				  				<tr class = 'text-grey'>
				  					<th>{{=it.translation['cost']}}
				  					</th>
				  					<th>{{=it.translation['amount']}}
				  					</th>
				  					<th>{{=it.translation['totalprice']}}
				  					</th>
				  					<th>{{=it.translation['currentfee']}}
				  					</th>
				  					<th>{{=it.translation['status']}}
				  					</th>
				  					<th class="text-center">{{=it.translation['operation']}}
				  					</th>
				  				</tr>
				  			</thead>
				  			<tbody>
				  				{{~it.buyerdata : dataone : i}}
								<tr class="text-secondary">
									<td colspan="4">
										{{=dataone['created_at']}}  {{=it.translation['submitno']}} {{=dataone['txid']}}
									</td>
									<td>
									</td>
									<td class="text-center">
										{{=dataone['user_name']}}&nbsp;&nbsp;
										<div class="btn success " onclick="openChat(this)" data-toggle="modal" data-target="#chatModal" id="{{=dataone['txid']}}">
											<i class="fa fa-wechat"></i>
											{{~it.unreadMsgList : datatwo : j}}
											{{?datatwo['trading_id'] == dataone['txid']}}
											<span class="badge2" data-badge={{=datatwo['count']}}></span>
											{{?}}
											{{~}}
										</div>

									</td>
								</tr>

								<tr>
				  					<td>
				  						<div>
				  							{{=dataone['cost']}} CNY
				  						</div>
				  					</td>
				  					<td>
				  						<div>
				  							<span class = "text-success">
												{{=it.translation['sell']}}
											</span>&nbsp;
											{{=dataone['volumn']}}
											{{=dataone['market']}}
				  						</div>
				  					</td>
				  					<td>
				  						<div>
				  							{{#def.format: {n: dataone.volumn * dataone.cost, decimals: 2 } }} CNY
				  						</div>
				  					</td>
				  					<td>
				  						<div>
				  							{{#def.format: {n: dataone.volumn * 0.005*dataone.cost, decimals: 2 } }} CNY
				  						</div>
				  					</td>
				  					<td>
				  						<div>
											{{?dataone.status == 0 || dataone.status == 1}}
											{{=it.translation['inprogress']}}
											{{??dataone.status == 2}}
											<span class="text-success">{{=it.translation['completed']}}
											</span>
											{{??}}
											{{=it.translation['cancelled']}}
											{{?}}
										</div>
				  					</td>
									<td class="text-center">
										{{?dataone['status']==0}}
										<a href="/trading/{{=dataone['txid']}}" class="text-secondary">{{=it.translation['seedetail']}}</a>
										{{??dataone['status']==1}}
										<a href="/transfer/{{=dataone['txid']}}" class="text-secondary">{{=it.translation['seedetail']}}</a>
										{{??dataone['status']==2}}
										<a href="/complete/{{=dataone['txid']}}" class="text-secondary">{{=it.translation['seedetail']}}</a>
										{{??}}
										<!--{{=it.translation['seedetail']}}-->
										{{?}}
									</td>
				  				</tr>
				  				{{~}}
								{{~it.sellerdata:dataone:i}}
								<tr class="text-secondary ">
									<td colspan="4">
										{{=dataone['created_at']}}  {{=it.translation['submitno']}} {{=dataone['txid']}}
									</td>
									<td>
									</td>
									<td class="text-center">
										{{=dataone['user_name']}}&nbsp;&nbsp;
										<div class="btn success " onclick="openChat(this)" data-toggle="modal" data-target="#chatModal" id="{{=dataone['txid']}}">
											<i class="fa fa-wechat"></i>
											{{~it.unreadMsgList : datatwo : j}}
											{{?datatwo['trading_id'] == dataone['txid']}}
											<span class="badge2" data-badge={{=datatwo['count']}}></span>
											{{?}}
											{{~}}
										</div>

									</td>
								</tr>
								<tr>
									<td>
										<div>
											{{=dataone['cost']}} CNY
										</div>
									</td>
									<td>
										<div>
				  							<span class = "text-success">
												{{=it.translation['buy']}}
											</span>&nbsp;
											{{=dataone['volumn']}} 
											{{=dataone['market']}}
										</div>
									</td>
									<td>
										<div>
											{{#def.format: {n: dataone.volumn * dataone.cost, decimals: 2 } }} CNY
										</div>
									</td>
									<td>
										<div>
											{{#def.format: {n: dataone.volumn * 0.005*dataone.cost, decimals: 2 } }} CNY
										</div>
									</td>
									<td>
										<div>
											{{?dataone.status == 0 || dataone.status == 1}}
											{{=it.translation['inprogress']}}
											{{??dataone.status == 2}}
											<span class="text-success">{{=it.translation['completed']}}
											</span>
											{{??}}
											{{=it.translation['cancelled']}}
											{{?}}
										</div>
									</td>
									<td class="text-center">
										<input value="{{=dataone['status']}}" hidden="true">
										{{?dataone['status']==0}}
										<a href="/trading/{{=dataone['txid']}}" class="text-secondary">{{=it.translation['seedetail']}}</a>
										{{??dataone['status']==1}}
										<a href="/transfer/{{=dataone['txid']}}" class="text-secondary">{{=it.translation['seedetail']}}</a>
										{{??dataone['status']==2}}
										<a href="/complete/{{=dataone['txid']}}" class="text-secondary">{{=it.translation['seedetail']}}</a>
										{{??}}
										<!--{{=it.translation['seedetail']}}-->
										{{?}}
									</td>
								</tr>
								{{~}}
				  			</tbody>
				  		</table>
				  		<!-- <div class = "clearfix mt-5 text-center">
				  			<ul class = "inline-ul">
				  				<li><a href = "#">首页</a></li>
				  				<li><a href = "#">上一页</a></li>
				  				<li><a href = "#">1</a></li>
				  				<li><a href = "#">下一页</a></li>
				  				<li><a href = "#">首页</a></li>
				  			</ul>
				  		</div> -->
				  	</div>
				  </div>
				  <div class="tab-pane fade" id="pills-open" role="tabpanel" aria-labelledby="pills-profile-tab">
				  	<div class = "table-responsive">
				  		<table id = "inprogressTable" class = "table bg-white">
				  			<thead  style="background-color: #f7f7f7">
				  				<tr class = 'text-grey'>
				  					<th>
				  						{{=it.translation['cost']}}
				  					</th>
				  					<th>
				  						{{=it.translation['amount']}}
				  					</th>
				  					<th>
				  						{{=it.translation['totalprice']}}
				  					</th>
				  					<th>
				  						{{=it.translation['currentfee']}}
				  					</th>
				  					<th>
				  						{{=it.translation['status']}}
				  					</th>
				  					<th>
				  						{{=it.translation['operation']}}
				  					</th>
				  				</tr>
				  			</thead>
				  			<tbody>
				  				{{~it.buyerdata:dataone:i}}
								{{?(dataone['status'] == 0 || dataone['status'] == 1)}}
								<tr class="text-secondary ">
									<td colspan="4">
										{{=dataone['created_at']}}  {{=it.translation['submitno']}} {{=dataone['txid']}}
									</td>
									<td>

									</td>
									<td class="text-center">
										{{=dataone['user_name']}}&nbsp;&nbsp;
										<div class="btn success " onclick="openChat(this)" data-toggle="modal" data-target="#chatModal" id="{{=dataone['txid']}}">
											<i class="fa fa-wechat"></i>
											{{~it.unreadMsgList : datatwo : j}}
											{{?datatwo['trading_id'] == dataone['txid']}}
											<span class="badge2" data-badge={{=datatwo['count']}}></span>
											{{?}}
											{{~}}
										</div>

									</td>
								</tr>
								<tr>
									<td>
										<div>
											{{=dataone['cost']}} CNY
										</div>
									</td>
									<td>
										<div>
				  							<span class = "text-success">
											{{=it.translation['buy']}}
											</span>&nbsp;
											{{=dataone['volumn']}} 
											{{=dataone['market']}}
										</div>
									</td>
									<td>
										<div>
											{{#def.format: {n: dataone.volumn * dataone.cost, decimals: 2 } }} CNY
										</div>
									</td>
									<td>
										<div>
											{{#def.format: {n: dataone.cost * dataone.fee, decimals: 2 } }} CNY
										</div>
									</td>
									<td>
										<div>
											{{=it.translation['inprogress']}}
										</div>
									</td>
									<td class="text-center">
										{{?dataone['status']==0}}
										<a href="/trading/{{=dataone['txid']}}" class="text-secondary">{{=it.translation['seedetail']}}</a>
										{{??dataone['status']==1}}
										<a href="/transfer/{{=dataone['txid']}}" class="text-secondary">{{=it.translation['seedetail']}}</a>
										{{?}}
									</td>
								</tr>
								{{?}}
				  				{{~}}
				  				{{~it.sellerdata:dataone:i}}
								{{?(dataone['status'] == 0 || dataone['status'] == 1)}}
								<tr class="text-secondary ">
									<td colspan="4">
										{{=dataone['created_at']}}  {{=it.translation['submitno']}} {{=dataone['txid']}}
									</td>
									<td>

									</td>
									<td class="text-center">
										{{=dataone['user_name']}}&nbsp;&nbsp;
										<div class="btn success " onclick="openChat(this)" data-toggle="modal" data-target="#chatModal" id="{{=dataone['txid']}}">
											<i class="fa fa-wechat"></i>
											{{~it.unreadMsgList : datatwo : j}}
											{{?datatwo['trading_id'] == dataone['txid']}}
											<span class="badge2" data-badge={{=datatwo['count']}}></span>
											{{?}}
											{{~}}
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div>
											{{=dataone['cost']}} CNY
										</div>
									</td>
									<td>
										<div>
				  							<span class = "text-success">
											{{=it.translation['sell']}}
											</span>&nbsp;
											{{=dataone['volumn']}} 
											{{=dataone['market']}}
										</div>
									</td>
									<td>
										<div>
											{{#def.format: {n: dataone.volumn * dataone.cost, decimals: 2 } }} CNY
										</div>
									</td>
									<td>
										<div>
											{{#def.format: {n: dataone.fee * dataone.cost, decimals: 2 } }} CNY
										</div>
									</td>
									<td>
										<div>
											{{=it.translation['inprogress']}}
										</div>
									</td>
									<td class="text-center">
										{{?dataone['status']==0}}
										<a href="/trading/{{=dataone['txid']}}" class="text-secondary">{{=it.translation['seedetail']}}</a>
										{{??dataone['status']==1}}
										<a href="/transfer/{{=dataone['txid']}}" class="text-secondary">{{=it.translation['seedetail']}}</a>
										{{?}}
									</td>
								</tr>
								{{?}}
				  				{{~}}
				  			</tbody>
				  		</table>
				  		<!-- <div class = "clearfix mt-5 text-center">
				  			<ul class = "inline-ul">
				  				<li><a href = "#">首页</a></li>
				  				<li><a href = "#">上一页</a></li>
				  				<li><a href = "#">1</a></li>
				  				<li><a href = "#">下一页</a></li>
				  				<li><a href = "#">首页</a></li>
				  			</ul>
				  		</div> -->
				  	</div>

				  </div>
				  <div class="tab-pane fade" id="pills-complete" role="tabpanel" aria-labelledby="pills-contact-tab">
				  	<div class = "table-responsive">
				  		<table id = "completetable" class = "table bg-white">
							<thead  style="background-color: #f7f7f7">
							<tr class = 'text-grey'>
								<th>
									{{=it.translation['cost']}}
								</th>
								<th>
									{{=it.translation['amount']}}
								</th>
								<th>
									{{=it.translation['totalprice']}}
								</th>
								<th>
									{{=it.translation['currentfee']}}
								</th>
								<th>
									{{=it.translation['status']}}
								</th>
								<th>
									{{=it.translation['operation']}}
								</th>
							</tr>
							</thead>
							<tbody>
							{{~it.buyerdata:dataone:i}}
							{{?dataone['status'] == 2}}
							<tr class="text-secondary ">
								<td colspan="4">
									{{=dataone['created_at']}}  {{=it.translation['submitno']}} {{=dataone['txid']}}
								</td>
								<td>

								</td>
								<td class="text-center">
									{{=dataone['user_name']}}&nbsp;&nbsp;
									<div class="btn success " onclick="openChat(this)" data-toggle="modal" data-target="#chatModal" id="{{=dataone['txid']}}">
										<i class="fa fa-wechat"></i>
										{{~it.unreadMsgList : datatwo : j}}
										{{?datatwo['trading_id'] == dataone['txid']}}
										<span class="badge2" data-badge={{=datatwo['count']}}></span>
										{{?}}
										{{~}}
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div>
										{{=dataone['cost']}} CNY
									</div>
								</td>
								<td>
									<div>
										<span class = "text-success">
											{{=it.translation['buy']}}
										</span>&nbsp;
										{{=dataone['volumn']}} 
										{{=dataone['market']}}
									</div>
								</td>
								<td>
									<div>
										{{#def.format: {n: dataone.volumn * dataone.cost, decimals: 2 } }} CNY
									</div>
								</td>
								<td>
									<div>
										{{#def.format: {n: dataone.fee * dataone.cost, decimals: 2 } }} CNY
									</div>
								</td>
								<td>
									<div>
										<span class="text-success">{{=it.translation['completed']}}</span>
									</div>
								</td>
								<td class="text-center">

									<a href="/complete/{{=dataone['txid']}}" class="text-secondary">{{=it.translation['seedetail']}}</a>
								</td>
								<!--<td>-->
								<!--<button onclick = "fnc_cancel({{=dataone['id']}})" class = " btn btn-outline-success btn-sm">{{=it.translation['cancel']}}</button>-->
								<!--</td>-->
							</tr>
							{{?}}
							{{~}}
							{{~it.sellerdata:dataone:i}}
							{{?dataone['status'] == 2}}
							<tr class="text-secondary ">
								<td colspan="4">
									{{=dataone['created_at']}}  {{=it.translation['submitno']}} {{=dataone['txid']}}
								</td>
								<td>

								</td>
								<td class="text-center">
									{{=dataone['user_name']}}&nbsp;&nbsp;
									<div class="btn success " onclick="openChat(this)" data-toggle="modal" data-target="#chatModal" id="{{=dataone['txid']}}">
										<i class="fa fa-wechat"></i>
										{{~it.unreadMsgList : datatwo : j}}
										{{?datatwo['trading_id'] == dataone['txid']}}
										<span class="badge2" data-badge={{=datatwo['count']}}></span>
										{{?}}
										{{~}}
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div>
										{{=dataone['cost']}} CNY
									</div>
								</td>
								<td>
									<div>
										<span class = "text-success">
											{{=it.translation['sell']}}
										</span>&nbsp;
										{{=dataone['volumn']}} 
										{{=dataone['market']}}
									</div>
								</td>
								<td>
									<div>
										{{#def.format: {n: dataone.volumn * dataone.cost, decimals: 2 } }} CNY
									</div>
								</td>
								<td>
									<div>
										{{#def.format: {n: dataone.fee * dataone.cost, decimals: 2 } }} CNY
									</div>
								</td>
								<td>
									<div>
										<span class="text-success">{{=it.translation['completed']}}</span>
									</div>
								</td>
								<td class="text-center">
									<a href="/complete/{{=dataone['txid']}}" class="text-secondary">{{=it.translation['seedetail']}}</a>
								</td>
							</tr>
							{{?}}
							{{~}}
							</tbody>
				  		</table>
				  	</div>
				  </div>
				</div>
			</div>
		</main>
		<footer>
			<div class = "container footer-intro">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-8 col-lg-8">
						<h5 class = "text-light">
							OTCMODE
						</h5>
						<span class = "text-light">
							{{=it.translation['companyintro']}}
						</span>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h5 class = "text-light">
							{{=it.translation['customerservice']}}
						</h5>
						<ul class = "text-light">
							<li><a href = "/faq">{{=it.translation['faq']}}</a></li>
							<!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
							<li><a href = "/exchangeratio">{{=it.translation['exchangerate']}}</a></li> 
						</ul>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h5 class = "text-light">
							{{=it.translation['customerservice']}}
						</h5>
						<ul class = "text-light">
							<li><a href = "/aboutus">{{=it.translation['aboutus']}}</a></li>
							<li><a href ="/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class = "container footer-info border-top-grey">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light">{{=it.translation['termsofservice']}} {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
					</div>
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
					</div>
				</div>
			</div>
		</footer>
	</body>
	<script>
		(function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","//assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
		ud({
		    "code": "2b916c16",
		    "link": "https://madabit.udesk.cn/im_client/?web_plugin_id=48770"
		});
	</script>
	<script type = "text/javascript" src = "../dist/js/jquery-3.3.1.js">
	</script>
	<script type = "text/javascript" src = "../dist/js/bootstrap.js">
	</script>
	<script src = "/dist/js/socket.io.js">
	</script>
	<script src = "/dist/js/client.js">
	</script>
	<script type = "text/javascript" src = "../dist/js/toastr.min.js">
	</script>
	<script type = "text/javascript" src = "../dist/js/ui-toastr.js">
	</script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	{{?it.isLogged == true}}
	<script>
		let client = new Client();
		let txid;
		let user_id;
		$(document).ready(function()
		{
			client.getMsgInfo();
			setInterval(client.getMsgInfo , 5000);
			setInterval(getBadgeInfo, 5000);
			user_id = parseInt($('#user_id').val());
			let lang = $('#lang').val();
			if (lang === 'zh'){
				let langOption = {
					"language": {
						"sProcessing":   "处理中...",
						"sLengthMenu":   "显示 _MENU_ 项结果",
						"sZeroRecords":  "没有匹配结果",
						"sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
						"sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
						"sInfoFiltered": "(由 _MAX_ 项结果过滤)",
						"sInfoPostFix":  "",
						"sSearch":       "搜索:",
						"sUrl":          "",
						"sEmptyTable":     "表中数据为空",
						"sLoadingRecords": "载入中...",
						"sInfoThousands":  ",",
						"oPaginate": {
							"sFirst":    "首页",
							"sPrevious": "上页",
							"sNext":     "下页",
							"sLast":     "末页"
						},
						"oAria": {
							"sSortAscending":  ": 以升序排列此列",
							"sSortDescending": ": 以降序排列此列"
						}
					},
					"pagingType": "full_numbers"
				};
			} else {
			}

		});
		function showAlert(str,status)
		{
			toastr.options = {
				"closeButton": true,
				"debug": false,
				"positionClass": "toast-top-right",
				"onclick": null,
				"showDuration": "10000",
				"hideDuration": "1000",
				"timeOut": "5000",
				"extendedTimeOut": "2000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			};
			toastr[status](str);
		}
		function openChat(arg){
			$('#chatbox').empty();
			txid = arg.id;
			client.readMsg();
			console.log(txid);
			$.ajax({
				url : '/getAllMessage',
				data : {
					txid : txid
				},
				type : 'POST',
				success : function(response){
					if(response.status === 'success'){

						let chats = response.msg;
						chats.forEach(chat =>{
							insertMessage(chat);
						})
					} else {
						showAlert(response.msg, 'error');
					}
				}
			});
		}
		function insertMessage(msg){
			let created_at = msg.created_at;
			let message = msg.content;
			let img_url = msg.img_url;

			if(user_id === msg.sender_id){
				if(img_url){
					$('<li class="sent"><img src="'+ msg.sender_img +'" alt="" /><span> &nbsp;You</span><a href="' + img_url +'" target="_blank"><img src="' + img_url + '" style="width: 200px;height: 200px; border-radius : 0; m-1"></img></a></li>').appendTo($('#chatbox'));
				}
				if (message) $('<li class="sent"><img src="'+ msg.sender_img +'" alt="" /><span> &nbsp;You</span><p>' + message + '</p></li>').appendTo($('#chatbox'));
			} else {
				if(img_url){
					$('<li class="replies"><img src="'+ msg.sender_img +'" alt="" /><span>' + msg.sender_name + '&nbsp;</span><a href="' + img_url +'" target="_blank"><img src="' + img_url + '" style="width: 200px;height: 200px; border-radius : 0; m-1"></img></a></li>').appendTo($('#chatbox'));
				}
				if(message)  $('<li class="replies"><img src="' + msg.sender_img + '" alt="" /><span>' + msg.sender_name + '&nbsp;</span><p>' + message + '</p></li>').appendTo($('#chatbox'));
			}
			$(".chat-back").animate({ scrollTop: $(document).height() }, "fast");
		}
		function deleteOrder(self){
			let order_id = self.name;

			$.ajax({
				url : '/cancelOrder',
				data : {
					order_id : order_id
				},
				type : 'POST',
				success : function(response){
					if(response.status === 'failed') showAlert(response.msg, 'error');
					else {
						$('tr').remove('.'+order_id);
					}
				}
			})
		}
		function getBadgeInfo(){
			$.post(
				'/badgeInfo',
				function(res){
					if(res.status === 'success'){
						var badges = res.msg;
						$('.badge2').hide();
						badges.forEach(badge=>{
							$('#'+badge.trading_id+'>span').show();
							$('#'+badge.trading_id+'>span').attr('data-badge', badge.count);
						})
					}
				}
			)
		}
	</script>
{{?}}
</html>