<!DOCTYPE>
<html>
	<head>
		<meta charset = "utf8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OTCMODE</title>

		<link rel = "stylesheet" href = "../dist/css/bootstrap.css">
		<link rel = "stylesheet" href = "../dist/css/font-awesome.min.css">
		<link rel = "stylesheet" href = "../dist/css/toastr.min.css">
		<link rel = "stylesheet" href = "./dist/css/intlTelInput.css">

		<link href="../dist/css/custom.css" rel="stylesheet">
		<link href="../dist/css/custom-1200.css" rel="stylesheet" media="screen and (max-width:1199px) and (min-width: 992px)">
		<link href="../dist/css/custom-992.css" rel="stylesheet" media="screen and (max-width:991px) and (min-width: 768px)">
		<link href="../dist/css/custom-768.css" rel="stylesheet" media="screen and (max-width:767px) and (min-width: 576px)">
		<link href="../dist/css/custom-576.css" rel="stylesheet" media="screen and (max-width:575px)">

		<link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
		<link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
		<link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
		<style>
			/**{
				font-family : simhei;
			}*/
		</style>
	</head>
	<body class = "">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class = "container">
			  <a class="navbar-brand" href="/"><img src = "./images/mark.png" id='id_imgLogo'></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
				<input type="text" value="{{=it.translation['langfor']}}" hidden="true" id = "lang">
				<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:10px;">
					<div class = 'class_forMobileViewAccount class_forNonMobileViewMarginLeftAuto'>
						<ul class="navbar-nav ml-auto">
							{{?it.isLogged == true}}
							<li class="nav-item" id="notify" style="display:none;">
								<a class="nav-link" href="/dashboard"><img src="/images/notification.png" style="width: 30px"><span class="badge1" data-badge=""></span></a>
							</li>
							{{?}}
							<li class="nav-item">
								<a class="nav-link" href="/requestTradeSell">{{=it.translation['buysell'] }}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/wallet">{{=it.translation['wallet']}}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/dashboard">{{=it.translation['dashboard']}}</a>
							</li>
							{{?it.isLogged == false}}
							<li class="nav-item class_mobileHidden">
								<a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 115px;">{{=it.translation['register']}}</button></a>
							</li>
							{{?}}
							<li class="nav-item class_mobileHidden">
								<a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 115px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
							</li>
							<li class="nav-item dropdown class_mobileHidden">
								<a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
								</a>
								<div class="dropdown-menu" aria-labelledby="langdropdown">
									<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
									<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
								</div>
							</li>
						</ul>
					</div>
					<div style="float:left; width:50%; display: none;" class= 'class_mobileShow'>
						<ul class="navbar-nav ml-auto">
							{{?it.isLogged == false}}
							<li class="nav-item">
								<a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 150px;">{{=it.translation['register']}}</button></a>
							</li>
							{{?}}
							<li class="nav-item">
								<a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 150px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
								</a>
								<div class="dropdown-menu" aria-labelledby="langdropdown">
									<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
									<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
								</div>
							</li>

							<!--{{?it.isLogged == true}}-->
							<!--<li class="nav-item dropdown">-->
							<!--<a class="nav-link dropdown-toggle" href="#balancedropdown" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
							<!--{{=it.user['user_name']}}-->
							<!--</a>-->

							<!--<div class="dropdown-menu p-1" aria-labelledby="langdropdown" id = "balancedropdown">-->
							<!--<a class = "ic ic-btc">BTC:{{=it.user['balance_btc']}}</a><br>-->
							<!--<a class = "ic ic-eth">ETH:{{=it.user['balance_eth']}}</a><br>-->
							<!--<a class = "ic ic-gp">MDC:{{=it.user['balance_mdc']}}</a><br>-->
							<!--</div>-->
							<!--</li>-->
							<!--{{?}}-->
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<section class = "main-back border-bottom-green">
			<div class = "container">
				{{?it.translation['langfor'] == 'zh'}}
				<h3 class = "color-green">费率说明</h3>

				<div class = "font-md pt-4">OTCMODE是一个专注于提供区块链数字资产自由流通的兑换平台。用户在使用平台过程中产生的相关费用细则如下。</div>
				
				<ol class = "font-md pl-4">
					<li class = "color-green pt-4">手续费</li>
					<span class = "text-secondary">在广告列表下进行购买／出售，无需支付手续费。</span><br>
					<span class = "text-secondary">创建新订单发布购买／出售广告信息，订单成交后按订单金额收取手续费，手续费 0.5%</span>

					<li class = "color-green pt-4">广告费</li>
					<span class = "text-secondary">在交易列表下进行购买／出售，无需支付广告费。</span><br>
					<span class = "text-secondary">发布批量交易广告免费。</span><br>
					<span class = "text-secondary">发布普通广告，需支付「广告费」。具体币种的广告费请查看本页费率表。</span><br>
					<span class = "text-secondary">广告一经发布，系统便自动扣除广告费，不论该广告是否有成交</span><br>
					<span class = "text-secondary">单个普通广告有效期为14天，有效期内不限制编辑、上架、下架的次数以及成交笔数</span><br>
					<span class = "text-secondary">提示：若账户余额低于「广告可见最低余额」，您的广告将无法展示在广告列表中，但您可以将广告链接发送给他人进行下单。</span><br>

					<li class = "color-green pt-4">充值/提币</li>
					<span class = "text-secondary pl-3">（1）充值免费</span><br>
					<span class = "text-secondary pl-3">（2）提币矿工费</span><br>
					<span class = "text-secondary">发起提币需要支付矿工费。单笔提币不论数额大小，均消耗固定矿工费。</span><br>
					<span class = "text-secondary">例：单笔提币 500 ETH，矿工费为 0.003 ETH；单笔提币 1 ETH，矿工费也为 0.003 ETH。</span><br>
					<span class = "text-secondary">系统将根据当前区块链网络阻塞情况自动调整矿工费，以确保您的提币交易可以尽快得到确认。</span><br>
					<span class = "text-secondary">矿工费将从您的提币数额中扣除。</span><br>
					<span class = "text-secondary">例：提币 1 ETH，若矿工费为 0.003 ETH，则实际到账为 0.997 ETH。</span><br>
				</ol>
				{{??}}
				<h3 class = "color-green">Rate Description</h3>

				<div class = "font-md pt-4">OTCMODE is a redemption platform focused on providing free circulation of blockchain digital assets. The relevant fees and charges incurred by users in using the platform are as follows. </div>
				<ol class = "font-md pl-4">
					<li class = "color-green pt-4">Procedure fee</li>
					<span class = "text-secondary"> Buys/sells under the ad list without paying a commission. </span><br>
					<span class = "text-secondary">Create a new order to post purchase/sale advertisement information. After the order is filled, the fee will be charged according to the order amount. The fee is 0.5%.</span>

					<li class = "color-green pt-4">advertising fee</li>
					<span class = "text-secondary"> Buys/sells under the transaction list without paying advertising costs. </span><br>
					<span class = "text-secondary">Publish bulk deals ad free. </span><br>
					<span class = "text-secondary">When you post a regular ad, you pay "advertisement fee." For specific currency advertising rates, please see the page on rate tables. </span><br>
					<span class = "text-secondary">When an ad is published, the system automatically deducts advertising costs, regardless of whether the ad has a deal.</span><br>
					<span class = "text-secondary">A single regular ad is valid for 14 days, with no restrictions on the number of edits, shelves, shelves, and transactions during the validity period</span><br>
					<span class = "text-secondary">Tip: If the account balance is lower than the "Ad Visible Minimum Balance", your ad won't be eligible to appear in the ad list, but you can send the ad link to someone else to place an order. </span><br>

					<li class = "color-green pt-4">recharge/extract coins</li>
					<span class = "text-secondary pl-3">(1)Free Reload</span><br>
					<span class = "text-secondary pl-3">(2) Tomb miner’s fees</span><br>
					<span class = "text-secondary"> Initiating the withdrawal requires a miner’s fee. A single coin will consume a fixed miner's fee regardless of the amount. </span><br>
					<span class = "text-secondary"> Example: Single TIC 500 ETH, miner fee 0.003 ETH; single coin 1 ETH, miner fee is also 0.003 ETH. </span><br>
					<span class = "text-secondary"> The system will automatically adjust the miner's fee based on the current blocking status of the blockchain network to ensure that your debit transaction can be confirmed as soon as possible. </span><br>
					<span class = "text-secondary"> The miner’s fee will be deducted from your currency. </span><br>
					<span class = "text-secondary"> Example: 1 ETH, if the miner’s fee is 0.003 ETH, the actual arrival is 0.997 ETH. </span><br>
				</ol>
				{{?}}
			</div>
		</section>
<footer>
			<div class = "container footer-intro">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-8 col-lg-8">
						<h5 class = "text-light">
							OTCMODE
						</h5>
						<span class = "text-light">
							{{=it.translation['companyintro']}}
						</span>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h5 class = "text-light">
							{{=it.translation['customerservice']}}
						</h5>
						<ul class = "text-light">
							<li><a href = "/faq?clang={{=it.translation['langfor']}}">{{=it.translation['faq']}}</a></li>
							<!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
							<li><a href = "/exchangeratio?clang={{=it.translation['langfor']}}">{{=it.translation['exchangerate']}}</a></li>
						</ul>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h5 class = "text-light">
							{{=it.translation['customerservice']}}
						</h5>
						<ul class = "text-light">
							<li><a href = "/aboutus?clang={{=it.translation['langfor']}}">{{=it.translation['aboutus']}}</a></li>
							<li><a href = "/">{{=it.translation['contactus']}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class = "container footer-info border-top-grey">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light"><a href = "/termsofservice?clang={{=it.translation['langfor']}}">{{=it.translation['termsofservice']}}</a> {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
					</div>
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
					</div>
				</div>
			</div>
		</footer>
	</body>
	<script>
		(function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","//assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
		ud({
		    "code": "2b916c16",
		    "link": "https://madabit.udesk.cn/im_client/?web_plugin_id=48770"
		});
	</script>
	<script type = "text/javascript" src = "/dist/js/jquery-3.3.1.js">
	</script>
	<script type = "text/javascript" src = "/dist/js/bootstrap.js">
	</script>
	<script type="text/javascript" src="/dist/js/index1.js"></script>
	<script src = "/dist/js/socket.io.js">
	</script>
	<script src = "/dist/js/client.js">
	</script>
	<script type = "text/javascript" src = "../dist/js/toastr.min.js">
	</script>
	<script type = "text/javascript" src = "../dist/js/ui-toastr.js">
	</script>
	{{?it.isLogged == true}}
	<script>
		var client = new Client();
        client.getMsgInfo();
        let lang = $('#lang').val();
        setInterval(client.getMsgInfo , 5000);
        function showAlert(str,status)
        {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "10000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "2000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr[status](str);
        }
	</script>
	{{?}}
</html>