<!DOCTYPE>
<html>
	<head>
		<meta charset = "utf8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OTCMODE</title>

		<link rel = "stylesheet" href = "../dist/css/bootstrap.css">
		<link rel = "stylesheet" href = "../dist/css/font-awesome.min.css">
		<link rel = "stylesheet" href = "../dist/css/toastr.min.css">
		<link rel = "stylesheet" href = "./dist/css/intlTelInput.css">

		<link href="../dist/css/custom.css" rel="stylesheet">
		<link href="../dist/css/custom-1200.css" rel="stylesheet" media="screen and (max-width:1199px) and (min-width: 992px)">
		<link href="../dist/css/custom-992.css" rel="stylesheet" media="screen and (max-width:991px) and (min-width: 768px)">
		<link href="../dist/css/custom-768.css" rel="stylesheet" media="screen and (max-width:767px) and (min-width: 576px)">
		<link href="../dist/css/custom-576.css" rel="stylesheet" media="screen and (max-width:575px)">

		<link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
		<link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
		<link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
		<style>
			/**{
				font-family : simhei;
			}*/
		</style>
	</head>
	<body class = "">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class = "container">
			  <a class="navbar-brand" href="/?clang={{=it.translation['langfor']}}"><img src = "./images/mark.png" id='id_imgLogo'></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

				<input type="text" value="{{=it.translation['langfor']}}" hidden="true" id = "lang">
				<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:10px;">
					<div class = 'class_forMobileViewAccount class_forNonMobileViewMarginLeftAuto'>
						<ul class="navbar-nav ml-auto">
							{{?it.isLogged == true}}
							<li class="nav-item" id="notify" style="display:none;">
								<a class="nav-link" href="/dashboard"><img src="/images/notification.png" style="width: 30px"><span class="badge1" data-badge=""></span></a>
							</li>
							{{?}}
							<li class="nav-item">
								<a class="nav-link" href="/requestTradeSell">{{=it.translation['buysell'] }}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/wallet">{{=it.translation['wallet']}}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/dashboard">{{=it.translation['dashboard']}}</a>
							</li>
							{{?it.isLogged == false}}
							<li class="nav-item class_mobileHidden">
								<a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 115px;">{{=it.translation['register']}}</button></a>
							</li>
							{{?}}
							<li class="nav-item class_mobileHidden">
								<a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 115px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
							</li>
							<li class="nav-item dropdown class_mobileHidden">
								<a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
								</a>
								<div class="dropdown-menu" aria-labelledby="langdropdown">
									<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
									<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
								</div>
							</li>
						</ul>
					</div>
					<div style="float:left; width:50%; display: none;" class= 'class_mobileShow'>
						<ul class="navbar-nav ml-auto">
							{{?it.isLogged == false}}
							<li class="nav-item">
								<a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 150px;">{{=it.translation['register']}}</button></a>
							</li>
							{{?}}
							<li class="nav-item">
								<a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 150px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
								</a>
								<div class="dropdown-menu" aria-labelledby="langdropdown">
									<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
									<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
								</div>
							</li>

							<!--{{?it.isLogged == true}}-->
							<!--<li class="nav-item dropdown">-->
							<!--<a class="nav-link dropdown-toggle" href="#balancedropdown" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
							<!--{{=it.user['user_name']}}-->
							<!--</a>-->

							<!--<div class="dropdown-menu p-1" aria-labelledby="langdropdown" id = "balancedropdown">-->
							<!--<a class = "ic ic-btc">BTC:{{=it.user['balance_btc']}}</a><br>-->
							<!--<a class = "ic ic-eth">ETH:{{=it.user['balance_eth']}}</a><br>-->
							<!--<a class = "ic ic-gp">MDC:{{=it.user['balance_mdc']}}</a><br>-->
							<!--</div>-->
							<!--</li>-->
							<!--{{?}}-->
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<section class = "main-back border-bottom-green">
			{{?it.translation['langfor'] == 'zh'}}
			<div class = "container">
				<h3 class = "color-green">常见问题</h3>
				<ul class = "font-md pl-4">
					<li class = "pt-4 color-green">常见问题</li>
						<span class = "text-secondary">如何出售数字币？</span><br>
						<span class = "text-secondary">将数字币充值到OTCMODE的账户中；</span><br>
						<span class = "text-secondary">发起出售数字货币等待交易；</span><br>
						<span class = "text-secondary">提供收款账户信息，交易中的数字货币将被锁定；</span><br>
						<span class = "text-secondary">确认款项到账后释放数字币；</span><br>
						<span class = "text-secondary">出售完成。</span><br>

					<li class = "pt-4 color-green">如何购买数字币？</li>
						<span class = "text-secondary">发起购买数字货币等待交易；</span><br>
						<span class = "text-secondary">向卖家索取收款账户信息，交易中卖家的数字货币将被锁定；</span><br>
						<span class = "text-secondary">转账到卖家的收款账户并通知卖家；</span><br>
						<span class = "text-secondary">卖家确认款项到账后释放数字币；</span><br>
						<span class = "text-secondary">购买完成。</span><br>

					<li class = "pt-4 color-green">如何开始交易？</li>
						<span class = "text-secondary">注册OTCMODE，完成手机验证后即可开始交易。充值数字币到平台完成数字币的出售；直接从其他挂单卖家那里购买数字币，在余额充足的条件下可以进行提币。	</span><br>

					<li class = "pt-4 color-green">OTCMODE的交易手续费是多少？</li>
						<span class = "text-secondary">目前市面上「场内交易平台」手续费是 0.1% ~ 0.3%；「场外交易平台」手续费是 0.7% ~ 1%。</span><br>
						<span class = "text-secondary">OTCMODE当前的交易手续费为0.5%，后续我们会兼顾大家的预期以及平台的生存需求，去调整定价。</span><br>
						<span class = "text-secondary">交易手续费由发起交易的用户承担（不论是出售数字币或是购买数字币）。</span><br>
						<span class = "text-secondary">例：您发布了出售数字币，成功出售了 1 BTC， 将从您的账户馀额额外扣除 0.005 BTC 作为手续费。</span><br>

					<li class = "pt-4 color-green">OTCMODE如何充值？</li>
						<span class = "text-secondary">一、在OTCMODE首页找到「个人账户」进入充值页面</span><br>
						<span class = "text-secondary">二、找到需要充值的数字币种，点击复制链接。</span><br>
						<span class = "text-secondary">提示：充值需要些许时间，请等待交易完成6个确认数，一旦完成充值将会发邮件或短信通知您，您还可以刷新网页查看充值状态。</span><br>
						<span class = "text-secondary">从交易所（自己的数字币存放的交易所）提取对应的数字币到上述链接地址。</span><br>
						<span class = "text-secondary">回到OTCMODE个人账户页面，在【 历史记录】中查看这笔交易，状态显示【已充值】说明充值已经到账。</span><br>

					<li class = "pt-4 color-green">OTCMODE充值后多久会到账？</li>
						<span class = "text-secondary">区块链资产到账时间取决于区块链的确认速度。</span><br>
						<span class = "text-secondary">如果长时间未到账，请先到转出的平台确认您的区块链资产是否已提币成功。</span><br>
				</ul>

			</div>
			{{??}}
			<div class = "container">
				<h3 class = "color-green">Frequently Asked Questions</h3>
				<ul class = "font-md pl-4">
					<li class = "pt-4 color-green">Frequently Asked Questions</li>
					<span class = "text-secondary">How to sell digital coins? </span><br>
					<span class = "text-secondary">Add digital currency to OTCMODE's account;</span><br>
					<span class = "text-secondary">Initiate sale of digital currency waiting for a transaction;</span><br>
					<span class = "text-secondary">Provide your incoming account information, and the digital currency in your transaction will be locked out;</span><br>
					<span class = "text-secondary">Release the digital currency after the payment is confirmed;</span><br>
					<span class = "text-secondary">The sale is completed. </span><br>

					<li class = "pt-4 color-green">How to buy digital coins? </li>
					<span class = "text-secondary"> Initiating purchase of digital currency waiting for a transaction;</span><br>
					<span class = "text-secondary"> asks the seller for a payment account information in which the seller’s digital currency will be locked out;</span><br>
					<span class = "text-secondary">Transfers to the seller's payee account and informs the seller;</span><br>
					<span class = "text-secondary">The seller releases the digital currency after the seller confirms the payment;</span><br>
					<span class = "text-secondary"> The purchase is complete. </span><br>

					<li class = "pt-4 color-green">How to start trading? </li>
					<span class = "text-secondary"> Register OTCMODE to complete the transaction and complete the transaction. Recharge digital coins to the platform to complete the sale of digital coins; purchase digital coins directly from other pending sellers, and withdraw coins with sufficient balance. </span><br>

					<li class = "pt-4 color-green">What is the transaction fee for OTCMODE? </li>
					<span class = "text-secondary">At present, the "on-market trading platform" fee in the market is 0.1% ~ 0.3%, and the "off-exchange trading platform" handling fee is 0.7% ~ 1%. </span><br>
					<span class = "text-secondary">The current transaction fee for OTCMODE is 0.5%, and we will adjust the pricing in the future in consideration of everyone's expectations and the survival needs of the platform. </span><br>
					<span class = "text-secondary"> The transaction fee is borne by the user who initiated the transaction (whether it is selling digital currency or buying digital currency). </span><br>
					<span class = "text-secondary"> Example: You have sold digital coins, successfully sold 1 BTC, and will deduct an additional 0.005 BTC from your account balance as a handling fee. </span><br>

					<li class = "pt-4 color-green">How does OTCMODE recharge? </li>
					<span class = "text-secondary">I. Find "Personal Account" on the OTC MODE Homepage to enter the recharge page</span><br>
					<span class = "text-secondary"> Second, to find the digital currency you need to recharge, click the Copy link. </span><br>
					<span class = "text-secondary">Tip: It takes a little time to recharge, please wait for the transaction to complete 6 confirmations. Once the recharge is completed, you will be notified by e-mail or SMS. You can also refresh the page to check the recharge status. </span><br>
					<span class = "text-secondary"> Extract the corresponding digital currency from the exchange (the exchange where your own digital currency is stored) to the above link address. </span><br>
					<span class = "text-secondary"> Back to OTCMODE personal account page, view the transaction in [History], the status display [recharged] shows that the recharge has arrived. </span><br>

					<li class = "pt-4 color-green">How long will the OTCMODE be credited? </li>
					<span class = "text-secondary"> The blockchain asset arrival time depends on the blockchain validation speed. </span><br>
					<span class = "text-secondary"> If you do not arrive within a long period of time, first check to see if your blockchain assets have been successfully extracted. </span><br>
				</ul>

			</div>
			{{?}}
		</section>
<footer>
			<div class = "container footer-intro">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-8 col-lg-8">
						<h5 class = "text-light">
							OTCMODE
						</h5>
						<span class = "text-light">
							{{=it.translation['companyintro']}}
						</span>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h5 class = "text-light">
							{{=it.translation['customerservice']}}
						</h5>
						<ul class = "text-light">
							<li><a href = "/faq?clang={{=it.translation['langfor']}}">{{=it.translation['faq']}}</a></li>
							<!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
							<li><a href = "/exchangeratio?clang={{=it.translation['langfor']}}">{{=it.translation['exchangerate']}}</a></li>
						</ul>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h5 class = "text-light">
							{{=it.translation['customerservice']}}
						</h5>
						<ul class = "text-light">
							<li><a href = "/aboutus?clang={{=it.translation['langfor']}}">{{=it.translation['aboutus']}}</a></li>
							<li><a	 href = "/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class = "container footer-info border-top-grey">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light"><a href = "/termsofservice?clang={{=it.translation['langfor']}}">{{=it.translation['termsofservice']}}</a> {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
					</div>
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
					</div>
				</div>
			</div>
		</footer>
	</body>
	<script>
		(function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","//assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
		ud({
		    "code": "2b916c16",
		    "link": "https://madabit.udesk.cn/im_client/?web_plugin_id=48770"
		});
	</script>
	<script type = "text/javascript" src = "/dist/js/jquery-3.3.1.js">
	</script>
	<script type = "text/javascript" src = "/dist/js/bootstrap.js">
	</script>
	<script type="text/javascript" src="/dist/js/index1.js"></script>
	<script src = "/dist/js/socket.io.js">
	</script>
	<script src = "/dist/js/client.js">
	</script>
	<script type = "text/javascript" src = "../dist/js/toastr.min.js">
	</script>
	<script type = "text/javascript" src = "../dist/js/ui-toastr.js">
	</script>
	{{?it.isLogged == true}}
	<script>
		var client = new Client();
        client.getMsgInfo();
        let lang = $('#lang').val();
        setInterval(client.getMsgInfo , 5000);
        function showAlert(str,status)
        {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "10000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "2000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr[status](str);
        }

	</script>
	{{?}}
</html>