<!DOCTYPE>
<html>
	<head>

		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OTCMODE</title>

		<link rel = "stylesheet" href = "./dist/css/bootstrap.css">
		<link rel = "stylesheet" href = "./dist/css/custom.css">
		<link rel = "stylesheet" href = "./dist/css/madaex.css">
		<link href="/toastr/toastr.min.css" rel="stylesheet" type="text/css">

		<link href="../dist/css/custom.css" rel="stylesheet">
		<link href="../dist/css/custom-1200.css" rel="stylesheet" media="screen and (max-width:1199px) and (min-width: 992px)">
		<link href="../dist/css/custom-992.css" rel="stylesheet" media="screen and (max-width:991px) and (min-width: 768px)">
		<link href="../dist/css/custom-768.css" rel="stylesheet" media="screen and (max-width:767px) and (min-width: 576px)">
		<link href="../dist/css/custom-576.css" rel="stylesheet" media="screen and (max-width:575px)">

		<link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
		<link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
		<link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">

		<script type = "text/javascript" src = "./dist/js/jquery-3.3.1.js">
		</script>
		<script type = "text/javascript" src = "./dist/js/bootstrap.js">
		</script>
		<style>
			.pay-panel{
				background: white;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				padding:50px 30px 30px 20px;
			}

			footer, footer:before, footer:after {
				margin-top: 0px !important;
			}

		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class = "container">
				<a class="navbar-brand"><img src = "./images/mark.png" id='id_imgLogo'></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:10px;">
					<div style="float:left; width:50%;">
						<li class="nav-item class_mobileShow" style="display: none;">
							<a class="nav-link" href="/register">
								<button class = "btn btn-outline-success btn-sm"  style="width: 115px;">
									{{=it.translation['register']}}
								</button>
							</a>
						</li>
						<li class="nav-item class_mobileShow" style="display: none;">
							<a class="nav-link" href="/">
								<button class = "btn btn-outline-success btn-sm"  style="width: 115px;">
									{{=it.translation['deposite']}}
								</button>
							</a>
						</li>
					</div>
					<div style="float:left; width:50%;">
						<ul class="navbar-nav ml-auto class_mobileFloatNone" style="float:right;">
							<li class="nav-item class_mobileHidden">
								<a class="nav-link" href="/register?clang={{=it.translation['langfor']}}">
									<button class = "btn btn-outline-success btn-sm"  style="width: 115px;">
										{{=it.translation['register']}}
									</button>
								</a>
							</li>
							<li class="nav-item class_mobileHidden">
								<a class="nav-link" href="/?clang={{=it.translation['langfor']}}">
									<button class = "btn btn-outline-success btn-sm"  style="width: 115px;">
										{{=it.translation['deposite']}}
									</button>
								</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
								</a>
								<div class="dropdown-menu" aria-labelledby="langdropdown">
									<a class="dropdown-item" id="id_setLangEn"><span class = "flag flag-en" >English</span></a>
									<a class="dropdown-item" id="id_setLangZh"><span class = "flag flag-ch" >中文简体</span></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<main class = "i_main-back">

			<form method="post" id="id_formLang" style="display: none;">
				<input type="text" id="id_reqCoinType" name="coin_type" value="{{=it.payInfo.coinType}}"/>
				<input type="text" id="id_reqAmount" name="amount" value="{{=it.payInfo.amount}}"/>
				<input type="text" id="id_reqUserId" name="user_id" value="{{=it.payInfo.userId}}"/>
				<input type="text" id="id_reqAddress" name="user_eth_address" value="{{=it.payInfo.address}}"/>
				<input type="text" id="id_reqOrderNumber" name="crm_order_number" value="{{=it.payInfo.crmOrderNumber}}"/>
				<input type="text" id="id_reqNotifyURL" name="notify_url" value="{{=it.payInfo.notifyURL}}"/>
				<input type="text" id="id_reqSign" name="sign" value="{{=it.payInfo.sign}}"/>
			</form>

			<form method="post" id="id_formResult" style="display: none;">
				<input id="id_resAmount" type="text" name="amount"/>
				<input id="id_resOrderNumber" type="text" name="crm_order_number"/>
				<input id="id_resPayStatus" type="text" name="pay_status"/>
				<input id="id_resSign" type="text" name="sign"/>
			</form>

			<div class = "container">
				<div class="row">
					<div class="col-md-6">
						<div class="pay-panel" style="margin-bottom:10px;min-height:540px;">
							<div style="font-weight:600;color:#616161;min-height:55px;">{{=it.translation['forex_has_no_account']}}</div>
							<div style="margin-top:20px;text-align:center;margin-bottom:10px;color:#616161;">{{=it.translation['forex_scan_qr']}}</div>
							<div  style="background-color:white; width: 250px; margin: 0 auto;">
								{{=it.svgqr}}
							</div>
							<div style="font-weight:600;color:#616161;margin-bottom:10px;">{{=it.translation['forex_detail']}}</div>
							<div class="row col-md-12" style="color:#616161;">
								<div style="width:120px;font-weight:600;">{{=it.translation['forex_address']}}</div>
								<div>

									{{?it.payInfo.coinType=='ETH'}}
										{{=it.ethCompanyAddress}}
									{{??}}
										{{=it.payInfo.address}}
									{{?}}

								</div>
							</div>
							<div class="row col-md-12" style="color:#616161;">
								<div style="width:120px;font-weight:600;">{{=it.translation['forex_amount']}}</div>
								<div>{{=it.payInfo.amount}} {{=it.payInfo.coinType}}</div>
							</div>
							<div class="row col-md-12" style="color:#616161;">
								<div style="width:120px;font-weight:600;">{{=it.translation['forex_order_number']}}</div>
								<div>{{=it.payInfo.crmOrderNumber}}</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="pay-panel" style="min-height:540px;">
							<div style="font-weight:600;color:#616161;min-height:55px;">{{=it.translation['forex_has_account']}}</div>

							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-md-10">
									<div class = "input-group" style="margin-bottom:20px;margin-top:70px;">
										<div class = "input-group-prepend">
											<span class = "input-group-text" style="width:100px;">{{=it.translation['forex_username']}}</span>
										</div>
										<input type = "text" class = "form-control" name = "username" placeholder = "{{=it.translation['forex_username_placeholder']}}">
									</div>
									<div class = "input-group">
										<div class = "input-group-prepend">
											<span class = "input-group-text" style="width:100px;">{{=it.translation['forex_password']}}</span>
										</div>
										<input type = "password" class = "form-control" name = "password" placeholder = "{{=it.translation['forex_password_placeholder']}}">
									</div>

									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<div class = "input-group" style="margin-top:20px;">
												<button class = "btn btn-success btn-block" id="id_btnSendVerifyCode">{{=it.translation['forex_send_verify_code']}}</button>
											</div>
										</div>
										<div class="col-md-2"></div>
									</div>

									<div class = "input-group" style="margin-top:20px;">
										<div class = "input-group-prepend">
											<span class = "input-group-text" style="width:100px;">{{=it.translation['forex_verify_code']}}</span>
										</div>
										<input type = "text" class = "form-control" name = "verifycode" placeholder = "{{=it.translation['forex_verify_code_placeholder']}}">
									</div>

									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<div class = "input-group" style="margin-top:20px;">
												<button class = "btn btn-success btn-block" id="id_btnPay">{{=it.translation['forex_pay']}}</button>
											</div>
										</div>
										<div class="col-md-2"></div>
									</div>

								</div>
								<div class="col-md-1"></div>

							</div>


						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class = "container footer-intro">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-8 col-lg-8">
						<h3 class = "text-light">
							OTCMODE
						</h3>
						<span class = "text-light">
							{{=it.translation['companyintro']}}
						</span>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h3 class = "text-light">
							{{=it.translation['customerservice']}}
						</h3>
						<ul class = "text-light">
							<li><a href = "/faq">{{=it.translation['faq']}}</a></li>
							<!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
							<li><a href = "/exchangeratio">{{=it.translation['exchangerate']}}</a></li>
						</ul>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h3 class = "text-light">
							{{=it.translation['customerservice']}}
						</h3>
						<ul class = "text-light">
							<li><a href = "/aboutus">{{=it.translation['aboutus']}}</a></li>
							<li><a href = "/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class = "container footer-info border-top-grey">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light">{{=it.translation['termsofservice']}} {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
					</div>
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light float-right">{{=it.translation['servicetime']}}:10:00 - 22:00(UTC + 08:00)</span>
					</div>
				</div>
			</div>
		</footer>

		<script src="/toastr/toastr.min.js" type="text/javascript"></script>
		<script src="/toastr/ui-toastr.js" type="text/javascript"></script>

		<script>

            jQuery(document).ready(function() {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-right",
                    "onclick": null,
                    "showDuration": "1000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "2000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                $('#id_langEn').click(function () {
                    var action = '{{=it.otcURL}}/forexpay?clang=en';
                    $('#id_formLang').attr('action', action);
                    $('#id_formLang').submit();
                });

                $('#id_langZh').click(function () {
                    var action = '{{=it.otcURL}}/forexpay?clang=zh';
                    $('#id_formLang').attr('action', action);
                    $('#id_formLang').submit();
                });

                var g_nVerifyStatus = 0;
                var g_objInterval = null;
                $('#id_btnSendVerifyCode').click(function () {
                    if (g_nVerifyStatus !== 0) return;

                    var userName = $('input[name="username"]').val();
                    if (userName === '' || userName === undefined)
					{
                        toastr['warning']("{{=it.translation['forex_must_input_username']}}");
						return;
					}
                    var password = $('input[name="password"]').val();
                    if (password === '' || password === undefined)
					{
                        toastr['warning']("{{=it.translation['forex_must_input_password']}}");
                        return;
					}

                    $.post('/requestVerifyCode', {
                        userName: userName,
                        password: password
                    }, function(data){
                        if (data == "LOGIN_FAILED")
                        {
                            toastr['error']("{{=it.translation['forex_failed_login']}}");
                        }
                        else if (data == 'FAILED')
						{
                            toastr['error']("{{=it.translation['forex_sending_verifycode_failed']}}");
						}
                        else if (data == "SUCCESS")
                        {
                            toastr['success']("{{=it.translation['forex_sending_verifycode_success']}}");

                            /* count down */
                            g_nVerifyStatus = 20;
                            g_objInterval = setInterval(function(){ countDown() }, 1000);
                        }
                    });
                });

                function countDown() {
					g_nVerifyStatus --;
					if (g_nVerifyStatus <= 0)
					{
					    clearInterval(g_objInterval);
                        $('#id_btnSendVerifyCode').text("{{=it.translation['forex_send_verify_code']}}");
                    }
                    else
					{
                        $('#id_btnSendVerifyCode').text("{{=it.translation['forex_resend_verify_code']}} " + g_nVerifyStatus + "{{=it.translation['forex_resend_seconds']}} ");
					}
                }

                var notifyURL = $('#id_reqNotifyURL').val();
                var coinType = $('#id_reqCoinType').val();
                var amount = $('#id_reqAmount').val();
                var userId = $('#id_reqUserId').val();
                var address = $('#id_reqAddress').val();
                var crmOrderNumber = $('#id_reqOrderNumber').val();
                var sign = $('#id_reqSign').val();

                checkExternalPayment();
                function checkExternalPayment() {
                    $.post('/checkExternalPayment', {
                        coin_type: coinType,
                        amount: amount,
                        user_id: userId,
                        address: address,
                        crm_order_number: crmOrderNumber
                    }, function(result){
						if (result.status == "done")
                        {
                            toastr['success']("{{=it.translation['forex_payment_done']}}");

                            console.log('pay result : ', result.pay_result);

                            setTimeout(function () {
                                $('#id_formResult').attr('action', notifyURL);
                                $('#id_resAmount').val(result.pay_result.amount);
                                $('#id_resOrderNumber').val(result.pay_result.crm_order_number);
                                $('#id_resPayStatus').val(result.pay_result.pay_status);
                                $('#id_resSign').val(result.pay_result.sign);
                                $('#id_formResult').submit();
                            }, 1000);
                        }
                        else if (result.status == "waiting")
						{
						    setTimeout(function () {
                                checkExternalPayment();
                            }, 1500);
						}
                    });
                }

                $('#id_btnPay').click(function () {

                    var userName = $('input[name="username"]').val();
                    if (userName === '' || userName === undefined)
                    {
                        toastr['warning']("{{=it.translation['forex_must_input_username']}}");
                        return;
                    }
                    var password = $('input[name="password"]').val();
                    if (password === '' || password === undefined)
                    {
                        toastr['warning']("{{=it.translation['forex_must_input_password']}}");
                        return;
                    }
                    var verifyCode = $('input[name="verifycode"]').val();
                    if (verifyCode === '' || verifyCode === undefined)
                    {
                        toastr['warning']("{{=it.translation['forex_input_verifycode']}}");
                        return;
                    }

                    $.post('/confirmVerifyCode', {
                        userName: userName,
                        password: password,
						verifyCode: verifyCode,

						coin_type: coinType,
                        amount: amount,
                        user_id: userId,
                        address: address,
                        crm_order_number: crmOrderNumber,
                        notify_url: notifyURL,
						sign: sign
                    }, function(data){
                        if (data == "FAILED")
                        {
                            toastr['error']("{{=it.translation['forex_confirm_verifycode_failed']}}");
                        }
                        else if (data == "LOGIN_FAILED")
                        {
                            toastr['error']("{{=it.translation['forex_failed_login']}}");
                        }
                        else if (data == "NOT_ENOUGH")
                        {
                            toastr['error']("{{=it.translation['forex_confirm_not_enough']}}");
                        }
                    });
                });

                $('#id_setLangEn').click(function () {
                    var coinType = $('input[name="coin_type"]').val();
                    var amount = $('input[name="amount"]').val();
                    var userId = $('input[name="user_id"]').val();
                    var userETHAddress = $('input[name="user_eth_address"]').val();
                    var crmOrderNumber = $('input[name="crm_order_number"]').val();
                    var notifyURL = $('input[name="notify_url"]').val();
                    var sign = $('input[name="sign"]').val();

                    $.post('/saveParams', {
                        coinType: coinType,
                        amount: amount,
                        userId: userId,
                        userETHAddress: userETHAddress,
                        crmOrderNumber: crmOrderNumber,
                        notifyURL: notifyURL,
                        sign: sign
                    }, function(data){
                        if (data == "SUCCESS")
                        {
                            location.href = '?clang=en';
                        }
                    });
                });

                $('#id_setLangZh').click(function () {
                    var coinType = $('input[name="coin_type"]').val();
                    var amount = $('input[name="amount"]').val();
                    var userId = $('input[name="user_id"]').val();
                    var userETHAddress = $('input[name="user_eth_address"]').val();
                    var crmOrderNumber = $('input[name="crm_order_number"]').val();
                    var notifyURL = $('input[name="notify_url"]').val();
                    var sign = $('input[name="sign"]').val();

                    $.post('/saveParams', {
                        coinType: coinType,
                        amount: amount,
                        userId: userId,
                        userETHAddress: userETHAddress,
                        crmOrderNumber: crmOrderNumber,
                        notifyURL: notifyURL,
                        sign: sign
                    }, function(data){
                        if (data == "SUCCESS")
                        {
                            location.href = '?clang=zh';
                        }
                    });
                });
            });

		</script>
	</body>
</html>