<!DOCTYPE>
<html>
	<head>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OTCMODE</title>

		<link rel = "stylesheet" href = "/dist/css/bootstrap.css">
		<link rel = "stylesheet" href = "./dist/css/intlTelInput.css">
		<link rel = "stylesheet" href = "../dist/css/toastr.min.css">

		<link href="../dist/css/custom.css" rel="stylesheet">
		<link href="../dist/css/custom-1200.css" rel="stylesheet" media="screen and (max-width:1199px) and (min-width: 992px)">
		<link href="../dist/css/custom-992.css" rel="stylesheet" media="screen and (max-width:991px) and (min-width: 768px)">
		<link href="../dist/css/custom-768.css" rel="stylesheet" media="screen and (max-width:767px) and (min-width: 576px)">
		<link href="../dist/css/custom-576.css" rel="stylesheet" media="screen and (max-width:575px)">

		<link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
		<link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
		<link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class = "container">
			  <a class="navbar-brand" href="/?clang={{=it.translation['langfor']}}"><img src = "/images/mark.png"></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:10px;">
					<div style="float:left; width:50%;">
					</div>
					<div style="float:left; width:50%;">
						<ul class="navbar-nav ml-auto" style="float:right;">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
								</a>
								<div class="dropdown-menu" aria-labelledby="langdropdown">
									<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
									<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<main class = "h_main-back">
			<div class = "container">
				<div class = "h_register-wrapper">
					<div class = "h_register-option-wrapper text-right">
						<a href="" class="active">{{=it.translation['recoverypassword']}}</a>
					</div>
					<div class = "h_register-content-wrapper">
						<div class = "text-center alert alert-danger" role = "alert" style = "display : none">		
						</div>

						<input id="id_phone_dial_code" name="phone_dial_code" hidden="true">
						<input id="lang" value="{{=it.translation['langfor']}}" hidden="true">
						<div class="input-group mb-2">
							<div class = "input-group-prepend login_label">
								<span class = "space-span2">{{=it.translation['phonenumber']}}</span>
							</div>
							<div  id="phone_div">
								<input type="tel" id="phone_number" autocomplete="off" class = "form-control" name="phonenumber" />

							</div>

							<div class = "input-group-append">
								<button class = "btn btn-outline-success btn-block" id = "submit">{{=it.translation['sendcode']}}</button>
							</div>
						</div>

						<div class="mb-4">
							<small  class = "register_warning">
								{{?it.translation['langfor'] == 'zh'}}
								您必须要用您以前登陆的电话号码。
								{{??}}
								You must use your previously logged-in phone number.
								{{?}}
							</small>

						</div>
						<div class = "input-group mb-4">
							<div class = "input-group-prepend login_label">
								<span class = "space-span1">{{=it.translation['verificationcode']}}</span>
							</div>
							<input type = "text" class = "form-control" name = "verifycode" onkeyup="showVerify(event)" />

						</div>
						<input id="id_user_id" name="user_id" hidden="true">
						<button id = "recoverpassword" class = "mt-3 btn btn-success btn-block">{{=it.translation['recoverypassword']}}</button>
						<div class = "text-center text-info mt-3" role = "alert" style = "display : none">
						</div>
				</div>
			</div>
			</div>
		</main>
		<footer>
			<div class = "container footer-intro">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-8 col-lg-8">
						<h5 class = "text-light">
							OTCMODE
						</h5>
						<span class = "text-light">
							{{=it.translation['companyintro']}}
						</span>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h5 class = "text-light">
							{{=it.translation['customerservice']}}
						</h5>
						<ul class = "text-light">
							<li><a href = "/faq">{{=it.translation['faq']}}</a></li>
							<!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
							<li><a href = "/exchangeratio">{{=it.translation['exchangerate']}}</a></li> 
						</ul>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h5 class = "text-light">
							{{=it.translation['customerservice']}}
						</h5>
						<ul class = "text-light">
							<li><a href = "/aboutus">{{=it.translation['aboutus']}}</a></li>
							<li><a href = "/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class = "container footer-info border-top-grey">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light"><a href = "/termsofservice">{{=it.translation['termsofservice']}}</a> {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
					</div>
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
					</div>
				</div>
			</div>
		</footer>
		<script type = "text/javascript" src = "/dist/js/jquery-3.3.1.js">
		</script>
		<script type = "text/javascript" src = "./dist/js/intlTelInput.js">
		</script>
		<script type = "text/javascript" src = "/dist/js/bootstrap.js">
		</script>
		<script type = "text/javascript" src = "../dist/js/toastr.min.js">
		</script>
		<script type = "text/javascript" src = "../dist/js/ui-toastr.js">
		</script>
		<script>
            /*For country code....
            */
            let lang;
			$(document).ready(function () {
				lang = $('#lang').val();
				setTimeout(function () {
                    if(lang === 'zh'){
                        $('#phone_div').width('49%');
                    } else if(lang === 'en')
                        $('#phone_div').width('59%');
                },10)

			});
			function showVerify(event){
                if(event.keyCode === 13 || event.which === 13){
                    $('#recoverpassword').click();
                }
			}
			$("#phone_number").intlTelInput({
                initialCountry: "auto",
                separateDialCode: true,
                preferredCountries: ['cn','tw'],
                geoIpLookup: function(callback) {
                    $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
                        var countryCode = (resp && resp.country) ? resp.country : "";
                        callback(countryCode);
                    });
                }
            });

			$("#submit").click(function(){
                if($('input[name="phonenumber"]').val() === "")
                {
                    if (lang === 'en'){
                        showAlert("Enter your phone number","warning");

					} else {
                        showAlert("输入你的电话号码","warning");

					}
                    return;
                }
                let strPhoneCode = $(".selected-dial-code").text();
                $("#id_phone_dial_code").val(strPhoneCode);
                let phonenumber =  strPhoneCode.substring(1,strPhoneCode.length) + $('input[name="phonenumber"]').val();

                $(this).attr({disabled : true});
				$.ajax({
					url : '/forgot',
					data : {
						phonenumber : phonenumber
					},
					type : 'POST',
					success : function(response)
					{
						if(response.status === 'failed')
						{
							$('#submit').attr({disabled : false});
                            if (lang === 'en'){
                                showAlert("This phone is not registered","warning");

                            } else {
                                showAlert("这款手机未注册","warning");

                            }

						}
						else
						{
                            if (lang === 'en'){
                                showAlert("we have already sent verify code to your phone.","success");

                            } else {
                                showAlert("我们已经将验证码发送至您的手机。","warning");

                            }

                            $("#id_user_id").val(response.msg);
						}
					}
				});
			});
			$('#recoverpassword').click(function () {
                let verifycode = $('input[name="verifycode"]').val();
                if(verifycode === "")
                {
                    if (lang === 'en'){
                        showAlert("Enter your valid verify code","warning");

                    } else {
                        showAlert("输入您的有效验证码。","warning");
                    }
                    return;
                }
                let user_id =  $('input[name="user_id"]').val();
                $.ajax({
                    url : '/recoverpassword',
                    data : {
                        user_id : user_id,
                        verifycode : verifycode
                    },
                    type : 'POST',
                    success : function(response)
                    {
                        if(response.status === 'failed')
                        {
                            $('#submit').attr({disabled : false});
                            showAlert(response.msg,"error");
                        }
                        else
                        {
								showInfo((lang==='en'?"New Password : ":"新密码 : ") + response.msg);
                        }
                    }

                });

            });

            function showInfo(msg)
            {
                $('.text-info').css({display : 'block'});
                $('.text-info').text(msg);

            }
            function showAlert(str,status)
            {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-right",
                    "onclick": null,
                    "showDuration": "10000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "2000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr[status](str);
            }
		</script>
	</body>
</html>