<!DOCTYPE>
<html>
	<head>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OTCMODE</title>

		<link rel = "stylesheet" href = "./dist/css/bootstrap.css">
		<link rel = "stylesheet" href = "../dist/css/toastr.min.css">
		<link rel = "stylesheet" href = "../dist/css/pretty-checkbox.min.css">

		<link href="../dist/css/custom.css" rel="stylesheet">
		<link href="../dist/css/custom-1200.css" rel="stylesheet" media="screen and (max-width:1199px) and (min-width: 992px)">
		<link href="../dist/css/custom-992.css" rel="stylesheet" media="screen and (max-width:991px) and (min-width: 768px)">
		<link href="../dist/css/custom-768.css" rel="stylesheet" media="screen and (max-width:767px) and (min-width: 576px)">
		<link href="../dist/css/custom-576.css" rel="stylesheet" media="screen and (max-width:575px)">

		<style>

			/* Create a custom checkbox */
			.checkmark {
				position: absolute;
				top: 0;
				left: 0;
				height: 25px;
				width: 25px;
				background-color: #eee;
			}

			/* On mouse-over, add a grey background color */
			.container:hover input ~ .checkmark {
				background-color: #ccc;
			}

			/* When the checkbox is checked, add a blue background */
			.container input:checked ~ .checkmark {
				background-color: #2196F3;
			}

			/* Create the checkmark/indicator (hidden when not checked) */
			.checkmark:after {
				content: "";
				position: absolute;
				display: none;
			}

			/* Show the checkmark when checked */
			.container input:checked ~ .checkmark:after {
				display: block;
			}

			/* Style the checkmark/indicator */
			.container .checkmark:after {
				left: 9px;
				top: 5px;
				width: 5px;
				height: 10px;
				border: solid white;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
				border-top-left-radius: 0.25rem;
				border-bottom-left-radius: 0.25rem;
			}
		</style>

		<link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
		<link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
		<link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class = "container">
			  <a class="navbar-brand" href="/?clang={{=it.translation['langfor']}}"><img src = "./images/mark.png" id='id_imgLogo'></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:10px;">
					<div style="float:left; width:50%;"></div>
					<div style="float:left; width:50%;">
						<ul class="navbar-nav ml-auto" style="float:right;">

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
								</a>
								<div class="dropdown-menu" aria-labelledby="langdropdown">
									<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
									<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<input id="lang" value="{{=it.translation['langfor']}}" hidden="true">
		<main class = "h_main-back">
			<div class = "container">
				<div class = "h_register-wrapper">
					<div class = "h_register-option-wrapper text-right">
						<a href = "/login" class = "active">{{=it.translation['login']}}</a>&nbsp;|&nbsp;
						<a href = "/register">{{=it.translation['register']}}</a>
					</div>
					<div class = "h_register-content-wrapper">

						<div class = "text-center alert alert-danger" role = "alert" style = "display : none">
						</div>
						<div class = "input-group mb-3">
							<div class = "input-group-prepend login_label">
								<span class = "space-span1">{{=it.translation['username']}}</span>
							</div>
							<input type = "text" class = "form-control" name = "username" maxlength='50'>
						</div>
						<div class = "input-group mb-4">
							<div class = "input-group-prepend login_label">
								<span class = "space-span">{{=it.translation['password']}}</span>
							</div>
							<input type = "password" class = "form-control" name = "password" maxlength='50'>
						</div>
						<div class = "mb-4">
							<div class="pretty p-default" style="margin-top: 5px;">
								<input type = "checkbox" name = "remember" class = "form-check-input ">
								<div class="state p-success">
									<label>{{=it.translation['rememberme']}}</label>
								</div>
							</div>
							<a href="/forgot" class="float-right">{{=it.translation['forgetpassword']}}</a>
						</div>
						<br>

						<button id = "login" class = "btn btn-success btn-block">{{=it.translation['login']}}</button>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class = "container footer-intro">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-8 col-lg-8">
						<h5 class = "text-light">
							OTCMODE
						</h5>
						<span class = "text-light">
							{{=it.translation['companyintro']}}
						</span>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h5 class = "text-light">
							{{=it.translation['customerservice']}}
						</h5>
						<ul class = "text-light">
							<li><a href = "/faq?clang={{=it.translation['langfor']}}">{{=it.translation['faq']}}</a></li>
							<!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
							<li><a href = "/exchangeratio?clang={{=it.translation['langfor']}}">{{=it.translation['exchangerate']}}</a></li>
						</ul>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h5 class = "text-light">
							{{=it.translation['customerservice']}}
						</h5>
						<ul class = "text-light">
							<li><a href = "/aboutus?clang={{=it.translation['langfor']}}">{{=it.translation['aboutus']}}</a></li>
							<li><a href = "/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class = "container footer-info border-top-grey">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light"><a href = "/termsofservice?clang={{=it.translation['langfor']}}">{{=it.translation['termsofservice']}}</a> {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
					</div>
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
					</div>
				</div>
			</div>
		</footer>

		<script type = "text/javascript" src = "./dist/js/jquery-3.3.1.js">
		</script>
		<script type = "text/javascript" src = "./dist/js/bootstrap.js">
		</script>
		<script type = "text/javascript" src = "../dist/js/toastr.min.js">
		</script>
		<script type = "text/javascript" src = "../dist/js/ui-toastr.js">
		</script>
		<script>

            let lang;
            $(document).ready(function () {
                lang = $('#lang').val();

            });
            $('.form-control').keyup(function (event) {
                if(event.keyCode === 13 || event.which === 13){
                    $('#login').click();
                }
            });
			$('#login').click(function(){
				let userName = $('input[name="username"]').val();
				let password = $('input[name="password"]').val();
				if (userName === '' || password === ''){
                    showAlert((lang==='en'?"Please insert all information.":"请插入所有信息。"),'warning');return;
				}
				let remember = $('input[name="remember"]')[0].checked;
				$(this).attr({disabled : true});
				$.ajax({
					url : 'login',
					type : 'POST',
					data : {
						username : userName,
						password : password,
						remember : remember
					},
					success : function(response){
						status = response.status;
						if(status === 'failed')
						{
						    switch (response.data){
                                case 'DATABASE_ERROR':
                                    showAlert((lang==='en'?"Issue on database connection":"密码和确认密码不匹配。"),'warning');

                                    break;
								case 'NO_USER':
                                    showAlert((lang==='en'?"You are not registered":"您还没有注册。"),'warning');

                                    break;
								case 'WRONG_PASSWORD':
                                    showAlert((lang==='en'?"Please insert your correct password":"请输入正确的密码。"),'warning');
								    break;
							}

							$('#login').attr({disabled : false});						
						}
						else if(status === "unverified")
						{
							let userid = response.data;
							window.location.href = "/verifycode/" + userid;
						}
						else
						{
							window.location.href = "/?clang=" + lang;
						}
					}
				});
			});
            function showAlert(str,status)
            {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-right",
                    "onclick": null,
                    "showDuration": "10000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "2000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr[status](str);
            }

		</script>
	</body>
</html>