<!DOCTYPE>
<html>
  <head>
    <meta charset = "utf8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>OTCMODE</title>

    <link rel = "stylesheet" href = "../dist/css/bootstrap.css">
    <link rel = "stylesheet" href = "../dist/css/font-awesome.min.css">
    <link rel = "stylesheet" href = "../dist/css/toastr.min.css">

    <link href="../dist/css/custom.css" rel="stylesheet">
    <link href="../dist/css/custom-1200.css" rel="stylesheet" media="screen and (max-width:1199px) and (min-width: 992px)">
    <link href="../dist/css/custom-992.css" rel="stylesheet" media="screen and (max-width:991px) and (min-width: 768px)">
    <link href="../dist/css/custom-768.css" rel="stylesheet" media="screen and (max-width:767px) and (min-width: 576px)">
    <link href="../dist/css/custom-576.css" rel="stylesheet" media="screen and (max-width:575px)">

    <link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
    <link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
    <link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
    <link rel = "stylesheet" href = "../dist/css/pretty-checkbox.min.css">

    <style>
      /**{
        font-family : simhei;
      }*/
    </style>
  </head>
  {{##def.format:param:{{=(param.n).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class = "container">
        <a class="navbar-brand" href="/?clang={{=it.translation['langfor']}}"><img src = "../images/mark.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:10px;">
          <div class = 'class_forMobileViewAccount class_forNonMobileViewMarginLeftAuto'>
            <ul class="navbar-nav ml-auto">
              {{?it.isLogged == true}}
              <li class="nav-item" id="notify" style="display:none;">
                <a class="nav-link" href="/dashboard"><img src="/images/notification.png" style="width: 30px"><span class="badge1" data-badge=""></span></a>
              </li>
              {{?}}
              <li class="nav-item">
                <a class="nav-link" href="/requestTradeSell">{{=it.translation['buysell'] }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/wallet">{{=it.translation['wallet']}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">{{=it.translation['dashboard']}}</a>
              </li>
              {{?it.isLogged == false}}
              <li class="nav-item class_mobileHidden">
                <a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 115px;">{{=it.translation['register']}}</button></a>
              </li>
              {{?}}
              <li class="nav-item class_mobileHidden">
                <a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 115px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
              </li>
              <li class="nav-item dropdown class_mobileHidden">
                <a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
                </a>
                <div class="dropdown-menu" aria-labelledby="langdropdown">
                  <a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
                  <a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
                </div>
              </li>
            </ul>
          </div>
          <div style="float:left; width:50%; display: none;" class= 'class_mobileShow'>
            <ul class="navbar-nav ml-auto">
              {{?it.isLogged == false}}
              <li class="nav-item">
                <a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 150px;">{{=it.translation['register']}}</button></a>
              </li>
              {{?}}
              <li class="nav-item">
                <a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 150px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
                </a>
                <div class="dropdown-menu" aria-labelledby="langdropdown">
                  <a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
                  <a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
                </div>
              </li>

              <!--{{?it.isLogged == true}}-->
              <!--<li class="nav-item dropdown">-->
              <!--<a class="nav-link dropdown-toggle" href="#balancedropdown" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
              <!--{{=it.user['user_name']}}-->
              <!--</a>-->

              <!--<div class="dropdown-menu p-1" aria-labelledby="langdropdown" id = "balancedropdown">-->
              <!--<a class = "ic ic-btc">BTC:{{=it.user['balance_btc']}}</a><br>-->
              <!--<a class = "ic ic-eth">ETH:{{=it.user['balance_eth']}}</a><br>-->
              <!--<a class = "ic ic-gp">MDC:{{=it.user['balance_mdc']}}</a><br>-->
              <!--</div>-->
              <!--</li>-->
              <!--{{?}}-->
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class = "mid-panel">
      <div class = "container text-center">
        <a href = "/requestTradeSell" {{?it.flag == 1}}class = "text-green px-5"{{??it.flag == 2}}class = "text-grey px-5"{{?}}>{{=it.translation['iamseller']}}</a>
        <a href = "/requestTradeBuy" {{?it.flag == 2}}class = "text-green px-5"{{??it.flag == 1}}class = "text-grey px-5"{{?}}>{{=it.translation['iambuyer']}}</a>
      </div>
    </div>
    <section class = "main-back border-bottom-green ">

      <!-- This is for msgs coming -->
      <main>
        <input hidden="true" id="order_id" value="{{=it.data.id}}">
        <input hidden="true" id="order_user" value="{{=it.data.user_id}}">
        <input hidden="true" id="order_volumn" value="{{=it.data.remaining_volumn}}">
        <input hidden="true" id="order_side" value="{{=it.data.side}}">
        <input hidden="true" id="order_fee" value="{{=it.data.p_fee}}">
        <input hidden="true" id="order_market" value="{{=it.data.market}}">
        <input value="{{=it.user.email_verified}}" id = "email_verified" hidden>
        <input value="{{=it.user.name_verified}}" id = "name_verified" hidden>
        <input id="lang" value="{{=it.translation['langfor']}}" hidden="true">
      </main>
      <!-- This is for msgs coming -->
      <div class = "container mt-4">
        <div class = "text-center mt-2">
          <img src = "../images/flow-line-{{=it.translation['langfor']}}-2.png"  id='id_imgFlowLine'>
        </div>

        <main class = "main-back">
          <!--  -->
          <!-- Chinese here -->
          <!--  -->
          <div class = "container text-grey">
            <div class="p-2">
              {{?it.translation['langfor']=='en'}}
              Current floating unit price (CNY):
              {{?it.data.market == 'BTC'}}
              {{=it.data.ex_btc_cost}}
              {{??it.data.market == 'ETH'}}
              {{=it.data.ex_eth_cost}}
              {{??}}
              {{=it.data.ex_mdc_cost}}
              {{?}}
               <br>
              (The current unit price will change due to market fluctuations. The actual unit price is subject to the unit price after the order is placed.)
              <br>
              <span class="text-green ">You don't need to pay any fees, the transaction fee will be borne by the publisher, please feel free to trade</span>
              {{??}}
              当前浮动单价(CNY)：
              {{?it.data.market == 'BTC'}}
              {{=it.data.ex_btc_cost}}
              {{??it.data.market == 'ETH'}}
              {{=it.data.ex_eth_cost}}
              {{??}}
              {{=it.data.ex_mdc_cost}}
              {{?}}
              <br>
              (当前单价会因市场波动而改变，实际单价请以下单后的锁定单价为准)
              <br>
              <span class="text-green ">您不需要支付任何手续费，交易手续费将由广告发布者承担，请安心交易</span>
              {{?}}
            </div>
            <div class = "row mt-5">
              <div class = "col-md-3 col-xs-5 text-center">
                <h4 id="id_market">{{=it.data.market}}</h4>
                <div class = "form-group">
                 {{?it.data.market == 'BTC' ||  it.data.market == 'ETH'}}
                  
                   <input class = "form-control" type = "number" step = "0.0000001" id = "digital_amount" value="0" min="0">
                   {{??}}
                   <input class = "form-control" type = "number" step = "10" id = "digital_amount" value="0" min="0">
                   {{?}}
                </div>
              </div>

              <div class="col-md-1 col-sm-2 text-center">
                <img class="margin-t-40" src="/images/exchange.png" id = 'id_Imgexchange'>
              </div>
              <div class = "col-md-3 col-sm-5 text-center">
                <h4><!-- {{=it.translation['exchange']}} -->CNY</h4>
                <div class = "form-group">
                  <input class = "form-control" type = "number" step = "1" id = "currency_amount" value="0" min="0">
                </div>
              </div>
              <input type="number" id="cost" value="{{=it.data.cost}}" hidden="true">
              <div class = "col-md-5 col-sm-12 text-center">
                <h4>{{=it.translation['transactionmethod']}}</h4>
                <div class = "form-group">
                  <select class = "form-control h_select_condition">
                    <option value = "1">{{=it.translation['alipay']}}</option>
                    <!--<option value = "2">{{=it.translation['wechat']}}</option>-->
                    <option value = "3">{{=it.translation['bank']}}</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Chinese here -->
            <div class="p-2">
              {{?it.translation['langfor']=='en'}}
              <span class="text-success">The current digital currency price is automatically calculated by the system. The actual transaction price is based on the price at which the transaction was initiated. Please click for instructions on the floating price.</span>
              <br><span>Transaction Description:</span><br>
              <span>1. The order is valid for 15 minutes. Please promptly pay within the validity period and click the "Mark payment has been completed" button. Then I can release the digital currency to you. </span><br>
              <span>2. If you can't complete your payment within 15 minutes, click the "Extend order validity" button </span><br>
              <span>3. After the transaction is started, the digital currency is locked by the system. Please rest assured to place orders.</span><br>
              {{??}}
              <span class="text-success">当前数字货币价格为系统自动计算，实际交易价格以发起交易时的价格为准，请点击查看关于浮动价格的说明</span>
              <br>
              <span>交易说明：</span><br>
              <span>1. 订单有效期为15分钟，请您及时在有效期内付款并点击「标记付款已完成」按钮，我才可以释放数字币给您 </span><br>
              <span>2. 如果您无法在15分钟内完成付款，请点击「延长订单有效期」按钮 </span><br>
              <span>3. 开始交易后数字币由系统锁定托管，请安心下单</span><br>
              {{?}}
            </div>

            <div class = "bg-white line-height-70 mb-2">
              <ul class = "inline-ul nav-justified">
                <div class="row text-center">
                  <div class="col-12 col-md-2 p-3">
                    <span>{{=it.translation['username']}}：<br>{{=it.data.user_name}}</span>
                  </div>
                  <div class="col-12 col-md-3 p-3">
                    <span>{{=it.translation['transactionhistory']}}：<br> {{=it.data.trans_count}}</span>
                  </div>
                  <div class="col-12 col-md-3 p-3">
                    <span>{{=it.translation['successhistory']}}：<br>
                    {{?it.data.market == 'BTC'}}
                    {{=it.data.trans_amount_btc}} BTC
                    {{??it.data.market == 'ETH'}}
                    {{=it.data.trans_amount_eth}} ETH
                    {{??}}
                    {{=it.data.trans_amount_mdc}} MDC
                    {{?}}
                    </span>
                  </div>
                  <div class="col-12 col-md-2 p-3">
                    <span>{{=it.translation['popularity']}}:<br>{{#def.format: {n: it.data.credit*100, decimals: 2 } }}%
                    </span>
                  </div>
                  <div class="col-12 col-md-2 p-3">
                    <span>{{=it.translation['numberofreview']}}：<br> +{{=it.data.recommend_plus}}/-{{=it.data.recommend_minus}}</span>
                  </div>
                </div>
              </ul>
            </div>

            <div class = "bg-white line-height-70 mb-2">
              <div class = "table-responsive">
                <table class = "table">
                  <thead class="small">
                  <tr>
                    <th>{{=it.translation["floatingcost"]}}
                    </th>
                    <th>{{=it.translation["translimit"]}}
                    </th>
                    <th>{{=it.translation["transactionmethod"]}}
                    </th>
                    <th>{{=it.translation["expire"]}}
                    </th>
                    <th>{{=it.translation["status"]}}
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr style = "display : none">
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class = "text-wrapper">
                      {{=it.data.cost}}CNY/{{=it.data.market}}
                    </td>
                    <td class = "text-wrapper">
                      0-{{=it.data.remaining_volumn}}{{=it.data.market}}
                    </td>
                    <td class = "text-wrapper">
                      {{?it.data.payment_method==1}}
                      <span class = "method method-ali"></span>
                      {{??}}
                      <span class = "method method-bank"></span>
                      {{?}}
                    </td>
                    <td class = "text-wrapper">
                      15 {{=it.translation['minute']}}
                    </td>
                    <td class="text-wrapper">
                      {{=it.translation['added']}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="p-2 text-right">
                <div class="mb-1">
                  {{=it.translation['transactionamount']}}
                </div>
                <div class="mb-1">
                  {{?it.flag==2}}
                  100CNY <span><img src="/images/exchange.png"}></span>
                  {{#def.format: {n: 100/it.data.cost, decimals: 6 } }}{{=it.data.market}}
                  {{??}}
                  {{#def.format: {n: 100/it.data.cost, decimals: 6 } }}{{=it.data.market}}
                   <span><img src="/images/exchange.png"}></span> 100CNY
                  {{?}}
                </div>
                <div class="mb-1">
                  <div class="pretty p-default" style="margin:10px 0;">
                    <input type = "checkbox" name = "" class = "form-check-input " id="check">
                    <div class="state p-success">
                      <label>{{=it.translation['confirmmessage']}}</label>
                    </div>
                  </div>
                  <div>
                  <input type = "button" id="next" class = "btn btn-success w-25" value = "{{?it.flag==1}}{{=it.translation['sellnow']}}{{??}}{{=it.translation['next']}}{{?}}" disabled="true">
                  </div>
                </div>

              </div>
            </div>
            <div class="p-2">
              {{?it.translation['langfor']=='en'}}
              <hr>
              1. Before the transaction is initiated, please confirm that you have read and agree to the terms and conditions of the seller and reconfirm that the contents of the transaction are correct before clicking the Buy button. <br>
              2. After the transaction is initiated, you are requested to transfer to the designated account before the deadline for payment and mark that the payment has been completed. The overdue system will automatically cancel the transaction. <br>
              3. After the transaction is initiated, the system will automatically lock the seller’s digital currency. After the seller confirms receiving your transfer, it will release the digital currency to your account. <br>
              4. It is recommended that you check the seller’s information before trading to review relevant transaction records and reviews in order to reduce transaction disputes. <br>
              5. Please use the platform's chat system to communicate during the transaction process. The dialogue record outside the platform will not be used as the basis for transaction disputes. <br>
              6. Tips: More than three cancellation orders will be frozen on the same day. <br>
              7. After the order is placed, please perform the spirit of contract, maliciously bid or remorse, the complaint will be frozen for 3-14 days. <br>
              <hr>
              <div class="checkimage">Email verification, single purchase limit: 1000 CNY, total purchase limit: 3000 CNY, unable to sell digital currency</div>
              <div class="checkimage">Real-name verification, single transaction limit: 50000 CNY</div>
              If the amount you want to purchase is greater than the current single quota, you can go through the verification and then return to the order. <br>

              {{??}}
              <hr>
              1. 交易发起前，请您确认已阅读并同意卖家提出的条款，并再次确认交易内容无误后，再点击购买按钮。<br>
              2. 交易发起后，请您于付款期限截止前转帐至指定账户，并标记已付款完毕，逾期系统将自动取消交易。<br>
              3. 交易发起后，系统会自动将卖家的数字货币锁定，待卖家确认收到您的转帐后，将会释放数字货币至您的账户中。<br>
              4. 建议您在交易前先查看卖家信息，检视相关交易记录及评价，以減少交易纠纷。<br>
              5. 交易过程请使用平台的聊天系统进行沟通，平台外的对话记录将无法作为交易纠纷的依据。<br>
              6. 温馨提示：超过三笔取消订单，将被冻结当天下单权限。<br>
              7. 下单后请履行契约精神，恶意抬价或者是反悔，被投诉将冻结账户 3-14 天不等。<br>
              <hr>
              <div class="checkimage">通过邮箱验证，单笔购买限额：1000 CNY，购买总额上限：3000 CNY，无法出售数字币</div>
              <div class="checkimage">通过实名验证，单笔交易限额：50000 CNY</div>
              若您想购买的金额大于目前单笔限额，可先通过验证再回来下单。<br>
              {{?}}
            </div>
        </main>
      </div>
    </section>

    <footer>
      <div class = "container footer-intro">
        <div class = "row">
          <div class = "col-12 col-sm-12 col-md-8 col-lg-8">
            <h5 class = "text-light">
              OTCMODE
            </h5>
            <span class = "text-light">
              {{=it.translation['companyintro']}}
            </span>
          </div>
          <div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
            <h5 class = "text-light">
              {{=it.translation['customerservice']}}
            </h5>
            <ul class = "text-light">
              <li><a href = "/faq">{{=it.translation['faq']}}</a></li>
              <!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
              <li><a href = "/exchangeratio">{{=it.translation['exchangerate']}}</a></li> 
            </ul>
          </div>
          <div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
            <h5 class = "text-light">
              {{=it.translation['customerservice']}}
            </h5>
            <ul class = "text-light">
              <li><a href = "/aboutus">{{=it.translation['aboutus']}}</a></li>
              <li><a href = "/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class = "container footer-info border-top-grey">
        <div class = "row">
          <div class = "col-12 col-sm-12 col-md-6 col-lg-6">
            <span class = "text-light"><a href = "/termsofservice">{{=it.translation['termsofservice']}}</a> {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
          </div>
          <div class = "col-12 col-sm-12 col-md-6 col-lg-6">
            <span class = "text-light float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script>
    (function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","//assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
    ud({
        "code": "2b916c16",
        "link": "https://madabit.udesk.cn/im_client/?web_plugin_id=48770"
    });
  </script>
  <script type = "text/javascript" src = "../dist/js/jquery-3.3.1.js">
  </script>
  <script type = "text/javascript" src = "../dist/js/bootstrap.js">
  </script>
  <script type = "text/javascript" src = "../dist/js/toastr.min.js">
  </script>
  <script type = "text/javascript" src = "../dist/js/ui-toastr.js">
  </script>
  <script type="text/javascript" src="../dist/js/index1.js"></script>
  <script src = "../../dist/js/socket.io.js">
  </script>
  <script src = "../../dist/js/client.js">
  </script>
  {{?it.isLogged == true}}
  <script>
    let client = new Client();
    let lang;
    $(document).ready(function () {
        lang = $('#lang').val();
        client.getMsgInfo();
        setInterval(client.getMsgInfo , 5000);
    });
    $('#check').change(function(){
       $('#next').attr({disabled : !$('#check')[0].checked})
    });
    $('#currency_amount').keyup(function(){
        $('#digital_amount').val(parseFloat($('#currency_amount').val()/$('#cost').val()).toFixed(6));
    });
    $('#digital_amount').keyup(function(){
        var digital_amount = $('#digital_amount').val();
        if(digital_amount < 0)
            $('#digital_amount').val(0);
        var kind = $("#id_market").text();
        var aryAmount = digital_amount.split(".");
        var nCount    = aryAmount.length;
        if(kind == 'MDC')
        {
          if(nCount != 1)
          {
              $("#digital_amount").val(aryAmount[0]);
          }
        }

        if(nCount != 0)
        {
            var nLength = aryAmount[1];
            if(nLength > 8)
            {
                var strNewAmount = aryAmount[0].toString() + "." + aryAmount[1].slice(0,8).toString();
                $("#digital_amount").val(strNewAmount);
            }
        }


        $('#currency_amount').val(parseFloat($('#digital_amount').val()*$('#cost').val()).toFixed(2));
    });
    $('#currency_amount').change(function(){
        $('#digital_amount').val(parseFloat($('#currency_amount').val()/$('#cost').val()).toFixed(6));
    });
    $('#digital_amount').change(function(){
        $('#currency_amount').val(parseFloat($('#digital_amount').val()*$('#cost').val()).toFixed(2));
    });

    var bClicked = false;
    $('#next').dblclick(function(event){
        event.preventDefault();
    });
    $('#next').click(function(){
        if (bClicked == true) return;
        bClicked = true;
        setTimeout(function () {
            bClicked = false;
        }, 1000);

        let email_verified = $('#email_verified').val();
        let name_verified = $('#name_verified').val();

        if(email_verified === 'false' && name_verified === 'false'){
            showAlert((lang==='en'?"Please verify your email or name":"请验证您的电子邮件或名称。"),'warning');return;
        }

        var order_volumn = $('#order_volumn').val();
        let market = $('#order_market').val();
        var volumn = $('#digital_amount').val();

        if(volumn == '' || volumn == undefined || volumn == null) {
            showAlert((lang === 'en' ? "Please insert the amount you want to exchange" : "请插入您想要交换的金额。"), 'warning');
            return;
        }
        if(order_volumn == '' || order_volumn == undefined || order_volumn == null) {
            showAlert((lang === 'en' ? "Please insert the order amount you want to exchange" : "请插入您想要交换的订单金额。"), 'warning');
            return;
        }

        order_volumn = parseFloat(order_volumn);
        if (market === 'BTC' || market === 'ETH'){
            volumn = parseFloat(volumn).toFixed(8);
        } else  volumn = parseFloat(volumn).toFixed(0);

        let param = {
            order_id :$("#order_id").val(),
            volumn : volumn
        };
        if(volumn <=0 ){
            showAlert((lang==='en'?"Please insert the amount you want to exchange":"请插入您想要交换的金额。"),'warning');return;
        }
        else if (volumn > order_volumn){
            showAlert((lang==='en'?"This is over the amount of orders":"这超过了订单数量。"),'warning');return;
        }
        else {
            client.requestTrade(param);
        }
    });
    function showAlert(str,status)
    {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "10000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "2000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr[status](str);
    }
  </script>
  {{?}}
</html>