<!DOCTYPE>
<html>
	<head>
		<meta charset = "utf8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OTCMODE</title>

		<link rel = "stylesheet" href = "../dist/css/bootstrap.css">
		<link rel = "stylesheet" href = "../dist/css/font-awesome.min.css">

		<link href="../dist/css/custom.css" rel="stylesheet">
		<link href="../dist/css/custom-1200.css" rel="stylesheet" media="screen and (max-width:1199px) and (min-width: 992px)">
		<link href="../dist/css/custom-992.css" rel="stylesheet" media="screen and (max-width:991px) and (min-width: 768px)">
		<link href="../dist/css/custom-768.css" rel="stylesheet" media="screen and (max-width:767px) and (min-width: 576px)">
		<link href="../dist/css/custom-576.css" rel="stylesheet" media="screen and (max-width:575px)">

		<link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
		<link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
		<link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
		<!-- <link rel = "stylesheet" href = "../dist/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "../dist/css/uniform.default.css">
		<link rel = "stylesheet" href = "../dist/css/components.css">
		<link rel = "stylesheet" href = "../dist/css/layout.css"> -->
	</head>
	<body>
		<header>
			<h1 class = "">OTCMODE</h1>
		</header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class = "container">
			  <a class="navbar-brand" href="/?clang={{=it.translation['langfor']}}">OTCMODE</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:10px;">
					<div class = 'class_forMobileViewAccount class_forNonMobileViewMarginLeftAuto'>
						<ul class="navbar-nav ml-auto">
							{{?it.isLogged == true}}
							<li class="nav-item" id="notify" style="display:none;">
								<a class="nav-link" href="/dashboard"><img src="/images/notification.png" style="width: 30px"><span class="badge1" data-badge=""></span></a>
							</li>
							{{?}}
							<li class="nav-item">
								<a class="nav-link" href="/requestTradeSell">{{=it.translation['buysell'] }}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/wallet">{{=it.translation['wallet']}}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/dashboard">{{=it.translation['dashboard']}}</a>
							</li>
							{{?it.isLogged == false}}
							<li class="nav-item class_mobileHidden">
								<a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 115px;">{{=it.translation['register']}}</button></a>
							</li>
							{{?}}
							<li class="nav-item class_mobileHidden">
								<a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 115px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
							</li>
							<li class="nav-item dropdown class_mobileHidden">
								<a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
								</a>
								<div class="dropdown-menu" aria-labelledby="langdropdown">
									<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
									<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
								</div>
							</li>
						</ul>
					</div>
					<div style="float:left; width:50%; display: none;" class= 'class_mobileShow'>
						<ul class="navbar-nav ml-auto">
							{{?it.isLogged == false}}
							<li class="nav-item">
								<a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 150px;">{{=it.translation['register']}}</button></a>
							</li>
							{{?}}
							<li class="nav-item">
								<a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 150px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
								</a>
								<div class="dropdown-menu" aria-labelledby="langdropdown">
									<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
									<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
								</div>
							</li>

							<!--{{?it.isLogged == true}}-->
							<!--<li class="nav-item dropdown">-->
							<!--<a class="nav-link dropdown-toggle" href="#balancedropdown" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
							<!--{{=it.user['user_name']}}-->
							<!--</a>-->

							<!--<div class="dropdown-menu p-1" aria-labelledby="langdropdown" id = "balancedropdown">-->
							<!--<a class = "ic ic-btc">BTC:{{=it.user['balance_btc']}}</a><br>-->
							<!--<a class = "ic ic-eth">ETH:{{=it.user['balance_eth']}}</a><br>-->
							<!--<a class = "ic ic-gp">MDC:{{=it.user['balance_mdc']}}</a><br>-->
							<!--</div>-->
							<!--</li>-->
							<!--{{?}}-->
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<main class = "div-body">
			<div class = "container">
				<h3 class = "text-center mt-5">{{=it.translation['replytomails']}}</h3>
				<div class = "row">
					<div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<h5>{{=it.translation['content']}}</h5>
						<div class = "input-group mb-3">
							<div class = "input-group-prepend">
								<span class = "input-group-text">{{=it.translation['from']}}</span>
							</div>
							<input type = "text" class = "form-control" data-field = "from">
						</div>
						<div class = "input-group mb-3">
							<div class = "input-group-prepend">
								<span class = "input-group-text">{{=it.translation['email']}}</span>
							</div>
							<input type = "text" class = "form-control" data-field = "email">
						</div>
						<div class = "input-group mb-3">
							<div class = "input-group-prepend">
								<span class = "input-group-text">{{=it.translation['title']}}</span>
							</div>
							<input type = "text" class = "form-control" data-field = "title">
						</div>
						<div class = "input-group mb-3">
							<textarea class = "form-control" data-field = "content"></textarea>
						</div>
					</div>
					<div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<h5>{{=it.translation['adminreply']}}</h5>
						<div class = "form-group">
							<textarea class = "form-control" id = "replyContent"></textarea>
						</div>
						<div class = "clearfix">
							<button class = "btn btn-primary float-right ml-2" onclick = "sendReply()">{{=it.translation['send']}}</button>
							<button class = "btn btn-danger float-right" onclick = "discardMail()">{{=it.translation['discard']}}</button>
						</div>
					</div>
				</div>
			</div>
			<div class = "container">
				<div class = "table-responsive">
					<table class = "table table-striped table-hover">
						<thead>
							<tr>
								<th>{{=it.translation['from']}}
								</th>
								<th>{{=it.translation['title']}}
								</th>
								<th>{{=it.translation['email']}}
								</th>
								<th>{{=it.translation['receivedtime']}}
								</th>
							</tr>
						</thead>
						<tbody id = "supports_table">
							<tr>
								<td>Hun
								</td>
								<td>How can I get my info?
								</td>
								<td>Hun@gmail.com
								</td>
								<td>2018-04-06 03:20:23.234T7:00
								</td>
							</tr>						
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<footer class = "mt-4">
		</footer>
	</body>
	<script type = "text/javascript" src = "../dist/js/jquery-3.3.1.js">
	</script>
	<script type = "text/javascript" src = "../dist/js/bootstrap.js">
	</script>

	<script src = "../dist/js/socket.io.js">
	</script>
	<script src = "../dist/js/client.js">
	</script>
	<script>
		var client = new Client();
		var mails = {};
		var selected = -1;
		getAllUnreadMsg();
		function sendReply()
		{
			if(selected != -1)
			{
				var email = mails['' + selected + ''].email;
				var support_id = selected;
				var content = $('#replyContent').val();
				$.ajax({
					url : '/sendReply',
					data : {
						email : email,
						support_id : support_id,
						content : content
					},
					type : 'POST',
					success : function(response)
					{
						if(response.status == 'success')
						{
							mails['' + support_id + ''] = undefined;
							$('tr.support-' + support_id).fadeOut(0.5 , function(){
								$('tr.support-' + support_id).remove();
							})

						}
					}
				});
				selected = -1;
				$('input[data-field="from"]').val("");
				$('input[data-field="email"]').val("");
				$('input[data-field="title"]').val("");
				$('textarea[data-field="content"]').val("");
			}
		}
		function discardMail()
		{
			if(selected != -1)
			{

				var support_id = selected;

				$.ajax({
					url : '/discardMail',
					data : {
						support_id : support_id,
					},
					type : 'POST',
					success : function(response)
					{
						if(response.status == 'success')
						{
							mails['' + support_id + ''] = undefined;
							$('tr.support-' + support_id).fadeOut(0.5 , function(){
								$('tr.support-' + support_id).remove();
							})

						}
					}
				});
				selected = -1;
				$('input[data-field="from"]').val("");
				$('input[data-field="email"]').val("");
				$('input[data-field="title"]').val("");
				$('textarea[data-field="content"]').val("");
			}
		}
		function getAllUnreadMsg()
		{
			$.ajax({
				url : '/getAllUnreadMsg',
				type : 'POST',
				success : function(response)
				{
					$('#supports_table').empty();
					if(response.status == 'success')
					{
						var arrayData = response.msg;
						for(var i = 0 ; i < arrayData.length ; i ++)
						{
							mails['' + arrayData[i].id + ''] = arrayData[i];
							var data = arrayData[i];
							$strRow =   '<tr onclick = "getSelected(' + data.id + ')" class = "support-' + data.id + '">' +
											'<td>' + data.user_name +
											'</td>' +
											'<td>' + data.title +
											'</td>' +
											'<td>' + data.email +
											'</td>' +
											'<td>' + data.received_at + 
											'</td>' +
										'</tr>';
							$('#supports_table').append($strRow);
						}
					}
				},
				error : function(response)
				{

				}
			});
		}
		var getnewUnreadMsgInterval = setInterval(getNewUnreadMsg , 5000);
		function getNewUnreadMsg()
		{
			$.ajax({
				url : '/getNewUnreadMsg',
				type : 'POST',
				success : function(response)
				{
					if(response.status == 'success')
					{
						var arrayData = response.msg;
						for(var i = 0 ; i < arrayData.length ; i ++)
						{
							mails['' + arrayData[i].id + ''] = arrayData[i];
							var data = arrayData[i];
							$strRow =   '<tr onclick = "getSelected(' + data.id + ')" class = "support-' + data.id + '">' +
											'<td>' + data.user_name +
											'</td>' +
											'<td>' + data.title +
											'</td>' +
											'<td>' + data.email +
											'</td>' +
											'<td>' + data.received_at + 
											'</td>' +
										'</tr>';
							$('#supports_table').append($strRow);
						}
					}
				},
				error : function(response)
				{

				}
			});
		}
		function getSelected(id)
		{
			selected = id;
			var mail = mails['' + selected + ''];
			$('input[data-field="from"]').val(mail.user_name);
			$('input[data-field="email"]').val(mail.email);
			$('input[data-field="title"]').val(mail.title);
			$('textarea[data-field="content"]').val(mail.content);
		}
	</script>
</html>
