<!DOCTYPE>
<html>
<head>
  <meta charset = "utf8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>OTCMODE</title>

  <link rel = "stylesheet" href = "../dist/css/bootstrap.css">
  <link rel = "stylesheet" href = "../dist/css/font-awesome.min.css">
  <link rel = "stylesheet" href = "../dist/css/toastr.min.css">

  <link href="../dist/css/custom.css" rel="stylesheet">
  <link href="../dist/css/custom-1200.css" rel="stylesheet" media="screen and (max-width:1199px) and (min-width: 992px)">
  <link href="../dist/css/custom-992.css" rel="stylesheet" media="screen and (max-width:991px) and (min-width: 768px)">
  <link href="../dist/css/custom-768.css" rel="stylesheet" media="screen and (max-width:767px) and (min-width: 576px)">
  <link href="../dist/css/custom-576.css" rel="stylesheet" media="screen and (max-width:575px)">

  <link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
  <link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
  <link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /**{
      font-family : simhei;
    }*/
    .modal-header:before , .modal-header:after{
      content : "";
      clear : both;
      display : table;
    }
  </style>
</head>
{{##def.format:param:{{=(param.n).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}
<body class = "">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class = "container">
    <a class="navbar-brand" href="/?clang={{=it.translation['langfor']}}"><img src = "/images/mark.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:10px;">
      <div class = 'class_forMobileViewAccount class_forNonMobileViewMarginLeftAuto'>
        <ul class="navbar-nav ml-auto">
          {{?it.isLogged == true}}
          <li class="nav-item" id="notify" style="display:none;">
            <a class="nav-link" href="/dashboard"><img src="/images/notification.png" style="width: 30px"><span class="badge1" data-badge=""></span></a>
          </li>
          {{?}}
          <li class="nav-item">
            <a class="nav-link" href="/requestTradeSell">{{=it.translation['buysell'] }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wallet">{{=it.translation['wallet']}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">{{=it.translation['dashboard']}}</a>
          </li>
          {{?it.isLogged == false}}
          <li class="nav-item class_mobileHidden">
            <a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 115px;">{{=it.translation['register']}}</button></a>
          </li>
          {{?}}
          <li class="nav-item class_mobileHidden">
            <a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 115px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
          </li>
          <li class="nav-item dropdown class_mobileHidden">
            <a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
            </a>
            <div class="dropdown-menu" aria-labelledby="langdropdown">
              <a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
              <a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
            </div>
          </li>
        </ul>
      </div>
      <div style="float:left; width:50%; display: none;" class= 'class_mobileShow'>
        <ul class="navbar-nav ml-auto">
          {{?it.isLogged == false}}
          <li class="nav-item">
            <a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 150px;">{{=it.translation['register']}}</button></a>
          </li>
          {{?}}
          <li class="nav-item">
            <a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 150px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
            </a>
            <div class="dropdown-menu" aria-labelledby="langdropdown">
              <a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
              <a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
            </div>
          </li>

          <!--{{?it.isLogged == true}}-->
          <!--<li class="nav-item dropdown">-->
          <!--<a class="nav-link dropdown-toggle" href="#balancedropdown" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--{{=it.user['user_name']}}-->
          <!--</a>-->

          <!--<div class="dropdown-menu p-1" aria-labelledby="langdropdown" id = "balancedropdown">-->
          <!--<a class = "ic ic-btc">BTC:{{=it.user['balance_btc']}}</a><br>-->
          <!--<a class = "ic ic-eth">ETH:{{=it.user['balance_eth']}}</a><br>-->
          <!--<a class = "ic ic-gp">MDC:{{=it.user['balance_mdc']}}</a><br>-->
          <!--</div>-->
          <!--</li>-->
          <!--{{?}}-->
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class = "mid-panel">
  <div class = "container text-center">
    <a href = "/requestTradeSell" {{?it.flag == 1}}class = "text-green px-5"{{??it.flag == 2}}class = "text-grey px-5"{{?}}>{{=it.translation['iamseller']}}</a>
    <a href = "/requestTradeBuy" {{?it.flag == 2}}class = "text-green px-5"{{??it.flag == 1}}class = "text-grey px-5"{{?}}>{{=it.translation['iambuyer']}}</a>
  </div>
</div>
<!-- This is for msgs coming -->
<main>
  <input hidden="true" id="txid" value="{{=it.trading.txid}}">
  <input hidden="true" id="user_id" value="{{=it.user.id}}">
  <input hidden="true" id="created_at" value="{{=it.trading.created_at}}">
</main>
<!-- This is for msgs coming -->

<section class = "main-back border-bottom-green">

  <div class = "container mt-4">
    <div class = "text-center mt-2">
      <img src = "/images/flow-line-{{=it.translation['langfor']}}-3.png" id='id_imgFlowLine'>
    </div>
    <div class="main-back">
      <div class="bg-white p-4 mb-3">
        {{?it.flag==1}}
        {{?it.translation['langfor']=='en'}}
        You sell {{=it.trading['market']}} to {{=it.client['user_name']}}
        {{??}}
        您向{{=it.client['user_name']}}购卖{{=it.trading['market']}}
        {{?}}
        {{??}}
        {{?it.translation['langfor']=='en'}}
        You buy {{=it.trading['market']}} from {{=it.client['user_name']}}
        {{??}}
        您向{{=it.client['user_name']}}购买{{=it.trading['market']}}
        {{?}}
        {{?}}

      </div>
      <div class = "bg-white line-height-70 mb-2">
        <div class = "table-responsive">
          <table class = "table">
            <thead>
            <tr >
              <th>{{=it.translation["floatingcost"]}}
              </th>
              <th>{{=it.translation["translimit"]}}
              </th>
              <th>{{=it.translation["transactionmethod"]}}
              </th>
              <th>{{=it.translation["expire"]}}
              </th>
              <th>{{=it.translation["status"]}}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr style = "display : none">
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class = "text-wrapper">
                {{?it.trading.market == 'BTC'}}
                {{=it.trading.ex_btc_cost}}CNY/
                {{??it.trading.market == 'ETH'}}
                {{=it.trading.ex_eth_cost}}CNY/
                {{??}}
                {{=it.trading.ex_mdc_cost}}CNY/
                {{?}}
                {{=it.trading.market}}
              </td>
              <td class = "text-wrapper">
                {{=it.trading.volumn}}{{=it.trading.market}}
              </td>
              <td class = "text-wrapper">
                {{?it.client['alipay_account'] != ''}}
                <span class = "method method-ali"></span>
                {{?}}
                {{?it.client['bank_account'] != ''}}
                <span class = "method method-bank"></span>
                {{?}}

              </td>

              <td class = "text-wrapper">
                <span id="deadline">{{=it.trading.deadline}}</span>{{=it.translation.minute}}
              </td>
              <td class="text-wrapper">
                {{=it.translation.added}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="bg-white row mx-1">
        <div class="text-left col p-4 mt-2">
          {{=it.translation['currentfee']}}: {{#def.format: {n: it.trading.fee * it.trading.cost, decimals: 2 } }}CNY
        </div>
        <div class="text-right col p-4">
          {{=it.translation['totalamount']}}: {{=it.client.balance_btc}}<br>
          {{=it.translation['exchange']}}: 0.923749
        </div>
      </div>
      <div class="p-2">
        {{?it.translation['langfor']=='en'}}
        <span class="text-green">Transaction Description:</span><br>
        <span>1. As soon as you place an order, the currency is locked up in the north and the payment is settled. </span><br>
        <span>2. Orders placed between 1:00pm and 7:00am the next morning will be paid after waking up at 8:00am. It is really tired and forgotten.</span><br><br>
        <span class="text-green">Seller payment account</span><br>
        <span class = "method method-bank"></span><br>
        {{??}}
        <span class="text-green">交易说明：</span><br>
        <span>1.您一开始下单，币就被锁起来了，放心付款。 </span><br>
        <span>2. 晚上1：00-－次日凌晨7：00之间所下订单会在早8：00睡醒后放币，实在乏累，望见谅 </span><br><br>
        <span class="text-green">卖家收款帐号</span><br>
        <span class = "method method-bank"></span><br>
        {{?}}
        <button class = "btn btn-success mx-auto d-block px-5" data-toggle="modal" data-target="#chatModal" id="openChat">{{?it.flag==1}}{{?it.translation['langfor']=='zh'}}联系买家{{??}}Contact buyer {{?}}{{??}}{{?it.translation['langfor']=='zh'}}联系卖家{{??}}Contact seller {{?}}{{?}}</button>

       <!-- Chat Modal  -->
        <div class="modal fade" id="chatModal" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content modal-height" >
              <div class="modal-header bg-success" style="display: block">
                <h4  class="modal-title text-white float-left">{{?it.translation['langfor']=='zh'}}聊天窗口{{??}}Chat Window{{?}}</h4>
                <button type="button" class="close text-white float-right" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body bg-light chat-back">
                <ui id="chatbox">

                </ui>
              </div>
              <div class="modal-footer">
                <form method = "POST" id = "uploadTest"  enctype = "multipart/form-data" onsubmit="return myfunction()" hidden>
                  <input type = "file" name = "uploadImage" id="file">
                  <input type = "submit" value = "Upload" id="sendImage">
                  <input type = "reset" value = "Upload" id="reset">

                </form>
                <div class="btn" onclick="$('#file').click()" ><i class="fa fa-file-image-o" style="font-size:24px"></i></div>
                <br>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="{{?it.translation['langfor']=='zh'}}输入消息..{{??}}Input Message..{{?}}" id = "msg" onkeypress="sendMessageEnter(event)">
                  <span class="input-group-btn">
                    <button  class="btn btn-outline-light text-dark" id="sendChat">
                        {{?it.translation['langfor']=='zh'}}发送{{??}}Send{{?}}
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>
        {{?it.translation['langfor']=='en'}}
        <div class="text-center">EOS hosting time remaining <span name="left_time">15:00</span> Overdue will be automatically cancelled <br> Please pay in time and click on the marked payment</div><br>
        {{??}}
        <div class="text-center">EOS 托管时间剩余 <span name="left_time">15:00</span> 逾期将自动取消<br>请及时付款并点击标记付款</div><br>
        {{?}}
        {{?it.flag==1}}
        <input type="button" value="{{?it.translation['langfor']=='zh'}}请等待买家付款{{??}}Please wait buyer's payment{{?}}" class = "btn btn-success mx-auto d-block padding-x-100 mb-4" disabled>
        {{??}}
        <input type="button" value="{{?it.translation['langfor']=='zh'}}标记付款已完成{{??}}Tag payment completed{{?}}" class = "btn btn-success mx-auto d-block padding-x-100 mb-4" id = "pay">
        {{?}}
        <input type="button" value="{{?it.translation['langfor']=='zh'}}延长订单有效期{{??}}Extended order validity{{?}}" class = "btn btn-outline-success mx-auto d-block padding-x-100 mb-4" id = "delayTrading">
        <input type="button" value="{{?it.translation['langfor']=='zh'}}取消交易{{??}}Cancel the deal{{?}}" class = "btn btn-outline-success mx-auto d-block padding-x-100 mb-4" id = "cancelTrading">
        {{?it.translation['langfor']=='en'}}
        <div class="text-center">Please do not arbitrarily cancel the order! Any order cancellation will be affected by the transaction subject's complaint will affect the system credit score, account scores will be frozen for a few days.</div><br>
        <div class="bg-white p-4">
          • You do not need to provide the wallet address to the {{?it.flag == 1}}buyer{{??}}seller{{?}}. After the transaction is completed, the digital currency will be automatically transferred to your wallet on OTCBTC<br>
          • OTC time is usually 5~60 minutes, depending on whether the seller is online or not, and the timing of confirmation of the account, please be patient. <br>
          • If you haven’t received a response from the seller for a long time, or if the seller has not released the digital currency, you can submit a work order to initiate an appeal and the customer service staff will assist
        </div>
        {{??}}
        <div class="text-center">请勿随意取消订单! 任意取消订单者，被交易对象投诉将影响系统信用分数，分数过低者帐号会被冻结数天。</div><br>
        <div class="bg-white p-4">
          • 您不需要提供钱包地址给{{?it.flag == 1}}买家{{??}}卖家{{?}}. 交易完成后数字货币将自动转入您在 OTCBTC 上的钱包中<br>
          • 场外交易时间通常为 5~60 分钟，具体时间依据卖家是否在线，及确认帐款的时间而有所调整，请耐心等待<br>
          • 若长时间未收到卖家的回复，或卖家未释放数字货币，您可以提交工单发起申诉，客服人员将协助处理
        </div>
        {{?}}


      </div>
    </div>


  </div>
</section>

<footer>
  <div class = "container footer-intro">
    <div class = "row">
      <div class = "col-12 col-sm-12 col-md-8 col-lg-8">
        <h5 class = "text-light">
          OTCMODE
        </h5>
        <span class = "text-light">
              {{=it.translation['companyintro']}}
            </span>
      </div>
      <div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
        <h5 class = "text-light">
          {{=it.translation['customerservice']}}
        </h5>
        <ul class = "text-light">
          <li><a href = "/faq">{{=it.translation['faq']}}</a></li>
          <!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
          <li><a href = "/exchangeratio">{{=it.translation['exchangerate']}}</a></li>
        </ul>
      </div>
      <div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
        <h5 class = "text-light">
          {{=it.translation['customerservice']}}
        </h5>
        <ul class = "text-light">
          <li><a href = "/aboutus">{{=it.translation['aboutus']}}</a></li>
          <li><a href = "/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class = "container footer-info border-top-grey">
    <div class = "row">
      <div class = "col-12 col-sm-12 col-md-6 col-lg-6">
        <span class = "text-light"><a href = "/termsofservice">{{=it.translation['termsofservice']}}</a> {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
      </div>
      <div class = "col-12 col-sm-12 col-md-6 col-lg-6">
        <span class = "text-light float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
      </div>
    </div>
  </div>
</footer>
</body>
<script>
    (function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","//assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
    ud({
        "code": "2b916c16",
        "link": "https://madabit.udesk.cn/im_client/?web_plugin_id=48770"
    });
  </script>
<script type = "text/javascript" src = "../dist/js/jquery-3.3.1.js">
</script>
<script type = "text/javascript" src = "../dist/js/bootstrap.js">
</script>
<script type="text/javascript" src="../dist/js/index1.js"></script>
<script src = "../dist/js/socket.io.js">
</script>
<script src = "../dist/js/client.js">
</script>
<script type = "text/javascript" src = "../dist/js/toastr.min.js">
</script>
<script type = "text/javascript" src = "../dist/js/ui-toastr.js">
</script>
{{?it.isLogged == true}}
<script>
    var client = new Client();
    let txid ;
    let user_id;
    let lang;
    $(document).ready(function()
    {

        client.getMsgInfo();
        lang = $('#lang').val();
        user_id = parseInt($('#user_id').val());
        txid = $("#txid").val();
        setInterval(showLeftTime, 1000);
        setInterval(client.getMsgInfo , 5000);
        $.ajax({
            url : '/getAllMessage',
            data : {
                txid : txid
            },
            type : 'POST',
            success : function(response){
                if(response.status === 'success'){
                    let chats = response.msg;
                    chats.forEach(chat =>{
                        insertMessage1(chat);
                    })
                } else {
                    showAlert(response.msg, 'error');
                }
            }
        });

    });
    $("#pay").click(function () {
        $('#pay').attr({disabled : 'false'});
        client.confirmPayment(txid);
    });
    $("#delayTrading").click(function () {
        if (parseInt($("#deadline").text())>=60){
            showAlert((lang==='en'?"You can't delay the deadline any more":"你不能再拖延最后期限。"),'warning');
        } else
        client.delayTrading(txid);
    });
    $("#cancelTrading").click(function () {
        client.cancelTrading(txid);
    });
    $('#image_upload').click(function () {
        $('input[name="uploadImage"]').click();
    });
    function showAlert(str,status)
    {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "10000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "2000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr[status](str);
    }
    function showLeftTime(){

        let created_at = Date.parse($('#created_at').val());
        console.log("created_at : " + created_at);
        let now  = new Date();
        let deadline = parseInt($('#deadline').text());
        let left_time = Math.round((created_at + deadline * 60000 - now.getTime())/1000);
        console.log(left_time);
        if( left_time <= 0){
            client.cancelTrading(txid);
        } else {
            let s = left_time % 60;
            let m = Math.floor(left_time / 60);
            let ss = s < 10 ? '0' + s : s;
            let mm = m < 10 ? '0' + m : m;
            $('span[name="left_time"]').text(mm + ":" + ss);
        }
    }


    $('#sendChat').click(function () {
        newMessage();
    });
    function newMessage(){
        let content = $('#msg').val();
        var filecount = $('#file')[0].files.length;
        if (content === '' && filecount === 0){
            return;
        }
        $('#msg').val(null);
        let imageUrl;
        if ( filecount === 0)
            client.sendMessage(txid, content, imageUrl);
        else {
            $('#sendImage').trigger('click');
        }

        }

    function insertMessage1(msg){
        let created_at = msg.created_at;
        let message = msg.content;
        let img_url = msg.img_url;

        if(user_id === msg.sender_id){
            if(img_url){
                $('<li class="sent"><img src="'+ msg.sender_img +'" alt="" /><span> :You</span><a href="' + img_url +'" target="_blank"><img src="' + img_url + '" style="width: 200px;height: 200px; border-radius : 0"></img></a></li>').appendTo($('#chatbox'));
            }
            if (message) $('<li class="sent"><img src="'+ msg.sender_img +'" alt="" /><span> :You</span><p>' + message + '</p></li>').appendTo($('#chatbox'));
        } else {
            if(img_url){
                $('<li class="replies"><img src="'+ msg.sender_img +'" alt="" /><span>' + msg.sender_name + ': </span><a href="' + img_url +'" target="_blank"><img src="' + img_url + '" style="width: 200px;height: 200px; border-radius : 0"></img></a></li>').appendTo($('#chatbox'));
            }
            if(message)  $('<li class="replies"><span>' + msg.sender_name + ': </span><img src="' + msg.sender_img + '" alt="" /><p>' + message + '</p></li>').appendTo($('#chatbox'));
        }
        $(".chat-back").animate({ scrollTop: $(document).height() }, "fast");
    }

    function sendMessageEnter(event){
        if(event.keyCode === 13 || event.which === 13){
            newMessage();
        }
    }


    $('#openChat').click(function(){
        client.readMsg();
    });
    function myfunction()
    {
        let formData = new FormData($('#uploadTest')[0]);
        $.ajax({
            url: '/test',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                let imageUrl = response.result;
                client.sendMessage(txid, "", imageUrl);
            }
        });
        return false;
    }
</script>
{{?}}
</html>