<!DOCTYPE>
<html>
  <head>
    <meta charset = "utf8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  <title>OTCMODE</title>

	<link rel = "stylesheet" href = "./dist/css/bootstrap.css">
	<link rel = "stylesheet" href = "./dist/css/font-awesome.min.css">
	<link rel = "stylesheet" href = "../dist/css/toastr.min.css">

	<link href="../dist/css/custom.css" rel="stylesheet">
	<link href="../dist/css/custom-1200.css" rel="stylesheet" media="screen and (max-width:1199px) and (min-width: 992px)">
	<link href="../dist/css/custom-992.css" rel="stylesheet" media="screen and (max-width:991px) and (min-width: 768px)">
	<link href="../dist/css/custom-768.css" rel="stylesheet" media="screen and (max-width:767px) and (min-width: 576px)">
	<link href="../dist/css/custom-576.css" rel="stylesheet" media="screen and (max-width:575px)">

	<link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
	<link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
	<link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
    <link rel = "stylesheet" href = "https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
	<link rel = "stylesheet" href = "../dist/css/pretty-checkbox.min.css">
    <style>
      /**{
        font-family : simhei;
      }*/
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class = "container">
        <a class="navbar-brand" href="/?clang={{=it.translation['langfor']}}"><img src = "./images/mark.png" id = 'id_imgLogo'>
       	</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:10px;">
			  <div class = 'class_forMobileViewAccount class_forNonMobileViewMarginLeftAuto'>
				  <ul class="navbar-nav ml-auto">
					  {{?it.isLogged == true}}
					  <li class="nav-item" id="notify" style="display:none;">
						  <a class="nav-link" href="/dashboard"><img src="/images/notification.png" style="width: 30px"><span class="badge1" data-badge=""></span></a>
					  </li>
					  {{?}}
					  <li class="nav-item">
						  <a class="nav-link" href="/requestTradeSell">{{=it.translation['buysell'] }}</a>
					  </li>
					  <li class="nav-item">
						  <a class="nav-link" href="/wallet">{{=it.translation['wallet']}}</a>
					  </li>
					  <li class="nav-item">
						  <a class="nav-link" href="/dashboard">{{=it.translation['dashboard']}}</a>
					  </li>
					  {{?it.isLogged == false}}
					  <li class="nav-item class_mobileHidden">
						  <a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 115px;">{{=it.translation['register']}}</button></a>
					  </li>
					  {{?}}
					  <li class="nav-item class_mobileHidden">
						  <a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 115px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
					  </li>
					  <li class="nav-item dropdown class_mobileHidden">
						  <a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  <span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
						  <div class="dropdown-menu" aria-labelledby="langdropdown">
							  <a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
							  <a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
						  </div>
					  </li>
				  </ul>
			  </div>
			  <div style="float:left; width:50%; display: none;" class= 'class_mobileShow'>
				  <ul class="navbar-nav ml-auto">
					  {{?it.isLogged == false}}
					  <li class="nav-item">
						  <a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 150px;">{{=it.translation['register']}}</button></a>
					  </li>
					  {{?}}
					  <li class="nav-item">
						  <a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 150px;">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>
					  </li>
					  <li class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" href="#" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  <span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>{{?it.translation['langfor']=='en'}}English{{??}}中文简体{{?}}</a>
						  </a>
						  <div class="dropdown-menu" aria-labelledby="langdropdown">
							  <a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
							  <a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
						  </div>
					  </li>

					  <!--{{?it.isLogged == true}}-->
					  <!--<li class="nav-item dropdown">-->
					  <!--<a class="nav-link dropdown-toggle" href="#balancedropdown" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
					  <!--{{=it.user['user_name']}}-->
					  <!--</a>-->

					  <!--<div class="dropdown-menu p-1" aria-labelledby="langdropdown" id = "balancedropdown">-->
					  <!--<a class = "ic ic-btc">BTC:{{=it.user['balance_btc']}}</a><br>-->
					  <!--<a class = "ic ic-eth">ETH:{{=it.user['balance_eth']}}</a><br>-->
					  <!--<a class = "ic ic-gp">MDC:{{=it.user['balance_mdc']}}</a><br>-->
					  <!--</div>-->
					  <!--</li>-->
					  <!--{{?}}-->
				  </ul>
			  </div>
		  </div>
      </div>
    </nav>
    <main class = "main-back wallet">
    	<div class = "container">
    		<div class = "row">
    			<div class = "col-12 col-sm-12 col-md-3 ">
    				<div class = "padding-50 bg-white">

	    				<div class = "user-profile text-center">
	    					{{=it.user["user_name"]}}
	    				</div>
						<div class="user-image2">
							<img class="w-100 h-100 rounded-circle" src="{{=it.user.photourl}}" >
						</div>
						<div class="text-center text-grey table">{{=it.translation['totalprice']}}
							<div class="row">
								<div class="col-md-3 col-3"></div>
								<div class="col-md-3 col-3 none-padding text-right"  style="padding-right:10px !important;">
									<span class="text-green">{{=it.user.balance_btc}}</span>
								</div>
								<div class="col-md-2 col-1 none-padding left-order">
									BTC
								</div>
								<div class="col-md-4 col-5"></div>
							</div>
							<div class="row">
								<div class="col-md-3 col-3"></div>
								<div class="col-md-3 col-3 none-padding text-right" style="padding-right:10px !important;">
									<span class="text-green">{{=it.user.balance_eth}} </span>
								</div>
								<div class="col-md-2 col-1 none-padding left-order">
									ETH
								</div>
								<div class="col-md-4 col-5"></div>
							</div>
							<div class="row">
								<div class="col-md-3 col-3"></div>
								<div class="col-md-3 col-3 none-padding text-right" style="padding-right:10px !important;">
									<span class="text-green">{{=it.user.balance_mdc}} </span>
								</div>
								<div class="col-md-2 col-1 none-padding left-order">
									MDC
								</div>
								<div class="col-md-4 col-5"></div>
							</div>
						</div>
						<div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						  <a class="text-grey border-bottom-info active" id="v-pills-modification-tab" data-toggle="pill" href="#v-pills-modification" role="tab" aria-selected="true">{{=it.translation['modification']}}</a>

							<!--<a class="nav-link " id="v-pills-sec-tab" data-toggle="pill" href="#v-pills-security" role="tab" aria-controls="v-pills-home" aria-selected="true">{{=it.translation['security']}}</a>-->
						  <a class="nav-link space-span" id="v-pills-setting-tab" data-toggle="pill" href="#v-pills-setting" role="tab" aria-selected="false">{{=it.translation['setting']}}</a>
						  <a class="nav-link space-span" id="v-pills-dep-tab" data-toggle="pill" href="#v-pills-deposite" role="tab" aria-selected="false">{{=it.translation['deposite']}}</a>
						  <a class="nav-link space-span" id="v-pills-wit-tab" data-toggle="pill" href="#v-pills-withdraw" role="tab" aria-selected="false">{{=it.translation['withdrawals']}}</a>
						  <a class="nav-link space-span" id="v-pills-his-tab" data-toggle="pill" href="#v-pills-history" role="tab" aria-selected="false">{{=it.translation['history']}}</a>
						  <a class="nav-link space-span" id="v-pills-email-tab" data-toggle="pill" href="#v-pills-email" role="tab" aria-selected="false">{{=it.translation['emailverification']}}</a>
    					  <a class="nav-link space-span" id="v-pills-name-tab" data-toggle="pill" href="#v-pills-name" role="tab" aria-selected="false">{{=it.translation['nameverification']}}</a>

						<!-- Support -->
						  <!--<a class="nav-link" id="v-pills-sup-tab" data-toggle="pill" href="#v-pills-support" role="tab" aria-controls="v-pills-messages" aria-selected="false">{{=it.translation['support']}}</a>-->
						<!-- Support -->

						</div>
					</div>
    			</div>
    			<div class = "col-12 col-sm-12 col-md-9">
					<div class = "text-center alert alert-danger" role = "alert" style = "display : none"></div>
					<div class = "text-center p-3 mt-3 bg-info text-white" role = "alert" style = "display : none"></div>
					<input type="text" value="{{=it.translation['langfor']}}" hidden="true" id = "lang">
					<div class="tab-content  bg-white" id="v-pills-tabContent">
	    			  <div class="tab-pane fade show active" id="v-pills-modification" role="tabpanel" aria-labelledby="v-pills-modification-tab">
						<span class="font-weight-bold d-flex justify-content-end text-success p-3">{{=it.translation['modification']}}</span>
						<div class = "user-image1">


							<form  action = "/uploadImage" method = "POST" enctype="multipart/form-data">
								<div class="user-image2" onclick="$('#files').click();">
									<img class="w-100 h-100 rounded-circle" id="output" src="{{=it.user.photourl}}" >
								</div>
								<script>
                                    let loadFile = function(event) {
                                        let reader = new FileReader();
                                        reader.onload = function(){
                                            output.src = reader.result;
                                            $('#upload').click();
                                        };
                                        reader.readAsDataURL(event.target.files[0]);
                                    };
								</script>
								<input type="submit" id="upload" hidden="true">
								<input onchange="loadFile(event)" type = "file" id="files" name="uploadImage" style="display: none"  value = "{{=it.translation['submit']}}" required>
							</form>
							<div class = "input-group my-4" >
								<div class = "input-group-prepend login_label">
									<span class = "space-span1">{{=it.translation['username']}}</span>
								</div>
								<input type = "text" class = "form-control modification" name = "username" value="{{=it.user.user_name}}" disabled>
							</div>
							<div class = "input-group mb-4">
								<div class = "input-group-prepend login_label">
									<span class = "space-span">{{=it.translation['password']}}</span>
								</div>
								<input type = "password" class = "form-control modification" name = "old" maxlength="100">
							</div>
							<div class = "input-group mb-4">
								<div class = "input-group-prepend login_label">
									<span class = "space-span1">{{=it.translation['newpassword']}}</span>
								</div>
								<input type = "password" class = "form-control modification" name = "password" maxlength="100">
							</div>
							<div class = "input-group mb-4">
								<div class = "input-group-prepend login_label">
									<span class = "space-span2">{{=it.translation['confirm']}}</span>
								</div>
								<input type = "password" class = "form-control modification" name = "confirm" maxlength="100">
							</div>
							<button id = "change" class = "mb-5 btn btn-success btn-block">{{=it.translation['change']}}</button>

					  	</div>
					  </div>
					  <div class="tab-pane fade" id="v-pills-setting" role="tabpanel" aria-labelledby="v-pills-setting-tab">
						<div class = "border-bottom-info pt-5 px-5 mb-5 text-grey font-weight-bold">
							{{=it.translation['receiptaccountsetting']}}:
						</div>
						<div class=" border-bottom-info toggle1 px-5">
							<!--<div class = "table-responsive">-->
								<table class="table">
									<thead>
									<tr >
										<th class="text-left">
											{{=it.translation['paymethod']}}
										</th>
										<th class="text-center">
											{{=it.translation['setting']}}
										</th>
										<th class="text-right">
											{{=it.translation['operation']}}
										</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td class="text-left"><span class = "method method-bank">&nbsp;{{=it.translation['bank']}}</span></td>
										<td class="text-center">
											{{?it.user.bank_name == ''}}
											{{=it.translation['settingoff']}}
											{{??it.user.bank_name == undefined}}
											{{=it.translation['settingoff']}}
											{{??}}
											{{=it.translation['settingon']}}
											{{?}}
										</td>
										<td class="text-right"><input type="button" class = "btn btn-outline-success btn-sm" id = "manage1" value="{{=it.translation['management']}}"></input></td>
									</tr>
									<tr>
										<td class="text-left"><span class = "method method-ali">&nbsp;{{=it.translation['alipay']}}</span></td>
										<td class="text-center">
											{{?it.user.alipay_account == ''}}
											{{=it.translation['settingoff']}}
											{{??it.user.alipay_account == undefined}}
											{{=it.translation['settingoff']}}
											{{??}}
											{{=it.translation['settingon']}}
											{{?}}
										</td>
										<td class="text-right"><input type="button" class = "btn btn-outline-success btn-sm" id = "manage2" value="{{=it.translation['management']}}"></input></td>
									</tr>
									</tbody>
								</table>
							<!--</div>-->
						</div>
						<div class="p-5 md-5 toggle1">
							<div class="ic">{{=it.translation['accountmessage1']}}</div>
							<div class="ic">{{=it.translation['accountmessage2']}}</div>
						</div>
						<div class="padding-100-150 toggle2">
							<span class="text-grey font-weight-bold">{{=it.translation['accountinfo']}}</span>
							<div class = "input-group my-3">
								<div class = "input-group-prepend login_label">
									<span class = "space-span">{{=it.translation['name']}}</span>
								</div>
								<input type = "text" class = "form-control bank" name = "bank_username" value="{{=it.user.bank_username}}" >
							</div>
							<div class = "input-group my-3">
								<div class = "input-group-prepend login_label">
									<span class = "space-span1">{{=it.translation['accountbank']}}</span>
								</div>
								<input type = "text" class = "form-control bank" name = "accountbank"  value="{{=it.user.bank_name}}" >
							</div>
							<div class = "input-group my-3">
								<div class = "input-group-prepend login_label">
									<span class = "space-span2">{{=it.translation['accountbranch']}}</span>
								</div>
								<input type = "text" class = "form-control bank" name = "accountbranch"  value="{{=it.user.bank_branch}}" >
							</div>
							<div class = "input-group my-3">
								<div class = "input-group-prepend login_label">
									<span class = "space-span2">{{=it.translation['bankaccount']}}</span>
								</div>
								<input type = "text" class = "form-control bank" name = "bankaccount"  value="{{=it.user.bank_account}}" >
							</div>
							<div class = "form-check mb-3" style="padding-left:0;">
								<div class="pretty p-default" style="margin-top: 5px;">
									<input type = "checkbox" name = "remember1" class = "form-check-input" value="{{=it.user.bank_show_order}}">
									<div class="state p-success">
										<label><span class="text-grey">{{=it.translation['showonorderpage']}}</span></label>
									</div>
								</div>
							</div>
							<button id = "submit" class = "btn btn-success btn-block">{{=it.translation['submit']}}</button>
						</div>
						<div class="padding-100-150 toggle3">
							<span class="text-grey font-weight-bold">{{=it.translation['accountinfo']}}</span>
							<div class = "input-group my-3">
								<div class = "input-group-prepend login_label">
									<span class = "space-span">{{=it.translation['name']}}</span>
								</div>
								<input type = "text" class = "form-control alipay" name = "alipay_name" value="{{=it.user.alipay_username}}" >
							</div>
							<div class = "input-group my-3">
								<div class = "input-group-prepend login_label">
									<span class = "space-span1">{{=it.translation['accountnumber']}}</span>
								</div>
								<input type = "text" class = "form-control alipay" name = "accountnumber" value="{{=it.user.alipay_account}}" >
							</div>

							<div class = "form-check mb-3" style="padding-left:0;">
								<div class="pretty p-default" style="margin-top: 5px;">
									<input type = "checkbox" name = "remember2" class = "form-check-input" value="{{=it.user.alipay_show_order}}}}">
									<div class="state p-success">
										<label><span class="text-grey">{{=it.translation['showonorderpage']}}</span></label>
									</div>
								</div>
							</div>
							<button id = "submit1" class = "btn btn-success btn-block">{{=it.translation['submit']}}</button>
						</div>
					</div>
					  <div class="tab-pane fade" id="v-pills-deposite" role="tabpanel" aria-labelledby="v-pills-home-tab">
					  	<div class = "padding-100">
					  		<h6>{{=it.translation['addresses']}}:</h6>
					  		<div class = "input-group mb-4">
					  			<div class = "input-group-prepend prehead-div">
					  				<span class = "input-group-text prehead-span">
					  					BTC
					  				</span>
					  			</div>
					  			<input type="text" class="form-control" id="BTC-addr" value = "{{=it.BTCAddr}}" placeholder="" disabled="" aria-label="" aria-describedby="BTC-addr">
					  		</div>
					  		<div class = "qr_wrapper">
								<img class = "qr_viewer" src = "https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=%20{{=it.BTCAddr}}">
							</div>
					  		<div class = "input-group mb-4">
					  			<div class = "input-group-prepend prehead-div">
					  				<span class = "input-group-text prehead-span">
					  					ETH
					  				</span>
					  			</div>
					  			<input type="text" class="form-control" id="ETH-addr" value = "{{=it.ETHAddr}}" placeholder="" disabled="" aria-label="" aria-describedby="ETH-addr">
					  		</div>
					  		<div class = "qr_wrapper">
								<img class = "qr_viewer" src = "https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=%20{{=it.ETHAddr}}">
							</div>
							<div class = "input-group mb-4">
								<div class = "input-group-prepend prehead-div">
					  				<span class = "input-group-text prehead-span">
					  					MDC
					  				</span>

								</div>
								<input type="text" class="form-control" id="MDC-addr" value = "{{=it.MDCAddr}}" placeholder="" disabled="" aria-label="" aria-describedby="MDC-addr">
							</div>
							<div class = "qr_wrapper">
								<img class = "qr_viewer" src = "https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=%20{{=it.ETHAddr}}">
							</div>
					  	</div>
					  </div>
					  <div class="tab-pane fade" id="v-pills-withdraw" role="tabpanel" aria-labelledby="v-pills-profile-tab">
					  		<div class = "padding-y-200 px-5">
						  		<div class = "input-group mb-4">
						  			<div class = "input-group-prepend login_label">
						  				<span class = "input-group-text">
						  					{{=it.translation['type']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						  				</span>

						  			</div>
						  			<select class = "custom-select" id="kind_select" onchange="getValue()">
						  				<option value = "1" selected>BTC</option>
						  				<option value = "2">ETH</option>
										<option value = "3">MDC</option>
						  			</select>
						  		</div>
						  		<div class = "input-group mb-4">
						  			<div class = "input-group-prepend login_label">
						  				<span class = "input-group-text">
						  					{{=it.translation['availableamount']}}
						  				</span>

						  			</div>
						  			<input value = "{{=it.user.balance_btc}}" class = "form-control withdrawal" id="Available_val" disabled="" style = "cursor:not-allowed">
						  		</div>
						  		<div class = "input-group mb-4">
						  			<div class = "input-group-prepend login_label">
						  				<span class = "input-group-text">
						  					{{=it.translation['addresses']}}
						  				</span>

						  			</div>
						  			<input id="txt_addr"  class = "form-control"  >
						  		</div>
						  		<div class = "input-group mb-4">
						  			<div class = "input-group-prepend login_label">
						  				<span class = "input-group-text">
						  					{{=it.translation['amount']}}
						  				</span>

						  			</div>
						  			<input value = "0" id="amount_val"  class = "form-control withdrawal"  onkeyup="onChangeValue()">
						  		</div>
						  		<div class = "form-group">
							  		<input type = "button" class = "btn btn-success form-control" id="btn_withdraw" value = "{{=it.translation['withdrawals']}}">
							  		<input type = "text" id="id_balance_btc" hidden="true" value="{{=it.user.balance_btc}}"  name="">
						  			<input type = "text" id="id_balance_eth" hidden="true" value="{{=it.user.balance_eth}}" name="">
						  			<input type = "text" id="id_balance_mdc" hidden="true" value="{{=it.user.balance_mdc}}" name="">
							  	</div>
						  	</div>
					  </div>

					  <div class="tab-pane fade" id="v-pills-history" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<div class = "padding-100-80">
								<h4 class="text-grey">{{=it.translation['transactionhistory']}}</h4>
								<div class = "table-responsive">
									<table class = "table bg-light" id="history">
										<thead>
										<tr>
											<th>{{=it.translation['date']}}
											</th>
											<th>{{=it.translation['time']}}
											</th>
											<th>{{=it.translation['totalamount']}}
											</th>
											<th>{{=it.translation['deporwith']}}
											</th>
										</tr>
										</thead>
										<tbody>
										{{~it.history:onedata:i}}
										<tr>
											<td>
												{{=onedata["created_at"].substr(0,10)}}
											</td>
											<td>
												{{=onedata["created_at"].substr(11,8)}}
											</td>
											<td>{{=onedata["amount"]}}{{=onedata["market"]}}
											</td>
											<td>{{=onedata["side"]}}
											</td>
										</tr>
										{{~}}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					  <div class="tab-pane fade" id="v-pills-email" role="tabpanel" aria-labelledby="v-pills-message-tab">

						  <div class = "border-bottom-info pt-5 px-5 text-grey font-weight-bold">
							  {{=it.translation['emailverification']}}
						  </div>
						  <input value="{{=it.user.email_verified}}" name="email_verified" hidden="true">
						  <input type="number" value="{{=it.user.email_verify_count}}" name="email_verify_count" hidden="true">
						  <div class="email-toggle1">
							  <div class = "input-group padding-x-100 py-5">
								  <div class = "input-group-prepend login_label">
						  				<span class = "input-group-text">
						  					{{=it.translation['email']}}
						  				</span>
								  </div>
								  <input value = "{{=it.user.email}}" id="email"  class = "form-control" disabled>

							  </div>
							  <div class="padding-x-100 mb-4">
								  <button id = "send" class = "btn btn-success btn-block ">{{=it.translation['submit']}}</button>

							  </div>

						  </div>
						  <div class="email-toggle2">
							  <div class = "padding-x-100 py-5 border-bottom-info">
								  <div class="v-email1 ">
									  <div class="text-center">{{=it.translation['verificationmessage1']}}</div>
									  <div class="text-center">{{=it.translation['verificationmessage2']}}<span class="text-green">{{=it.translation['verificationmessage3']}}</span></div>
									  <button id = "resend" class = "btn btn-success btn-block px-5">{{=it.translation['resendmail']}}</button>


								  </div>


							  </div>
							  <div class = "padding-x-100 py-5">
								  <div class="text-center">{{=it.translation['note']}}</div>
								  <div class="text-center">{{=it.translation['verificationmessage4']}}<span class="text-green">{{=it.translation['verificationmessage5']}}</span>
									  {{=it.translation['verificationmessage6']}}<span class="text-green">{{=it.translation['verificationmessage7']}}</span></div>

							  </div>
						  </div>

						  <div class="email-toggle3">
							  <div class="text-center text-green">{{=it.translation['verifiedemail']}}</div>
						  </div>
					  </div>
					  <div class="tab-pane fade" id="v-pills-name" role="tabpanel" aria-labelledby="v-pills-message-tab">
							<div class = "border-bottom-info pt-5 px-5 text-grey font-weight-bold">
								{{=it.translation['nameverification']}}
							</div>
						    <input value="{{=it.user.name_verified}}" name="name_verified" hidden="true">
						    <input type="number" value="{{=it.user.name_verify_count}}" name="name_verify_count" hidden="true">
						    <div class="name-toggle1">
								<div class = "input-group padding-x-100 py-3 mt-5">
									<div class = "input-group-prepend login_label">
						  				<span class = "space-span2">
						  					{{=it.translation['realName']}}
						  				</span>
									</div>
									<input value = "{{=it.user.actual_name}}" id="actual_name"  class = "form-control nextstep1">

								</div>
								<div class = "input-group padding-x-100 py-3">
									<div class = "input-group-prepend login_label">
						  				<span class = "space-span2">
						  					{{=it.translation['cardnumber']}}
						  				</span>
									</div>
									<input value = "{{=it.user.idcardnumber}}" id="cardnumber"  class = "form-control nextstep1" >

								</div>
								<div class="padding-x-100 pb-5 mb-5 border-bottom-info">
									<button id = "nextstep1" class = "btn btn-success btn-block ">{{=it.translation['nextstep']}}</button>
								</div>

								<div class = "padding-x-100 py-5">
									<div class="text-center">{{=it.translation['note']}}</div>
									<div class="text-center">{{=it.translation['verificationmessage4']}}<span class="text-green">{{=it.translation['verificationmessage5']}}</span>
										{{=it.translation['verificationmessage6']}}<span class="text-green">{{=it.translation['verificationmessage7']}}</span></div>

								</div>
							</div>
							<div class="name-toggle2" align = 'center'>
								<div class = "input-group padding-x-200 py-3 mt-5 " style="width : 95%;">
									<div class = "input-group-prepend login_label1">
						  				<span class = "space-span">
						  					{{=it.translation['selectcountry']}}
						  				</span>
									</div>
									<select id="countries"  class = "form-control" value="{{=it.user.country}}">
										<option value="Afghanistan">Afghanistan</option>
										<option value="Albania">Albania</option>
										<option value="Algeria">Algeria</option>
										<option value="American Samoa">American Samoa</option>
										<option value="Andorra">Andorra</option>
										<option value="Angola">Angola</option>
										<option value="Anguilla">Anguilla</option>
										<option value="Antarctica">Antarctica</option>
										<option value="Antigua and Barbuda">Antigua and Barbuda</option>
										<option value="Argentina">Argentina</option>
										<option value="Armenia">Armenia</option>
										<option value="Aruba">Aruba</option>
										<option value="Australia">Australia</option>
										<option value="Austria">Austria</option>
										<option value="Azerbaijan">Azerbaijan</option>
										<option value="Bahamas">Bahamas</option>
										<option value="Bahrain">Bahrain</option>
										<option value="Bangladesh">Bangladesh</option>
										<option value="Barbados">Barbados</option>
										<option value="Belarus">Belarus</option>
										<option value="Belgium">Belgium</option>
										<option value="Belize">Belize</option>
										<option value="Benin">Benin</option>
										<option value="Bermuda">Bermuda</option>
										<option value="Bhutan">Bhutan</option>
										<option value="Bolivia">Bolivia</option>
										<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
										<option value="Botswana">Botswana</option>
										<option value="Bouvet Island">Bouvet Island</option>
										<option value="Brazil">Brazil</option>
										<option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
										<option value="Brunei Darussalam">Brunei Darussalam</option>
										<option value="Bulgaria">Bulgaria</option>
										<option value="Burkina Faso">Burkina Faso</option>
										<option value="Burundi">Burundi</option>
										<option value="Cambodia">Cambodia</option>
										<option value="Cameroon">Cameroon</option>
										<option value="Canada">Canada</option>
										<option value="Cape Verde">Cape Verde</option>
										<option value="Cayman Islands">Cayman Islands</option>
										<option value="Central African Republic">Central African Republic</option>
										<option value="Chad">Chad</option>
										<option value="Chile">Chile</option>
										<option value="China">China</option>
										<option value="Christmas Island">Christmas Island</option>
										<option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
										<option value="Colombia">Colombia</option>
										<option value="Comoros">Comoros</option>
										<option value="Congo">Congo</option>
										<option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
										<option value="Cook Islands">Cook Islands</option>
										<option value="Costa Rica">Costa Rica</option>
										<option value="Cote D'ivoire">Cote D'ivoire</option>
										<option value="Croatia">Croatia</option>
										<option value="Cuba">Cuba</option>
										<option value="Cyprus">Cyprus</option>
										<option value="Czech Republic">Czech Republic</option>
										<option value="Denmark">Denmark</option>
										<option value="Djibouti">Djibouti</option>
										<option value="Dominica">Dominica</option>
										<option value="Dominican Republic">Dominican Republic</option>
										<option value="Ecuador">Ecuador</option>
										<option value="Egypt">Egypt</option>
										<option value="El Salvador">El Salvador</option>
										<option value="Equatorial Guinea">Equatorial Guinea</option>
										<option value="Eritrea">Eritrea</option>
										<option value="Estonia">Estonia</option>
										<option value="Ethiopia">Ethiopia</option>
										<option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
										<option value="Faroe Islands">Faroe Islands</option>
										<option value="Fiji">Fiji</option>
										<option value="Finland">Finland</option>
										<option value="France">France</option>
										<option value="French Guiana">French Guiana</option>
										<option value="French Polynesia">French Polynesia</option>
										<option value="French Southern Territories">French Southern Territories</option>
										<option value="Gabon">Gabon</option>
										<option value="Gambia">Gambia</option>
										<option value="Georgia">Georgia</option>
										<option value="Germany">Germany</option>
										<option value="Ghana">Ghana</option>
										<option value="Gibraltar">Gibraltar</option>
										<option value="Greece">Greece</option>
										<option value="Greenland">Greenland</option>
										<option value="Grenada">Grenada</option>
										<option value="Guadeloupe">Guadeloupe</option>
										<option value="Guam">Guam</option>
										<option value="Guatemala">Guatemala</option>
										<option value="Guinea">Guinea</option>
										<option value="Guinea-bissau">Guinea-bissau</option>
										<option value="Guyana">Guyana</option>
										<option value="Haiti">Haiti</option>
										<option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
										<option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
										<option value="Honduras">Honduras</option>
										<option value="Hong Kong">Hong Kong</option>
										<option value="Hungary">Hungary</option>
										<option value="Iceland">Iceland</option>
										<option value="India">India</option>
										<option value="Indonesia">Indonesia</option>
										<option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
										<option value="Iraq">Iraq</option>
										<option value="Ireland">Ireland</option>
										<option value="Israel">Israel</option>
										<option value="Italy">Italy</option>
										<option value="Jamaica">Jamaica</option>
										<option value="Japan">Japan</option>
										<option value="Jordan">Jordan</option>
										<option value="Kazakhstan">Kazakhstan</option>
										<option value="Kenya">Kenya</option>
										<option value="Kiribati">Kiribati</option>
										<option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
										<option value="Korea, Republic of">Korea, Republic of</option>
										<option value="Kuwait">Kuwait</option>
										<option value="Kyrgyzstan">Kyrgyzstan</option>
										<option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
										<option value="Latvia">Latvia</option>
										<option value="Lebanon">Lebanon</option>
										<option value="Lesotho">Lesotho</option>
										<option value="Liberia">Liberia</option>
										<option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
										<option value="Liechtenstein">Liechtenstein</option>
										<option value="Lithuania">Lithuania</option>
										<option value="Luxembourg">Luxembourg</option>
										<option value="Macao">Macao</option>
										<option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
										<option value="Madagascar">Madagascar</option>
										<option value="Malawi">Malawi</option>
										<option value="Malaysia">Malaysia</option>
										<option value="Maldives">Maldives</option>
										<option value="Mali">Mali</option>
										<option value="Malta">Malta</option>
										<option value="Marshall Islands">Marshall Islands</option>
										<option value="Martinique">Martinique</option>
										<option value="Mauritania">Mauritania</option>
										<option value="Mauritius">Mauritius</option>
										<option value="Mayotte">Mayotte</option>
										<option value="Mexico">Mexico</option>
										<option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
										<option value="Moldova, Republic of">Moldova, Republic of</option>
										<option value="Monaco">Monaco</option>
										<option value="Mongolia">Mongolia</option>
										<option value="Montserrat">Montserrat</option>
										<option value="Morocco">Morocco</option>
										<option value="Mozambique">Mozambique</option>
										<option value="Myanmar">Myanmar</option>
										<option value="Namibia">Namibia</option>
										<option value="Nauru">Nauru</option>
										<option value="Nepal">Nepal</option>
										<option value="Netherlands">Netherlands</option>
										<option value="Netherlands Antilles">Netherlands Antilles</option>
										<option value="New Caledonia">New Caledonia</option>
										<option value="New Zealand">New Zealand</option>
										<option value="Nicaragua">Nicaragua</option>
										<option value="Niger">Niger</option>
										<option value="Nigeria">Nigeria</option>
										<option value="Niue">Niue</option>
										<option value="Norfolk Island">Norfolk Island</option>
										<option value="Northern Mariana Islands">Northern Mariana Islands</option>
										<option value="Norway">Norway</option>
										<option value="Oman">Oman</option>
										<option value="Pakistan">Pakistan</option>
										<option value="Palau">Palau</option>
										<option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
										<option value="Panama">Panama</option>
										<option value="Papua New Guinea">Papua New Guinea</option>
										<option value="Paraguay">Paraguay</option>
										<option value="Peru">Peru</option>
										<option value="Philippines">Philippines</option>
										<option value="Pitcairn">Pitcairn</option>
										<option value="Poland">Poland</option>
										<option value="Portugal">Portugal</option>
										<option value="Puerto Rico">Puerto Rico</option>
										<option value="Qatar">Qatar</option>
										<option value="Reunion">Reunion</option>
										<option value="Romania">Romania</option>
										<option value="Russian Federation">Russian Federation</option>
										<option value="Rwanda">Rwanda</option>
										<option value="Saint Helena">Saint Helena</option>
										<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
										<option value="Saint Lucia">Saint Lucia</option>
										<option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
										<option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
										<option value="Samoa">Samoa</option>
										<option value="San Marino">San Marino</option>
										<option value="Sao Tome and Principe">Sao Tome and Principe</option>
										<option value="Saudi Arabia">Saudi Arabia</option>
										<option value="Senegal">Senegal</option>
										<option value="Serbia and Montenegro">Serbia and Montenegro</option>
										<option value="Seychelles">Seychelles</option>
										<option value="Sierra Leone">Sierra Leone</option>
										<option value="Singapore">Singapore</option>
										<option value="Slovakia">Slovakia</option>
										<option value="Slovenia">Slovenia</option>
										<option value="Solomon Islands">Solomon Islands</option>
										<option value="Somalia">Somalia</option>
										<option value="South Africa">South Africa</option>
										<option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
										<option value="Spain">Spain</option>
										<option value="Sri Lanka">Sri Lanka</option>
										<option value="Sudan">Sudan</option>
										<option value="Suriname">Suriname</option>
										<option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
										<option value="Swaziland">Swaziland</option>
										<option value="Sweden">Sweden</option>
										<option value="Switzerland">Switzerland</option>
										<option value="Syrian Arab Republic">Syrian Arab Republic</option>
										<option value="Taiwan, Province of China">Taiwan, Province of China</option>
										<option value="Tajikistan">Tajikistan</option>
										<option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
										<option value="Thailand">Thailand</option>
										<option value="Timor-leste">Timor-leste</option>
										<option value="Togo">Togo</option>
										<option value="Tokelau">Tokelau</option>
										<option value="Tonga">Tonga</option>
										<option value="Trinidad and Tobago">Trinidad and Tobago</option>
										<option value="Tunisia">Tunisia</option>
										<option value="Turkey">Turkey</option>
										<option value="Turkmenistan">Turkmenistan</option>
										<option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
										<option value="Tuvalu">Tuvalu</option>
										<option value="Uganda">Uganda</option>
										<option value="Ukraine">Ukraine</option>
										<option value="United Arab Emirates">United Arab Emirates</option>
										<option value="United Kingdom">United Kingdom</option>
										<option value="United States">United States</option>
										<option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
										<option value="Uruguay">Uruguay</option>
										<option value="Uzbekistan">Uzbekistan</option>
										<option value="Vanuatu">Vanuatu</option>
										<option value="Venezuela">Venezuela</option>
										<option value="Viet Nam">Viet Nam</option>
										<option value="Virgin Islands, British">Virgin Islands, British</option>
										<option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
										<option value="Wallis and Futuna">Wallis and Futuna</option>
										<option value="Western Sahara">Western Sahara</option>
										<option value="Yemen">Yemen</option>
										<option value="Zambia">Zambia</option>
										<option value="Zimbabwe">Zimbabwe</option>
									</select>
								</div>
								<div class="padding-y-50" style="width:95%;" align='center'>
									<div class="padding-x-200">
										{{=it.translation['selectidtype']}}
									</div>
									<div class="padding-x-200 row">
										<div class="column">
											<img src="/images/nation_id_card.png" >
											<div class="checkbutton">
												<label><input type="radio" name="option" id="option1" checked>&nbsp;&nbsp;{{=it.translation['idcard']}}</label>
											</div>
										</div>
										<div class="column">
											<img src="/images/drive_license_card.png" >
											<div class="checkbutton">
												<label><input type="radio" name="option" id="option2">&nbsp;&nbsp;{{=it.translation['passport']}}</label>
											</div>
										</div>
									</div>
								</div>
								<div class="padding-x-200 pb-5 mb-5 border-bottom-info" align = 'center'>
									<button id = "nextstep2" class = "btn btn-success btn-block" style="width: 95%;">{{=it.translation['nextstep']}}</button>
								</div>
								<div class="p-5">
									<span>1.&nbsp&nbsp{{=it.translation['cardmessage1']}}</span><br>
									<span>2.&nbsp&nbsp {{=it.translation['cardmessage2']}}</span><br>
									<span>3.&nbsp&nbsp {{=it.translation['cardmessage3']}}</span><br>
									<span>4.&nbsp&nbsp {{=it.translation['cardmessage4']}}</span><br>
								</div>
							</div>
							<div class="name-toggle3">
								<form action="/uploadIdImages" method="POST"  enctype="multipart/form-data">
									<div class="padding-y-50">
										<div class="padding-x-100 btn" onclick="$('#files1').click()">
											{{=it.translation['uploadIDphoto']}}
										</div>
										<div class="padding-x-100 pd-5 row">
											<div class="border btn w-50"  onclick="$('#files1').click();">
												<img class="w-100" id="output1" src="{{?it.user.idcardimageurl1==null}}/upload/photo_blank_image.jpeg{{??}}{{=it.user.idcardimageurl1}}{{?}}" >
											</div>
											<div class="border btn w-50" onclick="$('#files2').click();">
												<img class="w-100" id="output2" src="{{?it.user.idcardimageurl2==null}}/upload/photo_blank_image.jpeg{{??}}{{=it.user.idcardimageurl2}}{{?}}" >
											</div>
										</div>
										<div class="padding-x-100">
											{{=it.translation['uploadselfiephoto']}}
										</div>
										<div class=" padding-x-100" align="center">
											<div class="border btn w-50" style="height : 30%; width:100% !important;" onclick="$('#files3').click();">
												<img class="w-100 h-100" id="output3" src="{{?it.user.idcardimageurl3==null}}/upload/photo_blank_image.jpeg{{??}}{{=it.user.idcardimageurl3}}{{?}}" >
											</div>
										</div>
									</div>
									<script>
                                        let loadFile1 = function(event) {
                                            let reader = new FileReader();
                                            $('div.alert.alert-danger').css({display : 'none'});
                                            reader.onload = function(){
                                                output1.src = reader.result;

                                            };
                                            reader.readAsDataURL(event.target.files[0]);
                                        };
                                        let loadFile2 = function(event) {
                                            let reader = new FileReader();
                                            $('div.alert.alert-danger').css({display : 'none'});
                                            reader.onload = function(){
                                                output2.src = reader.result;
                                            };
                                            reader.readAsDataURL(event.target.files[0]);
                                        };
                                        let loadFile3 = function(event) {
                                            let reader = new FileReader();
                                            $('div.alert.alert-danger').css({display : 'none'});
                                            reader.onload = function(){
                                                output3.src = reader.result;
                                            };
                                            reader.readAsDataURL(event.target.files[0]);
                                        };
									</script>
									<input type="submit" id="uploads" hidden="true">
									<input onchange="loadFile1(event)" type = "file" id="files1" name="uploadImage1" style="display: none"  value = "{{=it.translation['submit']}}" required>
									<input onchange="loadFile2(event)" type = "file" id="files2" name="uploadImage2" style="display: none"  value = "{{=it.translation['submit']}}" required>
									<input onchange="loadFile3(event)" type = "file" id="files3" name="uploadImage3" style="display: none"  value = "{{=it.translation['submit']}}" required>
								</form>
								<div class="padding-x-200 pb-5 mb-5 ">
									<button id = "nextstep3" class = "btn btn-success btn-block ">{{=it.translation['nextstep']}}</button>
								</div>
								<div class="border-bottom-info px-5"><span class="text-green">{{=it.translation['uploadingmessage']}}</span></div>

								<div class="p-5">
									<span>1.&nbsp&nbsp{{=it.translation['cardmessage1']}}</span><br>
									<span>2.&nbsp&nbsp {{=it.translation['cardmessage2']}}</span><br>
									<span>3.&nbsp&nbsp {{=it.translation['cardmessage3']}}</span><br>
									<span>4.&nbsp&nbsp {{=it.translation['cardmessage4']}}</span><br>
								</div>
							</div>
							<div class="name-toggle4">
								<div class="text-center text-green">{{=it.translation['nameverifyprocessing']}}</div>
								<div class="p-5">
									<span>1.&nbsp&nbsp{{=it.translation['cardmessage1']}}</span><br>
									<span>2.&nbsp&nbsp {{=it.translation['cardmessage2']}}</span><br>
									<span>3.&nbsp&nbsp {{=it.translation['cardmessage3']}}</span><br>
									<span>4.&nbsp&nbsp {{=it.translation['cardmessage4']}}</span><br>
								</div>
							</div>
							<div class="name-toggle5">
								<div class="text-center text-green">{{=it.translation['nameverifysuccess']}}</div>
								<div class="p-5">
									<span>1.&nbsp&nbsp{{=it.translation['cardmessage1']}}</span><br>
									<span>2.&nbsp&nbsp {{=it.translation['cardmessage2']}}</span><br>
									<span>3.&nbsp&nbsp {{=it.translation['cardmessage3']}}</span><br>
									<span>4.&nbsp&nbsp {{=it.translation['cardmessage4']}}</span><br>
								</div>

							</div>
							<div class="name-toggle6">
								<div class="text-center text-green">{{=it.translation['nameverifyfail']}}</div>
								<div class="p-5">
									<span>1.&nbsp&nbsp{{=it.translation['cardmessage1']}}</span><br>
									<span>2.&nbsp&nbsp {{=it.translation['cardmessage2']}}</span><br>
									<span>3.&nbsp&nbsp {{=it.translation['cardmessage3']}}</span><br>
									<span>4.&nbsp&nbsp {{=it.translation['cardmessage4']}}</span><br>
								</div>

							</div>
						</div>
					</div>
    			</div>
    		</div>
    	</div>
	</main>
    <footer>
			<div class = "container footer-intro">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-8 col-lg-8">
						<h5 class = "text-light">
							OTCMODE
						</h5>
						<span class = "text-light">
							{{=it.translation['companyintro']}}
						</span>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h5 class = "text-light">
							{{=it.translation['customerservice']}}
						</h5>
						<ul class = "text-light">
							<li><a href = "/faq">{{=it.translation['faq']}}</a></li>
							<!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
							<li><a href = "/exchangeratio">{{=it.translation['exchangerate']}}</a></li> 
						</ul>
					</div>
					<div class = "col-6 col-sm-6 col-md-2 col-lg-2 text-center">
						<h5 class = "text-light">
							{{=it.translation['customerservice']}}
						</h5>
						<ul class = "text-light">
							<li><a href = "/aboutus">{{=it.translation['aboutus']}}</a></li>
							<li><a href = "/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class = "container footer-info border-top-grey">
				<div class = "row">
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light"><a href = "/termsofservice">{{=it.translation['termsofservice']}}</a>{{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
					</div>
					<div class = "col-12 col-sm-12 col-md-6 col-lg-6">
						<span class = "text-light float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
					</div>
				</div>
			</div>
		</footer>
  </body>
  <script>
		(function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","//assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
		ud({
		    "code": "2b916c16",
		    "link": "https://madabit.udesk.cn/im_client/?web_plugin_id=48770"
		});
	</script>
  <script type = "text/javascript" src = "./dist/js/jquery-3.3.1.js">
  </script>
  <script type = "text/javascript" src = "./dist/js/bootstrap.js">
  </script>
  <script type="text/javascript" src="./dist/js/index1.js"></script>
  <script src = "../dist/js/socket.io.js">
  </script>
  <script src = "../dist/js/client.js">
  </script>
  <script type = "text/javascript" src = "../dist/js/toastr.min.js">
  </script>
  <script type = "text/javascript" src = "../dist/js/ui-toastr.js">
  </script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


 {{?it.isLogged == true}}
  <script type="text/javascript">
		let client = new Client();
        let actual_name;
        let card_number;
        let country;
        let idcardtype;
        let lang;
		function getValue()
		{
            let kind = parseInt($("#kind_select").val());
			if(kind === 1)
			  $("#Available_val").val($("#id_balance_btc").val());
			if(kind === 2)
			  $("#Available_val").val($("#id_balance_eth").val());
			if(kind === 3)
			  $("#Available_val").val($("#id_balance_mdc").val());
		}
		$(document).ready(function()
		{
            client.getMsgInfo();
            setInterval(client.getMsgInfo , 5000);
            lang = $('#lang').val();
		    $(".toggle1").show();
            $(".toggle2").hide();
            $(".toggle3").hide();

            var page_href = window.location.href;
            var tab_href = window.location.href.substring((window.location.origin + window.location.pathname).length);
            if(tab_href != '')
                $("[href='"+tab_href+"']").click();

			$(document).on('click', '.nav-link.space-span', function(){
			    window.location.href =window.location.origin + window.location.pathname + $(this).attr('href');
			});

			$(document).on('click', '#v-pills-modification-tab', function(){
                window.location.href = window.location.origin + window.location.pathname;
			});




            if($('input[name="email_verified"]').val() === "true") {
                $(".email-toggle1").hide();
                $(".email-toggle2").hide();
                $(".email-toggle3").show();
			}
			else {
                $(".email-toggle1").show();
                $(".email-toggle2").hide();
                $(".email-toggle3").hide();
			}

            $(".name-toggle1").show();
            $(".name-toggle2").hide();
            $(".name-toggle3").hide();
            $(".name-toggle4").hide();
            $(".name-toggle5").hide();
            $(".name-toggle6").hide();
            if($('input[name="name_verified"]').val() === "true") {
                $(".name-toggle1").hide();
                $(".name-toggle5").show();
            } else if ($('input[name="name_verify_count"]').val() > 2){
                $(".name-toggle1").hide();
                $(".name-toggle6").show();
			}

            if (lang === 'zh'){
                let langOption = {
                    "language": {
                        "sProcessing":   "处理中...",
                        "sLengthMenu":   "显示 _MENU_ 项结果",
                        "sZeroRecords":  "没有匹配结果",
                        "sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix":  "",
                        "sSearch":       "搜索:",
                        "sUrl":          "",
                        "sEmptyTable":     "表中数据为空",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands":  ",",
                        "oPaginate": {
                            "sFirst":    "首页",
                            "sPrevious": "上页",
                            "sNext":     "下页",
                            "sLast":     "末页"
                        },
                        "oAria": {
                            "sSortAscending":  ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },
                    "pagingType": "full_numbers"
                };
                $('#history').DataTable(langOption);
            } else {
                $('#history').DataTable();
            }
            /*******************Withdraw******************/
			$("#btn_withdraw").click(function (event)
			{
				let param = {};
				param["to_addr"] 	= $("#txt_addr").val();
				param["amount"]  	= $("#amount_val").val();
				param["kind"]    	= $("#kind_select").val();
				param["freemoney"] 	= $("#Available_val").val();
				param["BTCAddr"]    = $("#BTC-addr").val();
				param["ETHAddr"]    = $("#ETH-addr").val();
                param["MDCAddr"]    = $("#MDC-addr").val();

				if(checkAddress(param) === false )
				{
                    showAlert((lang==='en'?"Invalid Address.":"请输入正确的地址。"),'warning');
                    return;
				}
				if(parseFloat(param["freemoney"]) < parseFloat(param["amount"]))
				{
                    showAlert((lang==='en'?"You don't have enough amount for withdrawal.":"您没有足够的金额提取。"),'warning');
				}
				else if (parseFloat(param["amount"]) === 0){
                    showAlert((lang==='en'?"Please insert amount that you want to withdraw.":"请插入您想要提取的金额。"),'warning');
				}
				else if (param["to_addr"] === ""){
                    showAlert((lang==='en'?"Please insert address.":"请插入地址。"),'warning');
				}
				else
				{
					$.post("/withdraw",
					{
						param:param
					},
					function(result)
					{
						if(result.status === 'failed')
						{
							showAlert(result.msg,'error');
						}
						else
						{
                            showAlert('出尽成功了 请检查您的交易好吗:' + result.msg,'success');
						}
					});
				}
				
			});
			/***************Password Change***************/
			$('#change').click(function()
			{

				let user_name =  $('input[name="username"]').val();
				let confirm = $('input[name="confirm"]').val();
                let password = $('input[name="password"]').val();
                let old = $('input[name="old"]').val();

				$(this).attr({disabled : true});
				if(confirm === password)
				{
					if(password !== "")
					{
						$.ajax({
							url : '/changepassword',
							data : {
							    user_name : user_name,
								old : old,
								password : password
							},
							type : 'POST',
							success : function(response)
							{
                                $('#change').attr({disabled : false});
                                if(response.status == 'success')
								{
                                    showAlert((lang==='en'?"Your password is updated.":"您的密码已更新。"),'success');
								}
                                if(response.status == 'failed')
                                {
									if(response.msg === 'WRONG_PASSWORD'){
                                		showAlert((lang==='en'?"wrong password":"密码错误。"),'error');
                                	} else
                                	    showAlert(response.msg,'error');
                                }
							}	
						});
					}
					else
					{
						$('#change').attr({disabled : false});
                        showAlert((lang==='en'?"Enter your password":"输入你的密码。"),'warning');
					}						
				}
				else	
				{
					$(this).attr({disabled : false});
                    showAlert((lang==='en'?"Your password does not match with your confirm password":"您的密码与您的确认密码不符"),'warning');
				}
			});
		});
		$("#resend").click(function () {
            $("#send").click();
        });
		$("#nextstep1").click(function () {
		    actual_name = $('#actual_name').val();
            card_number = $('#cardnumber').val();
			if (actual_name === '' || card_number === ''){
                showAlert((lang==='en'?"You should insert all information":"你应该插入所有信息"),'warning');
			} else {
                $(".name-toggle2").show();
                $(".name-toggle1").hide();
            }
        });
        $("#nextstep2").click(function () {

            country = $('#countries').val();
            idcardtype = "n-card";
            if ($('#option2')[0].checked){
                idcardtype = "d-card";
			}

            $(".name-toggle3").show();
            $(".name-toggle2").hide();

        });
        $("#nextstep3").click(function () {
            if ($('#output1').src === '' || $('#output2').src === '' || $('#output3').src === ''){
                showAlert((lang==='en'?"You should insert all information":"你应该插入所有信息"),'warning');
			} else {

         
                $.ajax({
					url : '/updateIDInfo',
					data : {
					    actual_name : actual_name,
						card_number : card_number,
						country : country,
						idcardtype : idcardtype
					},
					type : 'POST',
					success : function(response){
                        if(response.status === 'success')
                        {
                        	$(".name-toggle4").show();
                			$(".name-toggle3").hide();
                            $('#uploads').click();
                            client.requestVerify();
                        }
                        else
                        {
                        	if(response.msg === 'EXISTED') {
								showAlert((lang==='en'?"This ID card is already used.":"此身份证已被使用。"),'warning');
                        	} else
                            showAlert(response.msg,'error');
                        }
					}
				})
			}


        });
        $("#send").click(function () {
            let email = $("#email").val();
            if( email === "")
			{
                showAlert((lang==='en'?"You should insert all information":"你应该插入所有信息"),'warning');
			} else {
                $(".email-toggle2").show();
                $(".email-toggle1").hide();
                $(".email-toggle3").hide();
                $.ajax({
					url : '/verifyEmail',
					data : {
					    email : email
					},
					type : 'POST',
					success : function(response){
					    if(response.status === 'success'){
                            showAlert((lang==='en'?"We have sent verification link to your email.":"我们已将验证链接发送至您的电子邮件。"),'success');
						}
					    else {

                            showAlert(response.msg,'error');
						}
					}

				})
			}
        });

        $('#manage1').click(function(){
            $(".toggle2").show();
            $(".toggle1").hide();
            $(".toggle3").hide();
		});
        $('#manage2').click(function(){
            $(".toggle3").show();
            $(".toggle1").hide();
            $(".toggle2").hide();
        });
		$('#submit').click(function () {
		    let bank_username = $('input[name="bank_username"]').val();
            let bank_name = $('input[name="accountbank"]').val();
            let bank_branch = $('input[name="accountbranch"]').val();
            let bank_account = $('input[name="bankaccount"]').val();
            let isShowOnOrder = $('input[name="remember1"]')[0].checked;
            if (bank_username === '' || bank_name === '' || bank_account === '' || bank_account === ''){
                showAlert((lang==='en'?"You should insert all information":"你应该插入所有信息"),'warning');
			} else {
                $.ajax({
                    url : '/updateBankInfo',
                    data : {
                        bank_username : bank_username,
                        bank_name : bank_name,
                        bank_branch : bank_branch,
                        bank_account : bank_account,
						isShowOnOrder : isShowOnOrder
                    },
                    type : 'POST',
                    success : function(response)
                    {
                        if(response.status === 'success')
                        {
                            window.location.href = "/wallet" ;

                        }
                        else
                        {
                            showAlert(response.msg,'error');
                        }
                    }
                });
			}
        });
        $('#submit1').click(function () {
            let alipay_username = $('input[name="alipay_name"]').val();
            let alipay_account = $('input[name="accountnumber"]').val();
            let isShowOnOrder = $('input[name="remember2"]')[0].checked;
            if (alipay_username === '' || alipay_account === ''){
                showAlert((lang==='en'?"You should insert all information":"你应该插入所有信息"),'warning');
            } else {
                $.ajax({
                    url : '/updateAlipayInfo',
                    data : {
                        alipay_username : alipay_username,
                        alipay_account : alipay_account,
                        isShowOnOrder : isShowOnOrder
                    },
                    type : 'POST',
                    success : function(response)
                    {
                        if(response.status === 'success')
                        {
                            window.location.href = "/wallet" ;
                        }
                        else
                        {
                            showAlert(response.msg,"error");

                        }
                    }
                });
            }
        });
        /*************Send to admin***********************/
		function sendToAdmin()
		{
			var title = $('input[name="sup_title"]').val();
			var content = $('textarea[name="sup_content"]').val();
			if(title == "")
			{
                showAlert((lang==='en'?"You should insert all information":"你应该插入所有信息"),'warning');
			}
			else
			{
				$.ajax({
					url : '/sendtoadmin',
					type : 'POST',
					data : {
						title : title,
						content : content
					},
					success : function(response)
					{
						showAlert(response.msg,'success');
					}

				});
			}
		}

		function showInfo(msg)
		{
            $('.bg-info').css({display : 'block'});
            $('.bg-info').text(msg);
			setTimeout(function(){
                $('.bg-info').css({display : 'none'});
			} , 5000);
		}
        function requestVerify(tradeId)
        {
            client.verifyPayment(tradeId);
            console.log('requestVerify' , tradeId);
            this.disabled = true;
        }

        function showAlert(str,status)
        {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "10000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "2000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr[status](str);
        }
        $(".modification").keyup(function(event){
            if(event.keyCode === 13 || event.which === 13){
                $('#change').click();
            }
		});
        $(".bank").keyup(function(event){
            if(event.keyCode === 13 || event.which === 13){
                $('#submit').click();
            }
        });
        $(".alipay").keyup(function(event){
            if(event.keyCode === 13 || event.which === 13){
                $('#submit1').click();
            }
        });
        $(".withdrawal").keyup(function(event){
            if(event.keyCode === 13 || event.which === 13){
                $('#btn_withdraw').click();
            }
        });
        $(".nextstep1").keyup(function(event){
            if(event.keyCode === 13 || event.which === 13){
                $('#nextstep1').click();
            }
        });
		function onChangeValue()
	    {
	    	var amount = $("#amount_val").val();
	    	if(parseFloat(amount) < 0)
	    	{
	    		$("#amount_val").val(0);
	    	}
	    	var kind = $("#kind_select").val();
	    	if(kind == 3)
	    	{
	    		var aryAmount = amount.toString().split(".");
	    		var nCount = aryAmount.length;
	    		if(nCount != 1)
	    			$("#amount_val").val(aryAmount[0]);
	    	}
	    }

    	function checkAddress(param) {
            if (param.kind == 1) return check(param.to_addr);
            if (param.kind == 2) return isAddress(param.to_addr);
            var address = param.to_addr;
            if (address.length === 40) return true;
            else return false;
        }

        var isAddress = function (address) {
            address = address.toLowerCase();
            if (!/^(0x)?[0-9a-f]{40}$/i.test(address)) {
                return false;
            }

            return true;
        };

	    $('.form-control.withdrawals').keyup(function(event) {
	        if (event.keyCode === 13) {
	            document.getElementById('btn_withdraw').click();
	        }
	    });

	    $('.form-control.security').keyup(function(event) {
	        if (event.keyCode === 13) {
	            document.getElementById('change').click();
	        }
	    });

    /*$('.form-control.security').on('load', function(event) {
        $('div.alert.alert-danger').css({display: 'none'});
        $('div.alert.alert-danger').html('');
        $('div.alert.alert-info').css({display: 'none'});
        $('div.alert.alert-info').html('');
    });*/

</script>

<script>
	var normalize = (s) => {  
	  let x = String(s) || '';
	  return x.replace(/^[\s\xa0]+|[\s\xa0]+$/g, '');
	};

	var check = (s) => {
	  s = normalize(s);
	  if (s.length < 26 || s.length > 35) {
	    return false;
	  }
	  
	  let re = /^[A-Z0-9]+$/i;
	  if (!re.test(s)) {
	    return false;
	  }
	  
	  return true;
	};


	
  </script>
{{?}}
</html>