<!DOCTYPE>
<html>
	<head>
		<meta charset = "utf8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OTCMODE</title>
		<link rel = "stylesheet" href = "../dist/css/bootstrap.css">
		<link rel = "stylesheet" href = "../dist/css/font-awesome.min.css">
		<link rel = "stylesheet" href = "../dist/css/toastr.min.css">
		<link rel = "stylesheet" href = "./dist/css/intlTelInput.css">

		<link href="../dist/css/custom.css" rel="stylesheet">
		<link href="../dist/css/custom-mobile.css" rel="stylesheet">

		<style>
			/**{
				font-family : simhei;
			}*/

		</style>
		<link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
		<link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
		<link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
	</head>
	<body class = "">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class = "container">
			<a href="/?clang={{=it.translation['langfor']}}"><img src = "./images/mark.png" id = 'id_imgLogo'></a>
			<div style="display: inline-block;">
				{{?it.isLogged == false}}
				<a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 50px; font-size: 12px">{{=it.translation['register']}}</button></a>
				{{?}}
				{{?it.isLogged == true}}
				<a class="nav-link" href="/dashboard"  id="notify" style="display:none;"><img src="/images/notification.png" style="width: 25px"><span class="badge1" data-badge=""></span></a>
				{{?}}
				<a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 50px; font-size: 12px">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>

				<a class="dropdown-toggle mx-2" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>
				</a>
				<div class="dropdown-menu"  style="left: auto;right: 0" aria-labelledby="langdropdown">
					<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
					<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
				</div>
				<button class="dropdown-toggle" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<div class="dropdown-menu bg-light" id="navbarSupportedContent" style="left: auto; right: 0px">
				<ul class="navbar-nav ml-auto">

					<li class="dropdown-item">
						<a class="nav-link" href="/requestTradeSell">{{=it.translation['buysell'] }}</a>
					</li>
					<li class="dropdown-item">
						<a class="nav-link" href="/wallet">{{=it.translation['wallet']}}</a>
					</li>
					<li class="dropdown-item">
						<a class="nav-link" href="/dashboard">{{=it.translation['dashboard']}}</a>
					</li>
				</ul>

			</div>
		</div>
	</nav>
	<input type="text" value="{{=it.translation['langfor']}}" hidden="true" id = "lang">
		<section class = "main-back border-bottom-green">
			<div class = "container">
				{{?it.translation['langfor'] == 'zh'}}
				<h3 class = "color-green">关于我们</h3>
				<ul class = "font-md pl-4">
					<li class = "pt-4 color-green">公司介绍</li>
					<span class = "text-secondary">OTCMODE是一个专注于提供区块链数字资产自由流通的兑换平台。它提供一个点对点的主流数字货币兑换市场，在这里人们可以轻松、安全的购入和卖出比特币。</span><br>
					<span class = "text-secondary">OTC 指的是 Over-the-counter（场外交易）。简单来说，OTC 提供的服务类似于「数字货币淘宝」。使用者可以自由在OTCMODE上展示自己的数字币资产，与世界各地的人进行点对点的法币买卖。</span><br>
					<span class = "text-secondary">OTCMODE在当整个交易环节中充当一个中间人的监督角色，负责进行双方的 KYC ( Know Your Customer) 实名机制，以及数字货币居中保管第三方，确保双方的交易顺利且安全的进行。</span>
					<li class = "pt-4 color-green">团队</li>
					<span class = "text-secondary">我们的团队主要由银行专业人员组成，他们在金融产品、电子货币、支付系统和敏捷软件开发等方面拥有丰富的经验。 </span>
					<li class = "pt-4 color-green">品质服务提供</li>
					<span class = "text-secondary">OTCMODE在确保站上的交易风险，数字资产的安全，以及客服的品质上进行了很大的功夫。我们的商业模式和服务形式就是帮助更多的人能够在便利、安全的环境下参与比特币的购买、销售和交易。相对于市场上的其他兑换中心，OTCMODE提供了一个简单直观的用户操作界面，7/24小时友好的在线客户支持以及低于市面上同类产品的服务费用。 </span>

				</ul>
				{{??}}
				<h3 class = "color-green">About Us</h3>
				<ul class = "font-md pl-4">
					<li class = "pt-4 color-green">Company Profile</li>
					<span class = "text-secondary"> OTCMODE is a redemption platform focused on providing the free circulation of blockchain digital assets. It provides a point-to-point mainstream digital currency exchange market where people can easily and securely buy and sell Bitcoin. </span><br>
					<span class = "text-secondary">OTC refers to Over-the-counter. In simple terms, OTC provides services similar to "digital currency Taobao." Users can freely display their own digital currency assets on OTCMODE and conduct point-to-point legal currency transactions with people around the world. </span><br>
					<span class = "text-secondary">OTCMODE acts as an oversight role for the middleman during the entire trading session. It is responsible for both the KYC (Know Your Customer) real name mechanism and the digital currency centering the third party to ensure smooth transaction between the parties. And proceed safely. </span>
					<li class = "pt-4 color-green">Team</li>
					<span class = "text-secondary"> Our team consists primarily of banking professionals who have extensive experience in financial products, electronic money, payment systems, and agile software development. </span>
					<li class = "pt-4 color-green">Quality Service Offer</li>
					<span class = "text-secondary">OTCMODE has done a lot to ensure the transaction risks on the station, the security of digital assets, and the quality of customer service. Our business model and service form is to help more people to participate in Bitcoin purchases, sales and transactions in a convenient and secure environment. Compared to other exchange centers on the market, OTCMODE provides a simple and intuitive user interface, 7/24 hours of friendly online customer support and lower than the cost of similar products on the market. </span>

				</ul>
				{{?}}
			</div>
		</section>
		<footer>
			<div class = "container footer-intro">
				<div class = "row">
					<div class = "col-5">
						<h6 class = "text-light text-center">
							{{=it.translation['customerservice']}}
						</h6>
						<div class="row">
							<div class="col-6 text-center">
								<ul class = "text-light">
									<li><a href = "/faq?clang={{=it.translation['langfor']}}">{{=it.translation['faq']}}</a></li>
									<!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
									<li><a href = "/exchangeratio?clang={{=it.translation['langfor']}}">{{=it.translation['exchangerate']}}</a></li>
								</ul>
							</div>
							<div class="col-6 text-center">
								<ul class = "text-light">
									<li><a href = "/aboutus?clang={{=it.translation['langfor']}}">{{=it.translation['aboutus']}}</a></li>
									<li><a href = "/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
								</ul>
							</div>
						</div>

					</div>
					<div class = "col-7">
						<h6 class = "text-light">
							OTCMODE
						</h6>
						<span>
					{{=it.translation['companyintro']}}
					</span>
					</div>

				</div>
			</div>
			<div class = "container footer-info border-top-grey">
				<span class = "float-left" ><a href = "/termsofservice?clang={{=it.translation['langfor']}}">{{=it.translation['termsofservice']}}</a> {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
				<span class = "float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
			</div>
		</footer>
	</body>
	<script>
		(function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","//assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
		ud({
		    "code": "2b916c16",
		    "link": "https://madabit.udesk.cn/im_client/?web_plugin_id=48770"
		});
	</script>
	<script type = "text/javascript" src = "/dist/js/jquery-3.3.1.js">
	</script>
	<script type = "text/javascript" src = "/dist/js/bootstrap.js">
	</script>
	<script type="text/javascript" src="/dist/js/index1.js"></script>
	<script src = "/dist/js/socket.io.js">
	</script>
	<script src = "/dist/js/client.js">
	</script>
	<script type = "text/javascript" src = "../dist/js/toastr.min.js">
	</script>
	<script type = "text/javascript" src = "../dist/js/ui-toastr.js">
	</script>
	{{?it.isLogged == true}}
	<script>
		var client = new Client();
        client.getMsgInfo();
        let lang = $('#lang').val();
        setInterval(client.getMsgInfo , 5000);
        function showAlert(str,status)
        {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "10000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "2000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr[status](str);
        }
	</script>
	{{?}}
</html>