<!DOCTYPE>
<html>
	<head>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OTCMODE</title>

		<link rel = "stylesheet" href = "./dist/css/bootstrap.css">
		<link rel = "stylesheet" href = "../dist/css/toastr.min.css">
		<link rel = "stylesheet" href = "./dist/css/intlTelInput.css">

		<link href="../dist/css/custom.css" rel="stylesheet">
		<link href="../dist/css/custom-mobile.css" rel="stylesheet">

		<link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
		<link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
		<link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
		<style>
			.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
				border-top-left-radius: 0.25rem;
				border-bottom-left-radius: 0.25rem;
			}
		</style>

	</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class = "container">
			<a href="/?clang={{=it.translation['langfor']}}"><img src = "./images/mark.png" id = 'id_imgLogo'></a>
			<div style="display: inline-block;">
				<a class="dropdown-toggle mx-2" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>
				</a>
				<div class="dropdown-menu"  style="left: auto;right: 0" aria-labelledby="langdropdown">
					<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
					<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
				</div>
			</div>
		</div>
	</nav>
		<main class = "h_main-back">
			<div class = "container">
				<div class = "h_register-wrapper">
					<div class = "h_register-option-wrapper text-right">
						<a href = "/login">{{=it.translation['login']}}</a>&nbsp;|&nbsp;
						<a href = "/register" class = "active">{{=it.translation['register']}}</a>
					</div>
					
					<div class = "h_register-content-wrapper">
						<div class = "text-center alert alert-danger" role = "alert" style = "display : none">		
						</div>
						<div class = "input-group mb-2">
							<div class = "input-group-prepend login_label">
								<span class = "space-span">{{=it.translation['email']}}</span>
							</div>
							<input type = "email" class = "form-control" name = "email" autocomplete maxlength="100">
							
						</div>
						<div class="mb-4" style="padding-left: 100px;">
							<small>{{=it.translation['email-warning']}}</small>
						</div>

						<input id="id_phone_dial_code" name="phone_dial_code" hidden="true">

				        <div class="input-group mb-4">
				            <div class = "input-group-prepend login_label position-absolute">
								<span class = "space-span2">{{=it.translation['phonenumber']}}</span>
							</div>
							<div class="padding-l-100 w-100">
								<input type="tel" id="phone_number" autocomplete="off" class = "form-control" name="phonenumber" maxlength="100"/>
							</div>
			            </div>
						<!-- <div class = "input-group mb-4">
							<div class = "input-group-prepend">
								<span class = "input-group-text">验 证 码</span>
							</div>
							<input type = "text" class = "form-control" name = "verificationcode">
							<div class = "input-group-prepend">
								<button class = "btn btn-success btn-block" id = "btn_verificationcode">发送验证码</button>
							</div>
						</div> -->
						<div class = "input-group mb-4">
							<div class = "input-group-prepend login_label">
								<span  class = "space-span1">{{=it.translation['username']}}</span>
							</div>
							<input type = "text" class = "form-control" name = "username" maxlength="100">
						</div>
						<div class = "input-group mb-4">
							<div class = "input-group-prepend login_label">
								<span  class = "space-span"	>{{=it.translation['password']}}</span>
							</div> 
							<input type = "password" class = "form-control" name = "password" maxlength="100">
						</div>
						<div class = "input-group mb-4">
							<div class = "input-group-prepend login_label">
								<span  class = "space-span2">{{=it.translation['confirm']}}</span>
							</div>
							<input type = "password" class = "form-control" name = "confirm" maxlength="100">
						</div>
						<button id = "register" class = "btn btn-success btn-block">{{=it.translation['register']}}</button>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class = "container footer-intro">
				<div class = "row">
					<div class = "col-5">
						<h6 class = "text-light text-center">
							{{=it.translation['customerservice']}}
						</h6>
						<div class="row">
							<div class="col-6 text-center">
								<ul class = "text-light">
									<li><a href = "/faq?clang={{=it.translation['langfor']}}">{{=it.translation['faq']}}</a></li>
									<!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
									<li><a href = "/exchangeratio?clang={{=it.translation['langfor']}}">{{=it.translation['exchangerate']}}</a></li>
								</ul>
							</div>
							<div class="col-6 text-center">
								<ul class = "text-light">
									<li><a href = "/aboutus?clang={{=it.translation['langfor']}}">{{=it.translation['aboutus']}}</a></li>
									<li><a href = "/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
								</ul>
							</div>
						</div>

					</div>
					<div class = "col-7">
						<h6 class = "text-light">
							OTCMODE
						</h6>
						<span>
					{{=it.translation['companyintro']}}
					</span>
					</div>

				</div>
			</div>
			<div class = "container footer-info border-top-grey">
				<span class = "float-left" ><a href = "/termsofservice?clang={{=it.translation['langfor']}}">{{=it.translation['termsofservice']}}</a> {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
				<span class = "float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
			</div>
		</footer>
		<script type = "text/javascript" src = "./dist/js/jquery-3.3.1.js">
		</script>
		<script type = "text/javascript" src = "./dist/js/intlTelInput.js">
		</script>
		<script type = "text/javascript" src = "./dist/js/bootstrap.js">
		</script>

		<script type = "text/javascript" src = "../dist/js/toastr.min.js">
		</script>
		<script type = "text/javascript" src = "../dist/js/ui-toastr.js">
		</script>
		<style>
			/**{
				font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			}*/
		</style>
		<script>
			/*For country code....
			*/
            let lang;
            $(document).ready(function () {
                lang = $('#lang').val();
                if(lang==='en'){
                    $('#phone_div').width('59%');
                } else
                    $('#phone_div').width('49%');

            });
            $('.form-control').keyup(function (event) {
                if(event.keyCode === 13 || event.which === 13){
                    $('#register').click();
                }
            });
			$("#phone_number").intlTelInput({
		        initialCountry: "auto",
		        separateDialCode: true,
		        preferredCountries: ['cn','tw'],
		        geoIpLookup: function(callback) {
		            $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
		                let countryCode = (resp && resp.country) ? resp.country : "";
		                callback(countryCode);
		            });
		        }
		    });
		    /*88888888888888888888888888888888888888888888888888888888888888888888888888*/
			$('#register').click(function(){
                let userEmail = $('input[name="email"]').val();
                let userName = $('input[name="username"]').val();
                let strPhoneCode = $(".selected-dial-code").text();
                let phonenumber = $('input[name="phonenumber"]').val();
                let userPassword = $('input[name="password"]').val();
                let confirmPassword = $('input[name="confirm"]').val();

				if(userEmail === "" || userName === "" || userPassword === "" || phonenumber === "")
				{
				    showAlert((lang==='en'?"You should insert all information: ":"您应该插入所有信息："),'warning');
					return;
				}
        		$("#id_phone_dial_code").val(strPhoneCode);
        		let userPhone =  strPhoneCode.substring(1,strPhoneCode.length) + phonenumber;
        		console.log(userPhone);
				/*
				This is used when the player is trying to register from madabit.com
				*/
				if(userPassword === confirmPassword)
				{
					$(this).attr({disabled:true});
					$.ajax({
						url : '/register',
						type : 'POST',
						data : {
							phonecode : strPhoneCode.substring(1),
							username : userName,
							email : userEmail,
							phonenumber : userPhone,
							password : userPassword,
							confirm : confirmPassword
						},
						success : function(response){
							if(response.status !== 'success')
							{
							    console.log( "register error : " + response.msg );
							    if(response.msg === 'ALREADYTAKEN') {
                                    showAlert((lang==='en'?"Your data is already existed.":"您的数据已经存在。"),'warning');
								}

								$('#register').attr({disabled : false});
							}
							else
							{
								window.location.href = "/verifycode/" + response.msg;
							}
						},
					});
				}
				else
				{
                    showAlert((lang==='en'?"Password and confirm password is not matched.":"密码和确认密码不匹配。"),'warning');
				}
				
			});

			$("#back").click(function(event)
			{
				window.location = "/login";
			});
            function showAlert(str,status)
            {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-right",
                    "onclick": null,
                    "showDuration": "10000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "2000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr[status](str);
            }

		</script>
	</body>
</html>