<!DOCTYPE>
<html>
  <head>
    <meta charset = "utf8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>OTCMODE</title>

    <link rel = "stylesheet" href = "./dist/css/bootstrap.css">
    <link rel = "stylesheet" href = "./dist/css/font-awesome.min.css">
    <link rel = "stylesheet" href = "../dist/css/toastr.min.css">

    <link href="../dist/css/custom.css" rel="stylesheet">
    <link href="../dist/css/custom-mobile.css" rel="stylesheet">


    <link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
    <link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
    <link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
    <style>
      /**{
        font-family : simhei;
      }*/
    </style>
  </head>
  <input type="text" value="{{=it.translation['langfor']}}" hidden="true" id = "lang">
  {{##def.format:param:{{=(param.n).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}
  <body class = "">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class = "container">
      <a href="/?clang={{=it.translation['langfor']}}"><img src = "/images/mark.png" id = 'id_imgLogo'></a>
      <div style="display: inline-block;">
        {{?it.isLogged == false}}
        <a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 50px; font-size: 12px">{{=it.translation['register']}}</button></a>
        {{?}}
        {{?it.isLogged == true}}
        <a class="nav-link" href="/dashboard"  id="notify" style="display:none;"><img src="/images/notification.png" style="width: 25px"><span class="badge1" data-badge=""></span></a>
        {{?}}
        <a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 50px; font-size: 12px">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>

        <a class="dropdown-toggle mx-2" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>
        </a>
        <div class="dropdown-menu"  style="left: auto;right: 0" aria-labelledby="langdropdown">
          <a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
          <a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
        </div>
        <button class="dropdown-toggle" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="dropdown-menu bg-light" id="navbarSupportedContent" style="left: auto; right: 0px">
        <ul class="navbar-nav ml-auto">

          <li class="dropdown-item">
            <a class="nav-link" href="/requestTradeSell">{{=it.translation['buysell'] }}</a>
          </li>
          <li class="dropdown-item">
            <a class="nav-link" href="/wallet">{{=it.translation['wallet']}}</a>
          </li>
          <li class="dropdown-item">
            <a class="nav-link" href="/dashboard">{{=it.translation['dashboard']}}</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <div class = "madaex-logo text-center">
    <h1>{{=it.translation['mainstream']}}</h1>
    <h1>{{=it.translation['simple']}}</h1>
  </div>
  <div class = "mid-panel">
    <div class = "container text-center">
      <a href = "/requestTradeSell" {{?it.flag == 1}}class = "text-green px-2"{{??it.flag == 2}}class = "text-grey px-2"{{?}}>{{=it.translation['iamseller']}}</a>
      <a href = "/requestTradeBuy" {{?it.flag == 2}}class = "text-green px-2"{{??it.flag == 1}}class = "text-grey px-2"{{?}}>{{=it.translation['iambuyer']}}</a>
    </div>
  </div>
    <!-- This is for msgs coming -->
    <main>
    </main>
    <!-- This is for msgs coming -->
    <section class = "main-back bg-white">

      <div class = "container">
        <div class = "text-center px-3">
          <img src = "/images/flow-line-{{=it.translation['langfor']}}-1.png" id='id_imgFlowLine'>
        </div>
        <ul class="nav nav-tabs pt-3 font-weight-bold">
          <li class="px-2"><a class="text-grey active show " data-toggle="tab" href="#price">{{?it.flag == 1}}{{=it.translation['highestprice']}}{{??it.flag == 2}}{{=it.translation['lowestprice']}}{{?}}</a></li>
          <li ><a class="text-grey"  data-toggle="tab" href="#credit">{{=it.translation['highestcredit']}}</a></li>
        </ul>

        <div class="tab-content pt-3">
          <div id="price" class="tab-pane fade show active">
            <div class = "table-responsive">
              <table class = "table  text-grey" id="costSortTable">
                <thead>
                <tr class="font-weight-bold">
                  <th>{{=it.translation['nickname']}}
                  </th>
                  <th>{{=it.translation['credit']}}
                  </th>
                  <th>{{=it.translation['paymethod']}}
                  </th>
                  <th>{{=it.translation['translimit']}}
                  </th>
                  <th>{{=it.translation['floatingcost']}}
                  </th>
                  <th>{{=it.translation['operation']}}
                  </th>
                </tr>
                </thead>
                <tbody>
                {{~it.data_cost : dataone : i}}
                <tr>
                  <td class = "user">
                    <img src="{{=dataone['photourl']}}" class="rounded-circle"  style="width : 30px; height : 30px;"><br>
                    <span>{{=dataone['user_name']}}</span>
                  </td>
                  <td class = "text-wrapper">
							<span class = "main">
							{{=it.translation['buysell']}} {{=dataone['trans_count']}}
							</span>
                    <br>
                    <span class = "small">
                        {{=it.translation['degree']}} {{#def.format: {n: dataone['credit']*100, decimals: 2 } }}%
						</span>
                  </td>
                  <td class = "method-wrapper">
                    {{?dataone['payment_method'] == 1}}
                    <span class = "method method-ali"><!--{{=it.translation['alipay']}}--></span>
                    {{??dataone['payment_method'] == 2}}
                    <span class = "method method-bank"><!--{{=it.translation['bank']}}--></span>
                    {{??}}
                    <span class = "method method-pay"><!--{{=it.translation['wechat']}}--></span>
                    {{?}}
                  </td>
                  <td class = "text-wrapper">
						<span class = "main">
							0-{{=dataone['volumn']}}
							{{=dataone['market']}}
						</span>
                  </td>
                  <td class = "text-wrapper">
						<span class = "main">
							{{=dataone['cost']}}
						</span>
                    <br>
                    <span class = "small">
							CNY/{{=dataone['market']}}
						</span>
                  </td>
                  <td>
                    {{?it.flag == 1}}
                    <a href = "/sell/{{=dataone['id']}}"><button class = "btn btn-outline-success btn-sm">{{=it.translation['sellnow']}}</button></a>
                    {{??}}
                    <a href = "/buy/{{=dataone['id']}}"><button class = "btn btn-outline-success btn-sm">{{=it.translation['buynow']}}</button></a>
                    {{?}}
                  </td>
                </tr>
                {{~}}
                </tbody>
              </table>
            </div>
          </div>
          <div id="credit" class="tab-pane fade">
            <div class = "table-responsive">
              <table class = "table text-grey" id="creditSortTable">
                <thead>
                <tr class="font-weight-bold">
                  <th>{{=it.translation['nickname']}}
                  </th>
                  <th>{{=it.translation['credit']}}
                  </th>
                  <th>{{=it.translation['paymethod']}}
                  </th>
                  <th>{{=it.translation['translimit']}}
                  </th>
                  <th>{{=it.translation['floatingcost']}}
                  </th>
                  <th>{{=it.translation['operation']}}
                  </th>
                </tr>
                </thead>
                <tbody>
                {{~it.data_credit : dataone : i}}
                <tr>
                  <td class = "user">
                    <img src="{{=dataone['photourl']}}" class="rounded-circle"  style="width : 30px; height : 30px;"><br>
                    {{=dataone['user_name']}}
                  </td>
                  <td class = "text-wrapper">
							<span class = "main">
							{{=it.translation['buysell']}} {{=dataone['trans_count']}}
							</span>
                    <br>
                    <span class = "small">
                        {{=it.translation['degree']}} {{#def.format: {n: dataone['credit']*100, decimals: 2 } }}%

                    </span>
                  </td>
                  <td class = "method-wrapper">
                    {{?dataone['payment_method'] == 1}}
                    <span class = "method method-ali"><!--{{=it.translation['alipay']}}--></span>
                    {{??dataone['payment_method'] == 2}}
                    <span class = "method method-bank"><!--{{=it.translation['bank']}}--></span>
                    {{??}}
                    <span class = "method method-pay"><!--{{=it.translation['wechat']}}--></span>
                    {{?}}
                  </td>
                  <td class = "text-wrapper">
						<span class = "main">
							0-{{=dataone['volumn']}}
							{{=dataone['market']}}
						</span>
                  </td>
                  <td class = "text-wrapper">
						<span class = "main">
							{{=dataone['cost']}}
						</span>
                    <br>
                    <span class = "small">
							CNY/{{=dataone['market']}}
						</span>
                  </td>
                  <td>
                    {{?it.flag == 1}}
                    <a href = "/sell/{{=dataone['id']}}"><button class = "btn btn-outline-success btn-sm">{{=it.translation['sellnow']}}</button></a>
                    {{??}}
                    <a href = "/buy/{{=dataone['id']}}"><button class = "btn btn-outline-success btn-sm">{{=it.translation['buynow']}}</button></a>
                    {{?}}
                  </td>
                </tr>
                {{~}}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </section>
  <footer>
    <div class = "container footer-intro">
      <div class = "row">
        <div class = "col-5">
          <h6 class = "text-light text-center">
            {{=it.translation['customerservice']}}
          </h6>
          <div class="row">
            <div class="col-6 text-center">
              <ul class = "text-light">
                <li><a href = "/faq?clang={{=it.translation['langfor']}}">{{=it.translation['faq']}}</a></li>
                <!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
                <li><a href = "/exchangeratio?clang={{=it.translation['langfor']}}">{{=it.translation['exchangerate']}}</a></li>
              </ul>
            </div>
            <div class="col-6 text-center">
              <ul class = "text-light">
                <li><a href = "/aboutus?clang={{=it.translation['langfor']}}">{{=it.translation['aboutus']}}</a></li>
                <li><a href = "/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
              </ul>
            </div>
          </div>

        </div>
        <div class = "col-7">
          <h6 class = "text-light">
            OTCMODE
          </h6>
          <span>
				{{=it.translation['companyintro']}}
				</span>
        </div>

      </div>
    </div>
    <div class = "container footer-info border-top-grey">
      <span class = "float-left" ><a href = "/termsofservice?clang={{=it.translation['langfor']}}">{{=it.translation['termsofservice']}}</a> {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
      <span class = "float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
    </div>
  </footer>
  </body>
  <script>
      (function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","//assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
      ud({
          "code": "2b916c16",
          "link": "https://madabit.udesk.cn/im_client/?web_plugin_id=48770"
      });
    </script>
  <script type = "text/javascript" src = "/dist/js/jquery-3.3.1.js">
  </script>
  <script type = "text/javascript" src = "/dist/js/bootstrap.js">
  </script>
  <script type="text/javascript" src="/dist/js/index1.js"></script>
  <script src = "../dist/js/socket.io.js">
  </script>
  <script src = "../dist/js/client.js">
  </script>
  <script type = "text/javascript" src = "../dist/js/toastr.min.js">
  </script>
  <script type = "text/javascript" src = "../dist/js/ui-toastr.js">
  </script>
  {{?it.isLogged == true}}
  <script>
    var client = new Client();
    let lang = $('#lang').val();
    $(document).ready(function()
    {
        client.getMsgInfo();
        setInterval(client.getMsgInfo , 5000);
        console.log(lang);

        if (lang === 'zh'){
            let langOption = {
                "language": {
                    "sProcessing":   "处理中...",
                    "sLengthMenu":   "显示 _MENU_ 项结果",
                    "sZeroRecords":  "没有匹配结果",
                    "sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix":  "",
                    "sSearch":       "搜索:",
                    "sUrl":          "",
                    "sEmptyTable":     "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands":  ",",
                    "oPaginate": {
                        "sFirst":    "首页",
                        "sPrevious": "上页",
                        "sNext":     "下页",
                        "sLast":     "末页"
                    },
                    "oAria": {
                        "sSortAscending":  ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "pagingType": "full_numbers"
            };
            $('#costSortTable').DataTable(langOption);
            $('#creditSortTable').DataTable(langOption);

        } else {
            $('#creditSortTable').DataTable();
            $('#costSortTable').DataTable();
        }
    });
    function showAlert(str,status)
    {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "10000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "2000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr[status](str);
    }
  </script>
  {{?}}

</html>