<!DOCTYPE>
<html>
	<head>
		<meta charset = "utf8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OTCMODE</title>

		<link rel = "stylesheet" href = "../dist/css/bootstrap.css">
		<link rel = "stylesheet" href = "../dist/css/font-awesome.min.css">
		<link rel = "stylesheet" href = "./dist/css/intlTelInput.css">

		<link href="../dist/css/custom.css" rel="stylesheet">
		<link href="../dist/css/custom-mobile.css" rel="stylesheet">

		<link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
		<link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
		<link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
		<style>
			/**{
				font-family : simhei;
			}*/

		</style>
	</head>
	<body class = "">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class = "container">
			<a href="/?clang={{=it.translation['langfor']}}"><img src = "./images/mark.png" id = 'id_imgLogo'></a>
			<div style="display: inline-block;">
				{{?it.isLogged == false}}
				<a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 50px; font-size: 12px">{{=it.translation['register']}}</button></a>
				{{?}}
				{{?it.isLogged == true}}
				<a class="nav-link" href="/dashboard"  id="notify" style="display:none;"><img src="/images/notification.png" style="width: 25px"><span class="badge1" data-badge=""></span></a>
				{{?}}
				<a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 50px; font-size: 12px">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>

				<a class="dropdown-toggle mx-2" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>
				</a>
				<div class="dropdown-menu"  style="left: auto;right: 0" aria-labelledby="langdropdown">
					<a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
					<a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
				</div>
				<button class="dropdown-toggle" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<div class="dropdown-menu bg-light" id="navbarSupportedContent" style="left: auto; right: 0px">
				<ul class="navbar-nav ml-auto">

					<li class="dropdown-item">
						<a class="nav-link" href="/requestTradeSell">{{=it.translation['buysell'] }}</a>
					</li>
					<li class="dropdown-item">
						<a class="nav-link" href="/wallet">{{=it.translation['wallet']}}</a>
					</li>
					<li class="dropdown-item">
						<a class="nav-link" href="/dashboard">{{=it.translation['dashboard']}}</a>
					</li>
				</ul>

			</div>
		</div>
	</nav>
	<input type="text" value="{{=it.translation['langfor']}}" hidden="true" id = "lang">
	<section class = "main-back border-bottom-green">
		<div class = "container">
			{{?it.translation['langfor']=='zh'}}

			<h3 class = "color-green font-weight-bold">服务条款</h3>
			<ul class = "font-md pl-4">
				<li class = "pt-4 color-green">使用者条款</li>
				<span class = "text-secondary">当您于OTCMODE网站注册或使用本网站服务，即表示您已阅读、谅解、同意并遵循下列使用者条款。OTCMODE保有不定期更新，修改与补充使用者条款的权利。在注册或使用本网站的任何服务之前，您应仔细阅读整个使用条款。如果您不能接受本协议中规定的使用条款和条件，请勿访问本网站，也不要使用本服务。</span><br>
				<span class = "text-secondary">在注册帐户以及使用本网站服务之前，您应该明确声明并保证：</span><br>
				<span class = "text-secondary">&nbsp; 1.您已接受这些条款;</span><br>
				<span class = "text-secondary">&nbsp; 2.您至少年满18岁，并有充分的能力来接受这些条款并进入涉及的相关交易。</span>

				<li class = "pt-4 color-green">风险提示</li>
				<span class = "text-secondary">&nbsp; 1.购买、出售或交易市场上的任何东西而产生损失的内在风险。</span><br>
				<span class = "text-secondary">虚拟货币的交易涉及重大风险且价格波动巨大。由于价格波动，您可能会在任何特定时刻增加或损失资产价值，甚至因为巨大的价值波动，资产面临归零的风险。</span><br>
				<span class="text-secondary">&nbsp; 2.比特币为代表的数字货币的特殊风险。</span><br>
				<span class="text-secondary">与大多数由政府或其他法律实体支持的货币或诸如黄金、白银等商品不同，比特币是一种独特的货币，以技术和信任为后盾。没有哪家央行可以采取措施来保护比特币在危机中的价值或者发行更多货币。相反，比特币是一个尚未完全自治且基本上不受监管的全球货币公司和个人系统。交易员们信赖数字化，区中心化和匿名性的系统，依靠对等网络和密码技术来保持其完整性。比特币交易可能会受到非理性（或理性）泡沫或信心丧失的影响，这可能会导致需求相对于供应量下降。例如，由于软件开发人员或其他人发生的意外变化，政府的镇压，创建出众的竞争替代货币或通货紧缩或通货膨胀螺旋，比特币的信心可能会崩溃。由于技术问题，信心也可能会崩溃：如果系统的匿名性受到损害，资金丢失或被盗，或者黑客或政府能够阻止任何交易的进行。</span><br>
				<span class="text-secondary">&nbsp; 3.我们未在使用条款中预见或确定的额外风险。</span><br>
				<span class="text-secondary">您应仔细评估您的财务状况和风险承受能力是否适合购买，出售或交易比特币。</span><br>
				<span class="text-secondary">我们使用我们的银行提供商来接收客户款项并进行付款。我们的银行提供商不得转让比特币，兑换比特币或提供与比特币有关的任何服务。
有限使用权
除非另有说明，否则本网站上的所有资料均为OTCMODE的财产，并受版权、商标和其他适用法律的保护。只要您保留完整的版权和其他所有权声明，您可以在任何一台计算机上查看，打印和/或下载本网站的材料副本，仅用于您的个人，而非商业用途。
您还有责任维护您的账户信息的机密性，包括您的账户名和密码，保护您自己的比特币以及所有活动，包括发布到您账户的交易。如果您的账户存在可疑活动，我们可能（但没有义务）要求您提供更多信息，包括验证文件，并冻结任何等待审核的交易。您有义务遵守这些安全要求，或接受终止您的账户。您需要立即通知OTCMODE任何未经授权使用您的账户或密码等其他违规操作行为。任何会员违反这些规定可能会被终止，并随后承担或本网站任何用户所遭受的损失。</span><br>
				<span class="text-secondary">最后，您同意您不会使用本服务进行任何形式的犯罪活动，包括但不限于洗钱，非法赌博活动，恐怖分子融资或恶意黑客行为。我们将向执法机构报告所有的犯罪活动。</span><br><br>
				<li class = "pt-4 color-green">协议终止</li>
				<span class = "text-secondary">在解决任何未决交易后，您可以随时与OTCMODE终止本协议，并随时关闭您的账户。您也同意OTCMODE可以通过发出通知，自行决定终止您访问本网站和您的账户，包括但不限于我们有权：限制，暂停或终止服务和客户账户，禁止访问本网站及其内容，服务和工具，延迟或删除托管内容，并采取技术和法律措施，防止客户离开本网站，如果我们认为它们侵犯法律法规、第三方的知识产权，或与本条款的文字或精神行为不一致。此外，我们可以在适当情况下根据我们的判断，以任何理由暂停或终止客户账户，包括但不限于：</span><br>
				<span class="text-secondary">·（1）试图未经授权访问本网站其他会员的账户，或向其他人“试图这样做”提供帮助。</span><br>
				<span class="text-secondary">·（2）克服限制使用或保护任何内容的软件安全功能。</span><br>
				<span class="text-secondary">·（3）使用本服务进行洗钱，非法赌博，资助恐怖主义或其他犯罪活动等非法活动。</span><br>
				<span class="text-secondary">·（4）违反以上使用条款。</span><br>
				<span class="text-secondary">·（5）交易未付款或欺诈性付款。</span><br>
				<span class="text-secondary">·（6）意外的操作困难。</span><br>
				<span class="text-secondary">·（7）在执法机构或其他政府机构的要求下，如果被OTCMODE视为合法和强制执行，则全权酌情处理。</span><br>
				<span class="text-secondary">·（8）使用任何工具或软件隐藏身份或交易异常。</span><br>
				<span class="text-secondary">账户的暂停不应影响过去交易应付佣金的付款。客户终止后，应通知有效的银行账户，以允许转账记入其账户的任何货币。所述银行账户应由客户持有。比特币只有在兑换成货币后才能转移到有效的银行账户。OTCMODE将按照OTCMODE规定的时限，按照会员的要求尽快转移货币。
所有服务均不提供任何形式的担保，无论是明示还是暗示。7/24小时客户服务不代表本网站将在100％的时间内满足您的需求。我们将努力尽快为您提供服务，但不保证访问不会中断，也不保证传输的信息不会延迟，失败，错误，遗漏或丢失。</span><br>
				<span class="text-secondary">我们将尽可能努力确保您可以按照这些使用条款正常访问本网站。我们可能会暂停使用本网站进行维护，并将尽快通知到您。</span><br><br>
				<li class = "pt-4 color-green">外部网站</li>
				<span class="text-secondary">MyOtc对您通过本网站访问的任何其他网站不作任何陈述。本网站可能提供对其他网站或我们无法控制的资源的链接或其他形式的引用。在这种情况下，您承认OTCMODE仅为方便而提供这些链接或参考。OTCMODE对第三方网站的可用性和内容不负责任。请您在使用前查看其他网站发布的有关隐私和其他主题的政策。OTCMODE不对通过本网站访问的第三方内容负责，包括意见，建议，声明，价格，活动和广告，您应承担与使用此类内容相关的所有风险。</span><br>
				<span class="text-secondary">电子邮件</span><br>
				<span class="text-secondary">通过互联网发送的电子邮件不安全，OTCMODE不负责因在互联网上发送电子邮件而导致的任何损害。我们建议以加密格式发送电子邮件; 欢迎您向我们发送PGP加密电子邮件，可以根据要求提供说明和钥匙。</span><br><br>
				<li class = "pt-4 color-green">责任限制</li>
				<span class="text-secondary">在法律允许的范围内，OTCMODE将不承担任何损害，利润损失，收入损失，业务损失，机会损失，数据丢失，间接或间接损失的责任，除非因疏忽或故意引起的损失欺骗或欺诈。这些条款中的任何内容都不排除或限制任何一方因其疏忽而造成的欺诈，死亡或人身伤害的责任，违反法律规定所隐含的条款，或者任何其他法律不允许限制或排除的责任。</span><br>
				<span class="text-secondary">除上述规定外，任何客户使用网站或服务（无论是在合同还是侵权行为或其他情况下）产生的或与之相关的事件，OTCMODE的总赔偿责任在任何情况下，不得超过以下两项中的较大者：（a）提出索赔的成员账户所持有的总额减去可能就该账户到期应付的佣金数额; （b）作为索偿主体的交易总额减去可能就该项交易应付的佣金数额。</span><br><br>
				<li class = "pt-4 color-green">责任限制</li>
				<span class="text-secondary">冻结账户</span><br>
				<span class="text-secondary">在符合条件时，我们有权阻止或冻结客户的账户：政府当局依法要求; 在客户账户的资金中或应汇款服务供应商的要求发现错误; 涉嫌欺诈活动或违法行为; 来自其他用户关于交易的通知。</span><br>
				<span class="text-secondary">所有涉及欺诈，违法行为或无法澄清可疑活动的账户资金将全部扣押。该资金将用于直接赔偿受害者。如果收集的金额少于所有受害者的金额，则所有金钱将以损害率分配给受害者。</span><br><br>
				<li class = "pt-4 color-green">赔款</li>
				<span class="text-secondary">在法律允许的范围内，您特此同意赔偿OTCMODE及其合作伙伴因使用OTCMODE直接或间接引起的任何行为，责任，成本，索赔，损失，损害，诉讼或费用，您的网站，您对服务的使用，或违反这些使用条款的行为。</span><br>
				<span class="text-secondary">如果由于我们无法控制的因素（包括但不限于不可抗力事件），法律变更或制裁政策变更，我们无法执行使用条款中列出的服务，我们将不会对您承担任何责任。根据本协议提供的服务以及与该事件一致的时间段。</span><br><br>
				<li class = "pt-4 color-green">条款的修改</li>
				<span class="text-secondary">OTCMODE保留随时自行决定更改，增加或删除部分条款的权利。您将通过您的账户预先通知您有任何更改。在收到此类通知后，您有责任查看修订后的条款。您在发布条款变更通知后继续使用本网站即表示您接受并同意这些变更，并且您所进行的所有后续交易都将受到修订条款的约束。</span><br><br>
				<li class = "pt-4 color-green">条款的修改</li>
				<span class="text-secondary">定义</span><br>
				<span class="text-secondary">比特币：一种点对点、去中心化的数字资产。</span><br>
				<span class="text-secondary">买方：指通过本服务提供比特币报价的客户。</span><br>
				<span class="text-secondary">佣金：指在每次交易中支付给OTCMODE的费用，例如比特币购买交易。</span><br>
				<span class="text-secondary">客户：指买家和卖家以及账户的持有人。</span><br>
				<span class="text-secondary">价格：指客户愿意购买或出售比特币的“每个数字资产的价格”，在比特币购买交易中使用该服务。价格可以以客户存入其账户并由本服务支持的任何货币表示。</span><br>
				<span class="text-secondary">卖家：表示通过服务销售比特币的客户。</span><br>
				<span class="text-secondary">服务：指由MyOtc有限公司管理的技术平台，功能规则和市场，允许卖方和买方进行比特币的购买和销售交易。</span><br>
				<span class="text-secondary">交易：（i）指买方与卖方之间达成以通常商定的比率通过服务兑换比特币的交易协议（“比特币购买交易”）;（ii）将法币兑换成客户存入其账户的比特币（“转换交易”），（iii）客户之间比特币的转移（“比特币转移交易”），（iv）客户间货币转移（“货币转移交易”）和（v）购买辅助产品“购买交易”）。OTCMODE目前或在所有地方都可能不提供所有这些类型的交易。</span><br>
				<span class="text-secondary">交易价格：指买方通过本服务进行的每项交易支付的总价。</span><br>
				<li class = "pt-4 color-green"> 联系我们</li>
				<span class="text-secondary">如果您对上述使用者条款或平台提供的服务有任何疑问或意见，您的账户或任何其他事宜引起的您的权利和义务受到损害，请联系我们。</span><br>

			</ul>
			{{??}}
			<h3 class = "color-green font-weight-bold">Terms of Service</h3>
			<ul class = "font-md pl-4">
				<li class = "pt-4 color-green">User Terms</li>
				<span class = "text-secondary"> When you register on the OTCMODE website or use this website service, you have read, understood, agreed to, and adhered to the following user terms. OTCMODE reserves the right to update and supplement user terms from time to time. You should read the entire Terms of Use carefully before registering or using any of the services on this site. If you cannot accept the terms and conditions of use specified in this agreement, please do not visit this website and do not use this service. </span><br>
				<span class = "text-secondary"> Before signing up for an account and using this website service, you should clearly state and warrant:</span><br>
				<span class = "text-secondary">&nbsp; 1.You have accepted these terms;</span><br>
				<span class = "text-secondary">&nbsp; 2. You are at least 18 years of age and have the ability to accept these terms and enter the relevant transactions involved. </span>

				<li class = "pt-4 color-green">Risk Alert</li>
				<span class = "text-secondary">&nbsp; 1. The inherent risk of loss arising from the purchase, sale, or sale of anything on the market. </span><br>
				<span class = "text-secondary"> Transactions in virtual currencies involve major risks and prices are volatile. Due to price fluctuations, you may increase or lose the value of your assets at any given moment. Even with great fluctuations in value, your assets are at risk of returning to zero. </span><br>
				<span class="text-secondary">&nbsp; 2. The special risk of digital currency represented by Bitcoin. </span><br>
				<span class="text-secondary">Unlike other currencies supported by governments or other legal entities or commodities such as gold and silver, Bitcoin is a unique currency backed by technology and trust. No central bank can take steps to protect Bitcoin’s value in crisis or issue more currencies. In contrast, Bitcoin is a global currency company and personal system that is not yet fully autonomous and largely unregulated. Traders rely on systems that are digital, district-centric and anonymity, and rely on peer-to-peer networking and cryptographic techniques to maintain their integrity. Bitcoin transactions may be affected by irrational (or rational) bubble or loss of confidence, which may cause demand to decline relative to supply. For example, Bitcoin's confidence may collapse due to unexpected changes made by software developers or others, government repression, creation of a superior competitive alternative currency or deflation or spiral of inflation. Due to technical issues, confidence may also collapse: if the anonymity of the system is compromised, funds are lost or stolen, or hackers or the government can prevent any transaction from proceeding. </span><br>
				<span class="text-secondary">&nbsp; 3. We have not foreseen or determined additional risks in the Terms of Use. </span><br>
				<span class="text-secondary">You should carefully evaluate whether your financial condition and risk tolerance are suitable for buying, selling or trading Bitcoin. </span><br>
				<span class="text-secondary">We use our bank provider to receive customer payments and make payments. Our bank provider may not transfer Bitcoins, exchange Bitcoins or provide any services related to Bitcoin.
Limited use rights
Unless otherwise stated, all materials on this site are the property of OTCMODE and are protected by copyright, trademark and other applicable laws. As long as you retain the full copyright and other proprietary notices, you may view, print and/or download copies of material from this site on any computer for your personal, non-commercial use only.
You are also responsible for maintaining the confidentiality of your account information, including your account name and password, protecting your own Bitcoin and all activities, including those posted to your account. If there are suspicious activities in your account, we may (but are not obliged to) ask you for more information, including verification documents, and freeze any pending transactions. You are obliged to comply with these security requirements or accept termination of your account. You need to immediately notify OTCMODE of any unauthorized use of your account or password. Any member who violates these regulations may be terminated and subsequently bear any loss suffered by any user of this site. </span><br>
				<span class="text-secondary">Finally, you agree that you will not use the service for any form of criminal activity, including but not limited to money laundering, illegal gambling, terrorist financing or malicious hacking. We will report all criminal activities to law enforcement agencies. </span><br><br>
				<li class = "pt-4 color-green">Agreement is terminated</li>
				<span class = "text-secondary"> After resolving any pending transactions, you may terminate this Agreement with OTCMODE at any time and close your account at any time. You also agree that OTCMODE may, at its sole discretion, terminate your visit to the Website and your account by giving notice, including but not limited to our right to: limit, suspend or terminate services and customer accounts, and prohibit access to this Site and its content, services and tools. , Delay or remove hosted content, and take technical and legal measures to prevent customers from leaving this site if we believe they violate laws and regulations, third-party intellectual property rights, or inconsistent with the letter or spirit of this article. In addition, we may, at our discretion, suspend or terminate customer accounts for any reason, including but not limited to:</span><br>
				<span class="text-secondary"> (1) Trying to gain unauthorized access to the accounts of other members of this site, or providing assistance to others "attempting to do so." </span><br>
				<span class="text-secondary"> (2) Overcoming software security features that limit the use or protection of any content. </span><br>
				<span class="text-secondary"> (3) Use of the service for money laundering, illegal gambling, financing of terrorism or other criminal activities and other illegal activities. </span><br>
				<span class="text-secondary">(4) violates the above terms of use. </span><br>
				<span class="text-secondary">(5) Unpaid transactions or fraudulent payments. </span><br>
				<span class="text-secondary"> (6) Unexpected operation difficulties. </span><br>
				<span class="text-secondary">(7) At the request of a law enforcement agency or other governmental agency, if it is deemed lawful and enforceable by OTCMODE, it is in its sole discretion. </span><br>
				<span class="text-secondary">(8) Use any tool or software to hide identity or transaction anomalies. </span><br>
				The suspension of the <span class="text-secondary"> account should not affect the payment of commissions payable in past transactions. After the customer terminates, it shall notify a valid bank account to allow transfer of money into any currency of its account. The bank account should be held by the customer. Bitcoin can only be transferred to a valid bank account after being converted into currency. OTCMODE will transfer the currency as soon as possible according to the time requirements specified by the OTCMODE.
All services do not provide any form of guarantee, either express or implied. 7/24-hour customer service does not mean that this site will meet your needs within 100% of the time. We will work hard to provide you with services as soon as possible, but we do not guarantee that the visit will not be interrupted, nor will we guarantee that the transmitted information will not be delayed, failed, mistaken, missing or lost. </span><br>
				<span class="text-secondary">We will try our best to ensure that you can access this site in accordance with these terms of use. We may suspend the use of this site for maintenance and will notify you as soon as possible. </span><br><br>
				<li class = "pt-4 color-green">External website</li>
				<span class="text-secondary">MyOtc makes no representations about any other websites you visit through this site. This site may provide links or other forms of references to other sites or resources beyond our control. In this case, you acknowledge that OTCMODE provides these links or references for convenience only. OTCMODE is not responsible for the availability and content of third-party websites. Please check the privacy and other topics posted on other websites before using. OTCMODE is not responsible for third-party content accessed through this site, including opinions, advice, statements, prices, activities, and advertisements. You assume all risks associated with the use of such content. </span><br>
				<span class="text-secondary">Email</span><br>
				<span class="text-secondary">E-mail sent over the Internet is not secure, and OTCMODE is not responsible for any damage caused by sending e-mail on the Internet. We recommend sending emails in an encrypted format; you are welcome to send us a PGP encrypted email with instructions and keys on request. </span><br><br>
				<li class = "pt-4 color-green">Liability limitation</li>
				<span class="text-secondary"> To the extent permitted by law, OTCMODE will not be liable for any damage, loss of profits, loss of income, loss of business, loss of opportunity, loss of data, indirect or consequential damages, unless due to negligence or Deliberate loss of fraud or fraud. Nothing in these Terms shall exclude or limit liability for fraud, death or personal injury caused by any party's negligence, violate the provisions of the law, or restrict the exclusion or exclusion of any other law. </span><br>
				<span class="text-secondary">In addition to the foregoing, OTCMODE's total liability shall be in the event of any incident or use of a website or service (whether under contract or tort or otherwise) by any client. Under the circumstances, the larger of the following two items shall not be exceeded: (a) The total amount held by the member's account in which the claim is made less the amount of commission that may be due on the account; (b) The total amount of the transaction as the subject of the claim minus Go to the amount of commission that may be payable for the transaction. </span><br><br>
				<li class = "pt-4 color-green">Liability limitation</li>
				<span class="text-secondary">Freeze Account</span><br>
				<span class="text-secondary">When we meet the conditions, we have the right to block or freeze the customer's account: Government authorities require by law; found errors in the funds of the customer's account or at the request of the remittance service provider; suspected fraudulent activities Or illegal actions; notifications from other users about the transaction. </span><br>
				<span class="text-secondary">All account funds involved in fraud, illegal activities, or inability to clarify suspicious activity will be seized. The funds will be used to directly compensate the victims. If the amount collected is less than the amount of all victims, then all the money will be distributed to the victim with the damage rate. </span><br><br>
				<li class = "pt-4 color-green">Indemnity</li>
				<span class="text-secondary"> To the extent permitted by law, you hereby agree to indemnify OTCMODE and its partners for any actions, liabilities, costs, claims, losses, damages, lawsuits or costs arising directly or indirectly from the use of OTCMODE. , your site, your use of the service, or the violation of these terms of use. </span><br>
				<span class="text-secondary">If we are unable to control factors (including but not limited to force majeure events), changes to the law or changes to the sanctions policy, we cannot implement the services listed in the Terms of Use and we will not Take any responsibility. The service provided according to this agreement and the time period consistent with the event. </span><br><br>
				<li class = "pt-4 color-green">Modification of Terms</li>
				<span class="text-secondary"> OTCMODE reserves the right at any time to change, add or delete certain terms. You will be informed in advance by your account of any changes. Upon receipt of such notice, it is your responsibility to review the revised terms. Your continued use of this site after posting a change of terms notice that you accept and agree to these changes and that all subsequent transactions you make will be subject to the revised terms. </span><br><br>
				<li class = "pt-4 color-green">Modification of Terms</li>
				<span class="text-secondary">Define</span><br>
				<span class="text-secondary"> Bitcoin: A peer-to-peer, decentralized digital asset. </span><br>
				<span class="text-secondary">Buyer: Refers to customers who offer Bitcoin quotes through this service. </span><br>
				<span class="text-secondary">Commission: The cost paid to OTCMODE in each transaction, such as a Bitcoin purchase transaction. </span><br>
				<span class="text-secondary">Customer: Refers to the buyer and seller and the holder of the account. </span><br>
				<span class="text-secondary">Price: The "price of each digital asset" that the customer is willing to buy or sell Bitcoin and use it in Bitcoin purchase transactions. The price can be expressed in any currency that the customer deposits into their account and is supported by the service. </span><br>
				<span class="text-secondary">Seller: A customer who sells Bitcoins through the service. </span><br>
				<span class="text-secondary">Services: Refers to the technology platform, functional rules, and markets managed by MyOtc Ltd., allowing sellers and buyers to perform bitcoin purchases and sales transactions. </span><br>
				<span class="text-secondary">Transaction: (i) means a transaction agreement ("Bitcoin purchase transaction") between the buyer and the seller to exchange Bitcoin through the service at a generally agreed rate; (ii) convert the currency Bitcoin (“Conversion Transaction”) into a customer’s account, (iii) Bitcoin transfer between customers (“Bitcoin Transfer Transaction”), (iv) Money transfer between customers (“Currency Transfer Transaction”) and (v) Purchase of ancillary products "purchase transactions"). OTCMODE may not provide all these types of transactions at present or in all locations. </span><br>
				<span class="text-secondary">Transaction Price: The total price paid for each transaction made by the buyer through this service. </span><br>
				<li class = "pt-4 color-green"> Contact Us</li>
				<span class="text-secondary">If you have any questions or comments regarding the user terms or services provided by the platform above, your rights and obligations arising from your account or any other matter have been compromised, please contact us. </span><br>

			</ul>
			{{?}}
		</div>
	</section>
	<footer>
		<div class = "container footer-intro">
			<div class = "row">
				<div class = "col-5">
					<h6 class = "text-light text-center">
						{{=it.translation['customerservice']}}
					</h6>
					<div class="row">
						<div class="col-6 text-center">
							<ul class = "text-light">
								<li><a href = "/faq?clang={{=it.translation['langfor']}}">{{=it.translation['faq']}}</a></li>
								<!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
								<li><a href = "/exchangeratio?clang={{=it.translation['langfor']}}">{{=it.translation['exchangerate']}}</a></li>
							</ul>
						</div>
						<div class="col-6 text-center">
							<ul class = "text-light">
								<li><a href = "/aboutus?clang={{=it.translation['langfor']}}">{{=it.translation['aboutus']}}</a></li>
								<li><a href = "/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
							</ul>
						</div>
					</div>

				</div>
				<div class = "col-7">
					<h6 class = "text-light">
						OTCMODE
					</h6>
					<span>
					{{=it.translation['companyintro']}}
					</span>
				</div>

			</div>
		</div>
		<div class = "container footer-info border-top-grey">
			<span class = "float-left" ><a href = "/termsofservice?clang={{=it.translation['langfor']}}">{{=it.translation['termsofservice']}}</a> {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
			<span class = "float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
		</div>
	</footer>
	</body>
	<script>
			(function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","//assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
			ud({
			    "code": "2b916c16",
			    "link": "https://madabit.udesk.cn/im_client/?web_plugin_id=48770"
			});
		</script>
	<script type = "text/javascript" src = "/dist/js/jquery-3.3.1.js">
	</script>
	<script type = "text/javascript" src = "/dist/js/bootstrap.js">
	</script>
	<script type="text/javascript" src="/dist/js/index1.js"></script>
	<script src = "/dist/js/socket.io.js">
	</script>
	<script src = "/dist/js/client.js">
	</script>
	{{?it.isLogged == true}}
	<script>
		var client = new Client();
        setInterval(client.getMsgInfo , 5000);
        lang = $('#lang').val();
	</script>
	{{?}}
</html>