<!DOCTYPE>
<html>
<head>
  <meta charset = "utf8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>OTCMODE</title>

  <link rel = "stylesheet" href = "../dist/css/bootstrap.css">
  <link rel = "stylesheet" href = "../dist/css/font-awesome.min.css">
  <link rel = "stylesheet" href = "../dist/css/toastr.min.css">

  <link href="../dist/css/custom.css" rel="stylesheet">
  <link href="../dist/css/custom-mobile.css" rel="stylesheet">


  <link rel="icon" href="/images/favicon/otc256.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/otc57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/otc72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/otc114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/otc144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/otc60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/otc76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/otc120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/otc152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/otc180.png">
  <link rel="icon" sizes="128×128" href="/images/favicon/otc128.png">
  <link rel="icon" sizes="192×192" href="/images/favicon/otc192.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /**{
      font-family : simhei;
    }*/

  </style>
</head>
<body class = "">
{{##def.format:param:{{=(param.n).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class = "container">
    <a href="/?clang={{=it.translation['langfor']}}"><img src = "/images/mark.png" id = 'id_imgLogo'></a>
    <div style="display: inline-block;">
      {{?it.isLogged == false}}
      <a class="nav-link" href="/register"><button class = "btn btn-success btn-sm" style="width: 50px; font-size: 12px">{{=it.translation['register']}}</button></a>
      {{?}}
      {{?it.isLogged == true}}
      <a class="nav-link" href="/dashboard"  id="notify" style="display:none;"><img src="/images/notification.png" style="width: 25px"><span class="badge1" data-badge=""></span></a>
      {{?}}
      <a class="nav-link" href="/{{?!it.isLogged}}login{{??}}logout{{?}}"><button class = "btn btn-outline-success btn-sm"  style="width: 50px; font-size: 12px">{{?it.isLogged == false}}{{=it.translation['login']}}{{??}}{{=it.translation['logout']}}{{?}}</button></a>

      <a class="dropdown-toggle mx-2" id="langdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class ="flag {{?it.translation['langfor']=='en'}}flag-en{{??}}flag-ch{{?}}"></span>
      </a>
      <div class="dropdown-menu"  style="left: auto;right: 0" aria-labelledby="langdropdown">
        <a class="dropdown-item" href="?clang=en"><span class = "flag flag-en" >English</span></a>
        <a class="dropdown-item" href="?clang=zh"><span class = "flag flag-ch" >中文简体</span></a>
      </div>
      <button class="dropdown-toggle" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="dropdown-menu bg-light" id="navbarSupportedContent" style="left: auto; right: 0px">
      <ul class="navbar-nav ml-auto">

        <li class="dropdown-item">
          <a class="nav-link" href="/requestTradeSell">{{=it.translation['buysell'] }}</a>
        </li>
        <li class="dropdown-item">
          <a class="nav-link" href="/wallet">{{=it.translation['wallet']}}</a>
        </li>
        <li class="dropdown-item">
          <a class="nav-link" href="/dashboard">{{=it.translation['dashboard']}}</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class = "madaex-logo text-center">
  <h1>{{=it.translation['mainstream']}}</h1>
  <h1>{{=it.translation['simple']}}</h1>
</div>
<div class = "mid-panel">
  <div class = "container text-center">
    <a href = "/requestTradeSell" {{?it.flag == 1}}class = "text-green px-5"{{??it.flag == 2}}class = "text-grey px-5"{{?}}>{{=it.translation['iamseller']}}</a>
    <a href = "/requestTradeBuy" {{?it.flag == 2}}class = "text-green px-5"{{??it.flag == 1}}class = "text-grey px-5"{{?}}>{{=it.translation['iambuyer']}}</a>
  </div>
</div>
<!-- This is for msgs coming -->
<main>
  <input hidden="true" id="txid" value="{{=it.trading.txid}}">
  <input hidden="true" id="user_id" value="{{=it.user.id}}" >
  <input hidden="true" id="created_at" value="{{=it.trading.created_at}}">
  <input type="text" value="{{=it.translation['langfor']}}" hidden="true" id = "lang">
</main>
<!-- This is for msgs coming -->

<section class = "main-back">

  <div class = "container">
    <div class = "text-center px-3">
      <img src = "/images/flow-line-{{=it.translation['langfor']}}-4.png" id='id_imgFlowLine'>
    </div>
    <div class="main-back">
      <div class="background-grey p-2 my-3">
        {{?it.flag==1}}
        {{?it.translation['langfor']=='en'}}
        You sell {{=it.trading['market']}} to {{=it.client['user_name']}}
        {{??}}
        您向{{=it.client['user_name']}}购卖{{=it.trading['market']}}
        {{?}}
        {{??}}
        {{?it.translation['langfor']=='en'}}
        You buy {{=it.trading['market']}} from {{=it.client['user_name']}}
        {{??}}
        您向{{=it.client['user_name']}}购买{{=it.trading['market']}}
        {{?}}
        {{?}}

      </div>
      <div class = "background-grey line-height-70">
        <div class = "table-responsive">
          <table class = "table">
            <thead>
            <tr >
              <th>{{=it.translation["floatingcost"]}}
              </th>
              <th>{{=it.translation["translimit"]}}
              </th>
              <th>{{=it.translation["transactionmethod"]}}
              </th>
              <th>{{=it.translation["expire"]}}
              </th>
              <th>{{=it.translation["status"]}}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr style = "display : none">
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class = "text-wrapper">
                {{?it.trading.market == 'BTC'}}
                {{=it.trading.ex_btc_cost}}CNY/
                {{??it.trading.market == 'ETH'}}
                {{=it.trading.ex_eth_cost}}CNY/
                {{??}}
                {{=it.trading.ex_mdc_cost}}CNY/
                {{?}}
                {{=it.trading.market}}
              </td>
              <td class = "text-wrapper">
                {{=it.trading.volumn}}{{=it.trading.market}}
              </td>
              <td class = "text-wrapper">
                {{?it.client['alipay_account'] != ''}}
                <span class = "method method-ali"></span>
                {{?}}
                {{?it.client['bank_account'] != ''}}
                <span class = "method method-bank"></span>
                {{?}}

              </td>
              <td class = "text-wrapper">
                <span id="deadline">{{=it.trading.deadline}}</span>{{=it.translation.minute}}
              </td>
              <td class="text-wrapper">
                {{=it.translation.added}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="background-grey text-grey row mt-1">
        <div class="text-left col">
          {{=it.translation['currentfee']}}: {{#def.format: {n: it.trading.fee * it.trading.cost, decimals: 2 } }}CNY
        </div>
        <div class="text-right col">
          {{=it.translation['totalamount']}}: {{=it.client.balance_btc}}<br>
          {{=it.translation['exchange']}}: 0.923749
        </div>
      </div>
      <div class="p-2 text-grey">
        {{?it.translation['langfor']=='en'}}
        <span class="text-green mt-3">Transaction Description:</span><br>
        <span>1. As soon as you place an order, the currency is locked up in the north and the payment is settled. </span><br>
        <span>2. Orders placed between 1:00pm and 7:00am the next morning will be paid after waking up at 8:00am. It is really tired and forgotten.</span><br><br>
        <span class="text-green">Seller payment account</span><br>
        <span class = "method method-bank"></span><br>
        {{??}}
        <span class="text-green mt-3">交易说明：</span><br>
        <span>1.您一开始下单，币就北锁起来了，放心付款。 </span><br>
        <span>2. 晚上1:00-次日凌晨7:00之间所下订单会在早8:00睡醒后放币，实在乏累，忘见谅。 </span><br><br>
        <span class="text-green">卖家收款帐号</span><br>
        <span class = "method method-bank"></span><br>
        {{?}}
        <button class = "btn btn-success mx-auto d-block px-5" data-toggle="modal" data-target="#chatModal" onclick="openChat()">{{?it.translation['langfor']=='zh'}}联系{{?it.flag == 1}}买家{{??}}卖家{{?}}{{??}}Contact {{?it.flag == 1}}Buyer{{??}}Seller{{?}} {{?}}</button>

        <!-- Chat Modal  -->
        <div class="modal fade" id="chatModal" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content modal-height" >
              <div class="modal-header bg-success" style="display: block">
                <h4  class="modal-title text-white float-left">{{?it.translation['langfor']=='zh'}}聊天窗口{{??}}Chat Window{{?}}</h4>
                <button type="button" class="close text-white float-right" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body bg-light chat-back">
                <ui id="chatbox">

                </ui>
              </div>
              <div class="modal-footer m-1">
                <form method = "POST" id = "uploadTest"  enctype = "multipart/form-data" onsubmit="return myfunction()" hidden>
                  <input type = "file" name = "uploadImage" id="file">
                  <input type = "submit" value = "Upload" id="sendImage">
                  <input type = "reset" value = "Upload" id="reset">

                </form>
                <div class="btn" onclick="$('#file').click()" ><i class="fa fa-file-image-o" style="font-size:24px"></i></div>
                <br>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="{{?it.translation['langfor']=='zh'}}输入消息..{{??}}Input Message..{{?}}" id = "msg" onkeypress="sendMessageEnter(event)">
                  <span class="input-group-btn">
                    <button  class="btn btn-outline-light text-dark" id="sendChat">
                        {{?it.translation['langfor']=='zh'}}发送{{??}}Send{{?}}
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>
        {{?it.translation['langfor']=='en'}}
        <div class="text-center">EOS hosting time remaining <span name="left_time" class="text-green">00:00</span> Overdue will be automatically cancelled <br> Please pay in time and click on the marked payment</div><br>
        {{??}}
        <div class="text-center">EOS 托管时间剩余 <span name="left_time" class="text-green">00:00</span> 逾期将自动取消<br>请及时付款并点击标记付款</div><br>
        {{?}}
        {{?it.flag==2}}
        <input type="button" value="{{?it.translation['langfor']=='zh'}}请等待买家付款{{??}}Please wait seller's payment{{?}}" class = "btn btn-success mx-auto d-block padding-x-100 mb-4" disabled>
        {{??}}
        <input type="button" value="{{?it.translation['langfor']=='zh'}}标记付款已完成{{??}}Tag payment completed{{?}}" class = "btn btn-success mx-auto d-block padding-x-100 mb-4" id = "release">
        {{?}}
        <input type="button" value="{{?it.translation['langfor']=='zh'}}延长订单有效期{{??}}Extended order validity{{?}}" class = "btn btn-outline-success mx-auto d-block padding-x-100 mb-4" id = "delayTrading">
        <input type="button" value="{{?it.translation['langfor']=='zh'}}取消交易{{??}}Cancel the deal{{?}}" class = "btn btn-outline-success mx-auto d-block padding-x-100 mb-4" id = "cancelTrading">
        {{?it.translation['langfor']=='en'}}
        <div class="text-center">Please do not arbitrarily cancel the order! Any order cancellation will be affected by the transaction subject's complaint will affect the system credit score, account scores will be frozen for a few days.</div><br>
        <div class="bg-white py-4">
          • You do not need to provide the wallet address to the {{?it.flag == 1}}buyer{{??}}seller{{?}}. After the transaction is completed, the digital currency will be automatically transferred to your wallet on OTCBTC<br>
          • OTC time is usually 5~60 minutes, depending on whether the seller is online or not, and the timing of confirmation of the account, please be patient. <br>
          • If you haven’t received a response from the seller for a long time, or if the seller has not released the digital currency, you can submit a work order to initiate an appeal and the customer service staff will assist
        </div>
        {{??}}
        <div class="text-center">请勿随意取消订单! 任意取消订单者，被交易对象投诉将影响系统信用分数，分数过低者帐号会被冻结数天。</div><br>
        <div class="bg-white py-4">
          • 您不需要提供钱包地址给{{?it.flag == 1}}买家{{??}}卖家{{?}}，交易完成后数字货币将自动转入您在 OTCBTC 上的钱包中<br>
          • 场外交易时间通常为 5~60 分钟，具体时间依据卖家是否在线，及确认帐款的时间而有所调整，请耐心等待<br>
          • 若长时间未收到卖家的回复，或卖家未释放数字货币，您可以提交工单发起申诉，客服人员将协助处理
        </div>
        {{?}}


      </div>
    </div>


  </div>
</section>

<footer>
  <div class = "container footer-intro">
    <div class = "row">
      <div class = "col-5">
        <h6 class = "text-light text-center">
          {{=it.translation['customerservice']}}
        </h6>
        <div class="row">
          <div class="col-6 text-center">
            <ul class = "text-light">
              <li><a href = "/faq?clang={{=it.translation['langfor']}}">{{=it.translation['faq']}}</a></li>
              <!-- <li><a href = "/services">{{=it.translation['helpcenter']}}</a></li> -->
              <li><a href = "/exchangeratio?clang={{=it.translation['langfor']}}">{{=it.translation['exchangerate']}}</a></li>
            </ul>
          </div>
          <div class="col-6 text-center">
            <ul class = "text-light">
              <li><a href = "/aboutus?clang={{=it.translation['langfor']}}">{{=it.translation['aboutus']}}</a></li>
              <li><a href = "/?clang={{=it.translation['langfor']}}">{{=it.translation['contactus']}}</a></li>
            </ul>
          </div>
        </div>

      </div>
      <div class = "col-7">
        <h6 class = "text-light">
          OTCMODE
        </h6>
        <span>
				{{=it.translation['companyintro']}}
				</span>
      </div>

    </div>
  </div>
  <div class = "container footer-info border-top-grey">
    <span class = "float-left" ><a href = "/termsofservice?clang={{=it.translation['langfor']}}">{{=it.translation['termsofservice']}}</a> {{=it.translation['privacypolicy']}} | OTCMODE&copy;2017-2018</span>
    <span class = "float-right">{{=it.translation['servicetime']}}:10:00 - 22:00/*(UTC + 08:00)*/</span>
  </div>
</footer>
</body>
<script>
      (function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","//assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
      ud({
          "code": "2b916c16",
          "link": "https://madabit.udesk.cn/im_client/?web_plugin_id=48770"
      });
    </script>
<script type = "text/javascript" src = "../dist/js/jquery-3.3.1.js">
</script>
<script type = "text/javascript" src = "../dist/js/bootstrap.js">
</script>
<script type="text/javascript" src="../dist/js/index1.js"></script>
<script src = "../dist/js/socket.io.js">
</script>
<script src = "../dist/js/client.js">
</script>

<script type = "text/javascript" src = "../dist/js/toastr.min.js">
</script>
<script type = "text/javascript" src = "../dist/js/ui-toastr.js">
</script>
{{?it.isLogged == true}}
<script>
    var client = new Client();
    let txid ;
    let user_id;
    let lang = $('#lang').val();
    $(document).ready(function()
    {
        client.getMsgInfo();
        setInterval(client.getMsgInfo , 5000);
        user_id = parseInt($('#user_id').val());
        txid = $("#txid").val();
        setInterval(showLeftTime, 1000);

        $.ajax({
            url : '/getAllMessage',
            data : {
                txid : txid
            },
            type : 'POST',
            success : function(response){
                if(response.status === 'success'){
                    let chats = response.msg;
                    chats.forEach(chat =>{
                        insertMessage1(chat);
                    })
                } else {
                    showAlert(response.msg, 'error');
                }
            }
        });
    });
    $("#release").click(function () {
        $('#release').attr({disabled : 'false'});
        client.releaseTrading(txid);
    });
    $("#delayTrading").click(function () {
        if (parseInt($("#deadline").text())>=60){
            showAlert("You can't delay the limit time any more.", 'warning');
        } else
            client.delayTrading(txid);
    });
    $("#cancelTrading").click(function () {
        client.cancelTrading(txid);
    });

    function showAlert(str,status)
    {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "10000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "2000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr[status](str);
    }
    function showLeftTime(){
        let created_at = Date.parse($('#created_at').val());
        let now  = new Date();
        let deadline = parseInt($('#deadline').text());
        let left_time = Math.round((created_at + deadline * 60000 - now.getTime())/1000);
        if( left_time <= 0){
            client.cancelTrading(txid);
        } else {
            let s = left_time % 60;
            let m = Math.floor(left_time / 60);
            let ss = s < 10 ? '0' + s : s;
            let mm = m < 10 ? '0' + m : m;
            $('span[name="left_time"]').text(mm + ":" + ss);
        }
    }
    $('#sendChat').click(function () {
        newMessage();
    });
    function newMessage(){
        let content = $('#msg').val();
        var filecount = $('#file')[0].files.length;
        if (content === '' && filecount === 0){
            return;
        }
        $('#msg').val(null);
        let imageUrl;
        if ( filecount === 0)
            client.sendMessage(txid, content, imageUrl);

        else {
            $('#sendImage').trigger('click');
        }

    }

    function insertMessage1(msg){
        let created_at = msg.created_at;
        let message = msg.content;
        let img_url = msg.img_url;

        if(user_id === msg.sender_id){
            if(img_url){
                $('<li class="sent"><img src="'+ msg.sender_img +'" alt="" /><span> &nbsp;You</span><a href="' + img_url +'" target="_blank"><img src="' + img_url + '" style="width: 200px;height: 200px; border-radius : 0; m-1"></img></a></li>').appendTo($('#chatbox'));
            }
            if (message) $('<li class="sent"><img src="'+ msg.sender_img +'" alt="" /><span> &nbsp;You</span><p>' + message + '</p></li>').appendTo($('#chatbox'));
        } else {
            if(img_url){
                $('<li class="replies"><img src="'+ msg.sender_img +'" alt="" /><span>' + msg.sender_name + '&nbsp;</span><a href="' + img_url +'" target="_blank"><img src="' + img_url + '" style="width: 200px;height: 200px; border-radius : 0; m-1"></img></a></li>').appendTo($('#chatbox'));
            }
            if(message)  $('<li class="replies"><img src="' + msg.sender_img + '" alt="" /><span>' + msg.sender_name + '&nbsp;</span><p>' + message + '</p></li>').appendTo($('#chatbox'));
        }
    }
    function sendMessageEnter(event){
        if(event.keyCode === 13 || event.which === 13){
            newMessage();
        }
    }
    function openChat(){
        client.readMsg();
    }
    function myfunction()
    {
        let formData = new FormData($('#uploadTest')[0]);
        $.ajax({
            url: '/test',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                let imageUrl = response.result;
                client.sendMessage(txid, "", imageUrl);
            }
        });
        return false;
    }
</script>
{{?}}
</html>